n8n/workflows/aktien/aktien-strategie-signale-ai-v2.json
{
  "name": "Aktien Strategie Signale (AI v2)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst STATE_FILE = '/tmp/aktien_signale_state.json';\nconst PERSISTENT_FILE = '/home/node/.n8n/aktien_signale_persistent.json';\n\nlet persistent = { sentToday: null, positions: {} };\ntry { persistent = JSON.parse(fs.readFileSync(PERSISTENT_FILE, 'utf8')); } catch(e) {}\nif (!persistent.positions) persistent.positions = {};\nconst todayDate = new Date().toISOString().slice(0, 10);\nif (!persistent.sentToday || persistent.sentToday.date !== todayDate) {\n  persistent.sentToday = { date: todayDate, stocks: [] };\n}\nfs.writeFileSync(PERSISTENT_FILE, JSON.stringify(persistent));\n\nconst companies = [\n  {id:1,name:\"Cisco Systems\",isin:\"US17275R1023\",branche:\"Technologie\"},\n  {id:2,name:\"Bristol Myers Squibb\",isin:\"US1101221083\",branche:\"Pharma\"},\n  {id:3,name:\"Air Products & Chemicals\",isin:\"US0091581068\",branche:\"Chemie\"},\n  {id:4,name:\"Keurig Dr Pepper\",isin:\"US49271V1008\",branche:\"Konsumg\\u00fcter/Getr\\u00e4nke\"},\n  {id:5,name:\"Royal Gold\",isin:\"US7802871084\",branche:\"Bergbau (Edelmetalle)\"},\n  {id:6,name:\"Republic Services\",isin:\"US7607591002\",branche:\"Entsorgung\"},\n  {id:7,name:\"GE Vernova\",isin:\"US36828A1016\",branche:\"Energie\"},\n  {id:8,name:\"Dollar General\",isin:\"US2566771059\",branche:\"Einzelhandel\"},\n  {id:9,name:\"General Mills\",isin:\"US3703341046\",branche:\"Lebensmittel\"},\n  {id:10,name:\"Oracle\",isin:\"US68389X1054\",branche:\"Technologie\"},\n  {id:11,name:\"Marvell Technology\",isin:\"US5738741041\",branche:\"Halbleiter\"},\n  {id:12,name:\"Intuit\",isin:\"US4612021034\",branche:\"Technologie/Software\"},\n  {id:13,name:\"GE HealthCare Technologies\",isin:\"US36266G1076\",branche:\"Medizintechnik\"},\n  {id:14,name:\"AT&T\",isin:\"US00206R1023\",branche:\"Telekommunikation\"},\n  {id:15,name:\"Verizon\",isin:\"US92343V1044\",branche:\"Telekommunikation\"},\n  {id:16,name:\"Iberdrola\",isin:\"ES0144580Y14\",branche:\"Versorger\"},\n  {id:17,name:\"Hormel Foods\",isin:\"US4404521001\",branche:\"Lebensmittel\"},\n  {id:18,name:\"Repsol\",isin:\"ES0173516115\",branche:\"Energie\"},\n  {id:19,name:\"Accenture\",isin:\"IE00B4BNMY34\",branche:\"IT-Dienstleistungen\"},\n  {id:20,name:\"Kering\",isin:\"FR0000121485\",branche:\"Luxusg\\u00fcter\"},\n  {id:21,name:\"Comcast\",isin:\"US20030N1019\",branche:\"Medien/Telekommunikation\"},\n  {id:22,name:\"Abbott Laboratories\",isin:\"US0028241000\",branche:\"Gesundheitswesen\"},\n  {id:23,name:\"Freeport-McMoRan\",isin:\"US35671D8570\",branche:\"Bergbau\"},\n  {id:24,name:\"Ryanair\",isin:\"IE00BYTBXV33\",branche:\"Luftfahrt\"},\n  {id:25,name:\"AbbVie\",isin:\"US00287Y1091\",branche:\"Pharma\"},\n  {id:26,name:\"General Dynamics\",isin:\"US3695501086\",branche:\"R\\u00fcstung\"},\n  {id:27,name:\"Enel\",isin:\"IT0003128367\",branche:\"Versorger\"},\n  {id:28,name:\"Caterpillar\",isin:\"US1491231015\",branche:\"Industrie/Maschinenbau\"},\n  {id:29,name:\"Zoetis\",isin:\"US98978V1035\",branche:\"Tiermedizin\"},\n  {id:30,name:\"Dell Technologies\",isin:\"US24703L2025\",branche:\"Technologie\"},\n  {id:31,name:\"Carrier Global\",isin:\"US14448C1045\",branche:\"Industrie/Klima\"},\n  {id:32,name:\"Colgate-Palmolive\",isin:\"US1941621039\",branche:\"Konsumg\\u00fcter\"},\n  {id:33,name:\"Lowes Companies\",isin:\"US5486611073\",branche:\"Heimwerkereinzelhandel\"},\n  {id:34,name:\"CVS Health\",isin:\"US1266501006\",branche:\"Gesundheitsversorgung\"},\n  {id:35,name:\"Procter & Gamble\",isin:\"US7427181091\",branche:\"Konsumg\\u00fcter\"},\n  {id:36,name:\"Pfizer\",isin:\"US7170811035\",branche:\"Pharma\"},\n  {id:37,name:\"Clorox\",isin:\"US1890541097\",branche:\"Konsumg\\u00fcter\"},\n  {id:38,name:\"Paychex\",isin:\"US7043261079\",branche:\"HR-Software/Industrie\"},\n  {id:39,name:\"Fastenal\",isin:\"US3119001044\",branche:\"Industrie/Handel\"},\n  {id:40,name:\"Constellation Brands\",isin:\"US21036P1084\",branche:\"Getr\\u00e4nke\"},\n  {id:41,name:\"Realty Income\",isin:\"US7561091049\",branche:\"Immobilien (REIT)\"},\n  {id:42,name:\"Texas Instruments\",isin:\"US8825081040\",branche:\"Halbleiter\"},\n  {id:43,name:\"Costco Wholesale\",isin:\"US22160K1051\",branche:\"Einzelhandel\"},\n  {id:44,name:\"EPR Properties\",isin:\"US26884U1097\",branche:\"Immobilien (REIT)\"},\n  {id:45,name:\"NNN REIT\",isin:\"US6374171063\",branche:\"Immobilien (REIT)\"},\n  {id:46,name:\"Agree Realty\",isin:\"US0084921008\",branche:\"Immobilien (REIT)\"},\n  {id:47,name:\"Tanger Factory Outlet\",isin:\"US8754781031\",branche:\"Immobilien (REIT)\"},\n  {id:48,name:\"thyssenkrupp\",isin:\"DE0007500001\",branche:\"Industrie/Stahl\"},\n  {id:49,name:\"Nokia\",isin:\"FI0009000681\",branche:\"Technologie/Telekommunikation\"},\n  {id:50,name:\"Kinder Morgan\",isin:\"US49456B1017\",branche:\"Energie/Pipelines\"},\n  {id:51,name:\"ONEOK\",isin:\"US6826801036\",branche:\"Energie/Pipelines\"},\n  {id:52,name:\"Var Energi\",isin:\"NO0010835652\",branche:\"Energie\"},\n  {id:53,name:\"D.R. Horton\",isin:\"US23331A1097\",branche:\"Bauwesen\"},\n  {id:54,name:\"Siemens Healthineers\",isin:\"DE000SHL1006\",branche:\"Medizintechnik\"},\n  {id:55,name:\"Parker-Hannifin\",isin:\"US7010941042\",branche:\"Industrie\"},\n  {id:56,name:\"Cheniere Energy\",isin:\"US16411R2085\",branche:\"Energie (LNG)\"},\n  {id:57,name:\"Apple\",isin:\"US0378331005\",branche:\"Technologie\"},\n  {id:58,name:\"ASML Holding\",isin:\"NL0010273215\",branche:\"Halbleiter\"},\n  {id:59,name:\"Omega Healthcare\",isin:\"US6819361006\",branche:\"Gesundheitsimmobilien (REIT)\"},\n  {id:60,name:\"IBM\",isin:\"US4592001014\",branche:\"Technologie\"},\n  {id:61,name:\"American Water Works\",isin:\"US0304201033\",branche:\"Versorger\"},\n  {id:62,name:\"Target\",isin:\"US87612E1064\",branche:\"Einzelhandel\"},\n  {id:63,name:\"ExxonMobil\",isin:\"US30231G1022\",branche:\"Energie\"},\n  {id:64,name:\"3M\",isin:\"US88579Y1010\",branche:\"Industrie/Konglomerat\"},\n  {id:65,name:\"Siemens\",isin:\"DE0007236101\",branche:\"Industrie/Technologie\"},\n  {id:66,name:\"Starbucks\",isin:\"US8552441094\",branche:\"Gastronomie\"},\n  {id:67,name:\"Eli Lilly\",isin:\"US5324571083\",branche:\"Pharma\"},\n  {id:68,name:\"Amgen\",isin:\"US0311621009\",branche:\"Biotechnologie\"},\n  {id:69,name:\"Church & Dwight\",isin:\"US1713401024\",branche:\"Konsumg\\u00fcter\"},\n  {id:70,name:\"Cintas\",isin:\"US1729081059\",branche:\"Industrie/Dienstleistungen\"},\n  {id:71,name:\"Aurubis\",isin:\"DE0006766504\",branche:\"Metalle/Kupfer\"},\n  {id:72,name:\"Ford Motor\",isin:\"US3453708600\",branche:\"Automobil\"},\n  {id:73,name:\"Kroger\",isin:\"US5010441013\",branche:\"Lebensmitteleinzelhandel\"},\n  {id:74,name:\"J.M. Smucker\",isin:\"US8326964058\",branche:\"Lebensmittel\"},\n  {id:75,name:\"Teradyne\",isin:\"US8807701029\",branche:\"Technologie/Testgeraete\"},\n  {id:76,name:\"Equinor\",isin:\"NO0010096985\",branche:\"Energie\"},\n  {id:77,name:\"Hermes\",isin:\"FR0000052292\",branche:\"Luxusg\\u00fcter\"},\n  {id:78,name:\"Aker BP\",isin:\"NO0010345853\",branche:\"Energie\"},\n  {id:79,name:\"Chevron\",isin:\"US1667641005\",branche:\"Energie\"},\n  {id:80,name:\"United Parcel Service\",isin:\"US9113121068\",branche:\"Logistik\"},\n  {id:81,name:\"Hershey\",isin:\"US4278661081\",branche:\"Lebensmittel\"},\n  {id:82,name:\"Archer Daniels Midland\",isin:\"US0394831020\",branche:\"Agrar/Lebensmittel\"},\n  {id:83,name:\"Enbridge\",isin:\"CA29250N1050\",branche:\"Energie/Pipelines\"},\n  {id:84,name:\"KLA Corporation\",isin:\"US4824801009\",branche:\"Halbleiter\"},\n  {id:85,name:\"ConocoPhillips\",isin:\"US20825C1045\",branche:\"Energie\"},\n  {id:86,name:\"Hasbro\",isin:\"US4180561072\",branche:\"Spielzeug/Unterhaltung\"},\n  {id:87,name:\"Microsoft\",isin:\"US5949181045\",branche:\"Technologie\"},\n  {id:88,name:\"Shell\",isin:\"GB00BP6MXD84\",branche:\"Energie\"},\n  {id:89,name:\"BP\",isin:\"GB0007980591\",branche:\"Energie\"},\n  {id:90,name:\"Imperial Brands\",isin:\"GB0004544929\",branche:\"Tabak\"},\n  {id:91,name:\"GlaxoSmithKline\",isin:\"GB0009252882\",branche:\"Pharma\"},\n  {id:92,name:\"Applied Materials\",isin:\"US0382221051\",branche:\"Halbleiter\"},\n  {id:93,name:\"AstraZeneca\",isin:\"GB0009895292\",branche:\"Pharma\"},\n  {id:94,name:\"EasyJet\",isin:\"GB0002875804\",branche:\"Luftfahrt\"},\n  {id:95,name:\"Infineon Technologies\",isin:\"DE0006231004\",branche:\"Halbleiter\"},\n  {id:96,name:\"Mowi\",isin:\"NO0003054108\",branche:\"Lebensmittel (Fisch)\"},\n  {id:97,name:\"RTX\",isin:\"US75513E1010\",branche:\"Ruestung/Luft- und Raumfahrt\"},\n  {id:98,name:\"Regeneron Pharmaceuticals\",isin:\"US75886F1075\",branche:\"Biotechnologie\"},\n  {id:99,name:\"Yum! Brands\",isin:\"US9884981013\",branche:\"Gastronomie\"},\n  {id:100,name:\"Northrop Grumman\",isin:\"US6668071029\",branche:\"Ruestung\"},\n  {id:101,name:\"Organon\",isin:\"US68622V1061\",branche:\"Pharma\"},\n  {id:102,name:\"Johnson & Johnson\",isin:\"US4781601046\",branche:\"Gesundheitswesen\"},\n  {id:103,name:\"Xylem\",isin:\"US98419M1009\",branche:\"Wasserversorgung/Industrie\"},\n  {id:104,name:\"Skyworks Solutions\",isin:\"US83088M1027\",branche:\"Halbleiter\"},\n  {id:105,name:\"Snap-on\",isin:\"US8330341012\",branche:\"Werkzeuge/Industrie\"},\n  {id:106,name:\"Tractor Supply\",isin:\"US8923561061\",branche:\"Einzelhandel\"},\n  {id:107,name:\"Equinix\",isin:\"US29444U7000\",branche:\"Rechenzentren (REIT)\"},\n  {id:108,name:\"Unilever\",isin:\"GB00B10RZP78\",branche:\"Konsumgueter\"},\n  {id:109,name:\"Delta Air Lines\",isin:\"US2473617023\",branche:\"Luftfahrt\"},\n  {id:110,name:\"Nextera Energy\",isin:\"US65339F1012\",branche:\"Versorger\"},\n  {id:111,name:\"Union Pacific\",isin:\"US9078181081\",branche:\"Eisenbahn\"},\n  {id:112,name:\"Barrick Mining\",isin:\"CA0679011084\",branche:\"Bergbau (Gold)\"},\n  {id:113,name:\"T-Mobile US\",isin:\"US8725901040\",branche:\"Telekommunikation\"},\n  {id:114,name:\"First Majestic Silver\",isin:\"CA32076V1031\",branche:\"Bergbau (Silber)\"},\n  {id:115,name:\"Estee Lauder\",isin:\"US5184391044\",branche:\"Kosmetik\"},\n  {id:116,name:\"Dow Inc.\",isin:\"US2605571031\",branche:\"Chemie\"},\n  {id:117,name:\"Honeywell\",isin:\"US4385161066\",branche:\"Industrie/Technologie\"},\n  {id:118,name:\"Nike\",isin:\"US6541061031\",branche:\"Sportartikel\"},\n  {id:119,name:\"Lockheed Martin\",isin:\"US5398301094\",branche:\"Ruestung\"},\n  {id:120,name:\"Hoegh Autoliners\",isin:\"NO0010119947\",branche:\"Schifffahrt\"},\n  {id:121,name:\"Pan American Silver\",isin:\"CA6979001089\",branche:\"Bergbau (Silber)\"},\n  {id:122,name:\"Agnico Eagle Mines\",isin:\"CA0084741085\",branche:\"Bergbau (Gold)\"},\n  {id:123,name:\"Fortescue\",isin:\"AU000000FMG4\",branche:\"Bergbau (Eisenerz)\"},\n  {id:124,name:\"LyondellBasell Industries\",isin:\"NL0009434992\",branche:\"Chemie\"},\n  {id:125,name:\"Sherwin-Williams\",isin:\"US8243481061\",branche:\"Farben/Baustoffe\"},\n  {id:126,name:\"McDonald's\",isin:\"US5801351017\",branche:\"Gastronomie\"},\n  {id:127,name:\"Newmont\",isin:\"US6516391066\",branche:\"Bergbau (Gold)\"},\n  {id:128,name:\"Lam Research\",isin:\"US5128071082\",branche:\"Halbleiter\"},\n  {id:129,name:\"Old Dominion Freight Line\",isin:\"US6795801009\",branche:\"Logistik\"},\n  {id:130,name:\"Rio Tinto\",isin:\"GB0007188757\",branche:\"Bergbau\"},\n  {id:131,name:\"Qualcomm\",isin:\"US7475251036\",branche:\"Halbleiter\"},\n  {id:132,name:\"BHP\",isin:\"AU000000BHP4\",branche:\"Bergbau\"},\n  {id:133,name:\"Western Digital\",isin:\"US9581021055\",branche:\"Technologie (Datenspeicher)\"},\n  {id:134,name:\"PepsiCo\",isin:\"US7134481081\",branche:\"Lebensmittel/Getraenke\"},\n  {id:135,name:\"Kraft Heinz\",isin:\"US5007541064\",branche:\"Lebensmittel\"},\n  {id:136,name:\"Kimberly-Clark\",isin:\"US4943681035\",branche:\"Konsumgueter\"},\n  {id:137,name:\"eBay\",isin:\"US2786421030\",branche:\"E-Commerce\"},\n  {id:138,name:\"B2Gold\",isin:\"CA11777Q2099\",branche:\"Bergbau (Gold)\"},\n  {id:139,name:\"General Motors\",isin:\"US37045V1008\",branche:\"Automobil\"},\n  {id:140,name:\"L3Harris Technologies\",isin:\"US5024311095\",branche:\"Ruestung\"},\n  {id:141,name:\"Royal Caribbean Cruises\",isin:\"LR0008862868\",branche:\"Kreuzfahrt/Touristik\"},\n  {id:142,name:\"Alphabet A\",isin:\"US02079K3059\",branche:\"Technologie\"},\n  {id:143,name:\"UnitedHealth\",isin:\"US91324P1021\",branche:\"Gesundheitsversorgung\"},\n  {id:144,name:\"Viatris\",isin:\"US92556V1061\",branche:\"Pharma\"},\n  {id:145,name:\"GE Aerospace\",isin:\"US3696043013\",branche:\"Luft- und Raumfahrt\"},\n  {id:146,name:\"FedEx\",isin:\"US31428X1063\",branche:\"Logistik\"},\n  {id:147,name:\"Constellation Energy\",isin:\"US21037T1097\",branche:\"Energie/Versorger\"},\n  {id:148,name:\"Hecla Mining\",isin:\"US4228531031\",branche:\"Bergbau (Silber)\"},\n  {id:149,name:\"Occidental Petroleum\",isin:\"US6745991058\",branche:\"Energie\"},\n  {id:150,name:\"Novartis\",isin:\"CH0012005267\",branche:\"Pharma\"},\n  {id:151,name:\"Canadian National Railway\",isin:\"CA1363751027\",branche:\"Eisenbahn\"},\n  {id:152,name:\"Stanley Black & Decker\",isin:\"US8545021011\",branche:\"Werkzeuge/Industrie\"},\n  {id:153,name:\"Weyerhaeuser\",isin:\"US9621661043\",branche:\"Forst/Immobilien (REIT)\"},\n  {id:154,name:\"Simon Property Group\",isin:\"US8288071091\",branche:\"Immobilien (REIT)\"},\n  {id:155,name:\"Nvidia\",isin:\"US67066G1040\",branche:\"Halbleiter\"},\n  {id:156,name:\"Linde plc\",isin:\"IE000S9YS762\",branche:\"Industrie/Gase\"},\n  {id:157,name:\"HP Inc.\",isin:\"US40434L1052\",branche:\"Technologie\"},\n  {id:158,name:\"Coca-Cola\",isin:\"US1912161007\",branche:\"Getraenke\"},\n  {id:159,name:\"Waste Management\",isin:\"US94106L1098\",branche:\"Entsorgung\"},\n  {id:160,name:\"Thermo Fisher Scientific\",isin:\"US8835561023\",branche:\"Labortechnologie\"},\n  {id:161,name:\"Albemarle\",isin:\"US0126531013\",branche:\"Chemie (Lithium)\"},\n  {id:162,name:\"Automatic Data Processing\",isin:\"US0530151036\",branche:\"HR/IT-Dienstleistungen\"},\n  {id:163,name:\"Gilead Sciences\",isin:\"US3755581036\",branche:\"Biotechnologie\"},\n  {id:164,name:\"Digital Realty Trust\",isin:\"US2538681030\",branche:\"Rechenzentren (REIT)\"},\n  {id:165,name:\"Dominos Pizza\",isin:\"US25754A2015\",branche:\"Gastronomie\"},\n  {id:166,name:\"Crown Castle\",isin:\"US22822V1017\",branche:\"Telekommunikation (REIT)\"},\n  {id:167,name:\"Devon Energy\",isin:\"US25179M1036\",branche:\"Energie\"},\n  {id:168,name:\"Meta Platforms\",isin:\"US30303M1027\",branche:\"Technologie\"},\n  {id:169,name:\"Merck & Co.\",isin:\"US58933Y1055\",branche:\"Pharma\"},\n  {id:170,name:\"Iron Mountain\",isin:\"US46284V1017\",branche:\"Datenmgmt. (REIT)\"},\n  {id:171,name:\"Public Storage\",isin:\"US74460D1090\",branche:\"Lagerimmobilien (REIT)\"},\n  {id:172,name:\"Pembina Pipeline\",isin:\"CA7063271034\",branche:\"Energie/Pipelines\"},\n  {id:173,name:\"TSMC (ADR)\",isin:\"US8740391003\",branche:\"Halbleiter\"},\n  {id:174,name:\"Vertiv\",isin:\"US92537N1081\",branche:\"Rechenzentren/Infrastruktur\"},\n  {id:175,name:\"Prologis\",isin:\"US74340W1036\",branche:\"Logistikimmobilien (REIT)\"},\n  {id:176,name:\"Texas Roadhouse\",isin:\"US8821891053\",branche:\"Gastronomie\"},\n  {id:177,name:\"Philip Morris\",isin:\"US7181721090\",branche:\"Tabak\"},\n  {id:178,name:\"VICI Properties\",isin:\"US9256521090\",branche:\"Immobilien/Gaming (REIT)\"},\n  {id:179,name:\"Walmart\",isin:\"US9311421039\",branche:\"Einzelhandel\"},\n  {id:180,name:\"ZIM Integrated Shipping\",isin:\"IL0011338814\",branche:\"Schifffahrt\"},\n  {id:181,name:\"Canadian Natural Resources\",isin:\"CA1363851017\",branche:\"Energie\"},\n  {id:182,name:\"Broadcom\",isin:\"US11135F1012\",branche:\"Halbleiter\"},\n  {id:183,name:\"MPC Container Ships\",isin:\"NO0010791353\",branche:\"Schifffahrt\"},\n  {id:184,name:\"Deutsche Telekom\",isin:\"DE0005557508\",branche:\"Telekommunikation\"},\n  {id:185,name:\"Mercedes-Benz\",isin:\"DE0007100000\",branche:\"Automobil\"},\n  {id:186,name:\"Nestle\",isin:\"CH0038863350\",branche:\"Lebensmittel\"},\n  {id:187,name:\"Airbus\",isin:\"NL0000235190\",branche:\"Luft- und Raumfahrt\"},\n  {id:188,name:\"Ferrari\",isin:\"NL0011585146\",branche:\"Automobil\"},\n  {id:189,name:\"Vinci\",isin:\"FR0000125486\",branche:\"Infrastruktur/Bau\"},\n  {id:190,name:\"Stellantis\",isin:\"NL00150001Q9\",branche:\"Automobil\"},\n  {id:191,name:\"E.ON\",isin:\"DE000ENAG999\",branche:\"Versorger\"},\n  {id:192,name:\"Beiersdorf\",isin:\"DE0005200000\",branche:\"Konsumgueter\"},\n  {id:193,name:\"Schaeffler\",isin:\"DE000SHA0159\",branche:\"Automobilzulieferer\"},\n  {id:194,name:\"Engie\",isin:\"FR0010208488\",branche:\"Versorger\"},\n  {id:195,name:\"LOreal\",isin:\"FR0000120321\",branche:\"Kosmetik\"},\n  {id:196,name:\"LVMH\",isin:\"FR0000121014\",branche:\"Luxusg\\u00fcter\"},\n  {id:197,name:\"Heineken\",isin:\"NL0000009165\",branche:\"Getraenke\"},\n  {id:198,name:\"Sanofi\",isin:\"FR0000120578\",branche:\"Pharma\"},\n  {id:199,name:\"SAP\",isin:\"DE0007164600\",branche:\"Technologie\"},\n  {id:200,name:\"Deutsche Post (DHL Group)\",isin:\"DE0005552004\",branche:\"Logistik\"},\n  {id:201,name:\"AB InBev\",isin:\"BE0974293251\",branche:\"Getraenke\"},\n  {id:202,name:\"Daimler Truck\",isin:\"DE000DTR0CK8\",branche:\"Automobil\"},\n  {id:203,name:\"Symrise\",isin:\"DE000SYM9999\",branche:\"Chemie/Duftstoffe\"},\n  {id:204,name:\"adidas\",isin:\"DE000A1EWWW0\",branche:\"Sportartikel\"},\n  {id:205,name:\"MTU Aero Engines\",isin:\"DE000A0D9PT0\",branche:\"Luft- und Raumfahrt\"},\n  {id:206,name:\"Allianz\",isin:\"DE0008404005\",branche:\"Versicherung\"},\n  {id:207,name:\"Muenchener Rueck\",isin:\"DE0008430026\",branche:\"Versicherung/Rueckversicherung\"},\n  {id:208,name:\"Hannover Rueck\",isin:\"DE0008402215\",branche:\"Versicherung/Rueckversicherung\"},\n  {id:209,name:\"Talanx\",isin:\"DE000TLX1005\",branche:\"Versicherung\"},\n  {id:210,name:\"Swiss Re\",isin:\"CH0126881561\",branche:\"Versicherung/Rueckversicherung\"},\n  {id:211,name:\"Zurich Insurance\",isin:\"CH0011075394\",branche:\"Versicherung\"},\n  {id:212,name:\"AXA\",isin:\"FR0000120628\",branche:\"Versicherung\"},\n  {id:213,name:\"Legal & General\",isin:\"GB0005603997\",branche:\"Versicherung\"},\n  {id:214,name:\"Ping An Insurance H\",isin:\"CNE1000003X6\",branche:\"Versicherung\"},\n  {id:215,name:\"Veolia Environnement\",isin:\"FR0000124141\",branche:\"Versorger/Entsorgung\"},\n  {id:216,name:\"Schneider Electric\",isin:\"FR0000121972\",branche:\"Industrie/Energie\"},\n  {id:217,name:\"Air Liquide\",isin:\"FR0000120073\",branche:\"Chemie/Gase\"},\n  {id:218,name:\"Thales\",isin:\"FR0000121792\",branche:\"Ruestung/Technologie\"},\n  {id:219,name:\"Holcim\",isin:\"CH0012214059\",branche:\"Baustoffe\"},\n  {id:220,name:\"Roche\",isin:\"CH0012032113\",branche:\"Pharma\"},\n  {id:221,name:\"Novo Nordisk B\",isin:\"DK0060534915\",branche:\"Pharma\"},\n  {id:222,name:\"Danaher\",isin:\"US2358511028\",branche:\"Gesundheitswesen/Technologie\"},\n  {id:223,name:\"Medtronic\",isin:\"IE00BTN1Y115\",branche:\"Medizintechnik\"},\n  {id:224,name:\"Sartorius\",isin:\"DE0007165631\",branche:\"Labortechnologie\"},\n  {id:225,name:\"BASF\",isin:\"DE000BASF111\",branche:\"Chemie\"},\n  {id:226,name:\"RWE\",isin:\"DE0007037129\",branche:\"Versorger\"},\n  {id:227,name:\"Continental\",isin:\"DE0005439004\",branche:\"Automobilzulieferer\"},\n  {id:228,name:\"Hapag-Lloyd\",isin:\"DE000HLAG475\",branche:\"Schifffahrt\"},\n  {id:229,name:\"Danone\",isin:\"FR0000120644\",branche:\"Lebensmittel\"},\n  {id:230,name:\"Knorr-Bremse\",isin:\"DE000KBX1006\",branche:\"Automobilzulieferer\"},\n  {id:231,name:\"Rheinmetall\",isin:\"DE0007030009\",branche:\"Ruestung\"},\n  {id:232,name:\"Lufthansa\",isin:\"DE0008232125\",branche:\"Luftfahrt\"},\n  {id:233,name:\"BMW\",isin:\"DE0005190003\",branche:\"Automobil\"},\n  {id:234,name:\"Heidelberg Materials\",isin:\"DE0006047004\",branche:\"Baustoffe\"},\n  {id:235,name:\"freenet\",isin:\"DE000A0Z2ZZ5\",branche:\"Telekommunikation\"},\n  {id:236,name:\"Vonovia\",isin:\"DE000A1ML7J1\",branche:\"Immobilien\"},\n  {id:237,name:\"Bilfinger\",isin:\"DE0005909006\",branche:\"Industrie/Bau\"},\n  {id:238,name:\"Brenntag\",isin:\"DE000A1DAHH0\",branche:\"Chemiehandel\"},\n  {id:239,name:\"Fresenius\",isin:\"DE0005785604\",branche:\"Gesundheitswesen\"},\n  {id:240,name:\"Fresenius Medical Care\",isin:\"DE0005785802\",branche:\"Gesundheitswesen\"},\n  {id:241,name:\"Wolters Kluwer\",isin:\"NL0000395903\",branche:\"Medien/Software\"},\n  {id:242,name:\"OMV\",isin:\"AT0000743059\",branche:\"Energie\"},\n  {id:243,name:\"Siemens Energy\",isin:\"DE000ENER6Y0\",branche:\"Energie\"},\n  {id:244,name:\"Volkswagen Vz\",isin:\"DE0007664039\",branche:\"Automobil\"},\n  {id:245,name:\"Porsche Vz\",isin:\"DE000PAH0028\",branche:\"Automobil\"},\n  {id:246,name:\"TotalEnergies\",isin:\"FR0014000MR3\",branche:\"Energie\"},\n  {id:247,name:\"Bayer\",isin:\"DE000BAY0017\",branche:\"Pharma/Chemie\"},\n  {id:248,name:\"Merck Gruppe\",isin:\"DE0006599905\",branche:\"Pharma/Chemie\"},\n  {id:249,name:\"VERBUND\",isin:\"AT0000746409\",branche:\"Versorger\"},\n  {id:250,name:\"Hochtief\",isin:\"DE0006070006\",branche:\"Bau/Infrastruktur\"},\n  {id:251,name:\"NXP Semiconductors\",isin:\"NL0009538784\",branche:\"Halbleiter\"},\n  {id:252,name:\"British American Tobacco\",isin:\"GB0002875804\",branche:\"Tabak\"},\n  {id:253,name:\"A.P. Moeller-Maersk B\",isin:\"DK0010244508\",branche:\"Schifffahrt/Logistik\"},\n  {id:254,name:\"Sika\",isin:\"CH0418792922\",branche:\"Baustoffe/Chemie\"},\n  {id:255,name:\"Alimentation Couche-Tard\",isin:\"CA01626P4033\",branche:\"Einzelhandel\"},\n  {id:256,name:\"Micron Technology\",isin:\"US5951121038\",branche:\"Halbleiter\"},\n  {id:257,name:\"Itochu\",isin:\"JP3143600009\",branche:\"Konglomerat\"},\n  {id:258,name:\"Nintendo\",isin:\"JP3756600007\",branche:\"Unterhaltungselektronik\"},\n  {id:259,name:\"Sony\",isin:\"JP3435000009\",branche:\"Unterhaltungselektronik\"},\n  {id:260,name:\"Daikin Industries\",isin:\"JP3481800005\",branche:\"Industrie/Klimatechnik\"},\n  {id:261,name:\"SoftBank\",isin:\"JP3436100006\",branche:\"Technologie\"},\n  {id:262,name:\"Toyota Motor\",isin:\"JP3633400001\",branche:\"Automobil\"},\n  {id:263,name:\"Mitsubishi\",isin:\"JP3898400001\",branche:\"Konglomerat\"},\n  {id:264,name:\"Panasonic\",isin:\"JP3866800000\",branche:\"Elektronikindustrie\"},\n  {id:265,name:\"Hitachi\",isin:\"JP3788600009\",branche:\"Industrie/Technologie\"},\n  {id:266,name:\"Marubeni\",isin:\"JP3877600001\",branche:\"Konglomerat\"},\n  {id:267,name:\"Mitsui & Co.\",isin:\"JP3893600005\",branche:\"Konglomerat\"},\n  {id:268,name:\"Andritz\",isin:\"AT0000730007\",branche:\"Industrie/Maschinenbau\"},\n  {id:269,name:\"Deere & Co.\",isin:\"US2441991054\",branche:\"Landmaschinen\"},\n  {id:270,name:\"Mondelez International\",isin:\"US6092071058\",branche:\"Lebensmittel\"},\n  {id:271,name:\"Stryker\",isin:\"US8636671013\",branche:\"Medizintechnik\"},\n  {id:272,name:\"W.P. Carey\",isin:\"US92936U1097\",branche:\"Immobilien (REIT)\"},\n  {id:273,name:\"Innovative Industrial Properties\",isin:\"US45781V1017\",branche:\"Immobilien (REIT)\"},\n  {id:274,name:\"Illinois Tool Works\",isin:\"US4523081093\",branche:\"Industrie\"},\n  {id:275,name:\"Alexandria Real Estate\",isin:\"US0152711091\",branche:\"Immobilien/Life Sciences (REIT)\"},\n  {id:276,name:\"Booking Holdings\",isin:\"US09857L1089\",branche:\"Reise/Online-Plattform\"},\n  {id:277,name:\"Tyson Foods A\",isin:\"US9024941034\",branche:\"Lebensmittel\"},\n  {id:278,name:\"ENI\",isin:\"IT0003132476\",branche:\"Energie\"},\n  {id:279,name:\"ABB\",isin:\"CH0012221716\",branche:\"Industrie/Elektrotechnik\"},\n  {id:280,name:\"STMicroelectronics\",isin:\"NL0000226223\",branche:\"Halbleiter\"},\n  {id:281,name:\"Altria Group\",isin:\"US02209S1033\",branche:\"Tabak\"},\n  {id:282,name:\"Volkswagen\",isin:\"DE0007664005\",branche:\"Automobil\"},\n  {id:283,name:\"Ecolab\",isin:\"US2788651006\",branche:\"Chemie/Industrie\"},\n  {id:284,name:\"STAG Industrial\",isin:\"US85254J1025\",branche:\"Industrie-Immobilien (REIT)\"},\n  {id:285,name:\"McCormick & Co\",isin:\"US5797802064\",branche:\"Lebensmittel\"},\n  {id:286,name:\"JD.com\",isin:\"KYG8208B1014\",branche:\"E-Commerce\"},\n  {id:287,name:\"Salesforce\",isin:\"US79466L3024\",branche:\"Technologie\"},\n  {id:288,name:\"Vestas Wind Systems\",isin:\"DK0061539921\",branche:\"Erneuerbare Energie\"},\n  {id:289,name:\"Ahold Delhaize\",isin:\"NL0011794037\",branche:\"Lebensmitteleinzelhandel\"},\n  {id:290,name:\"Sandoz\",isin:\"CH1244734483\",branche:\"Pharma (Generika)\"},\n  {id:291,name:\"American Tower\",isin:\"US03027X1000\",branche:\"Telekommunikation (REIT)\"},\n  {id:292,name:\"Davide Campari Milano\",isin:\"NL0015435975\",branche:\"Getraenke\"},\n  {id:293,name:\"Prysmian\",isin:\"IT0004176001\",branche:\"Kabel/Industrie\"},\n  {id:294,name:\"Diageo\",isin:\"GB0002374006\",branche:\"Getraenke\"},\n  {id:295,name:\"Rolls-Royce\",isin:\"GB00B63H8491\",branche:\"Luft- und Raumfahrt\"},\n  {id:296,name:\"BAE Systems\",isin:\"GB0002634946\",branche:\"Ruestung\"},\n  {id:297,name:\"Pernod Ricard\",isin:\"FR0000120693\",branche:\"Getraenke\"},\n  {id:298,name:\"FLEX LNG\",isin:\"BMG359472021\",branche:\"Schifffahrt (LNG)\"},\n  {id:299,name:\"BW LPG\",isin:\"BMG173841013\",branche:\"Schifffahrt\"},\n  {id:300,name:\"TORM\",isin:\"DK0060083210\",branche:\"Schifffahrt\"},\n  {id:301,name:\"Frontline Ltd\",isin:\"BMG3682E1921\",branche:\"Schifffahrt\"},\n  {id:302,name:\"Alibaba\",isin:\"KYG017191142\",branche:\"E-Commerce/Technologie\"},\n  {id:303,name:\"Geely Automobile\",isin:\"KYG3777B1032\",branche:\"Automobil\"},\n  {id:304,name:\"Orange\",isin:\"FR0000133308\",branche:\"Telekommunikation\"},\n  {id:305,name:\"BYD\",isin:\"CNE100000296\",branche:\"Automobil/Elektro\"},\n  {id:306,name:\"Krones\",isin:\"DE0006335003\",branche:\"Maschinenbau\"},\n  {id:307,name:\"Mensch und Maschine\",isin:\"DE0006580806\",branche:\"Technologie/CAD\"},\n  {id:308,name:\"RENK\",isin:\"DE000RENK730\",branche:\"Ruestung/Maschinenbau\"},\n  {id:309,name:\"Scout24\",isin:\"DE000A12DM80\",branche:\"Immobilien-Plattform\"},\n  {id:310,name:\"Telefonica\",isin:\"ES0178430E18\",branche:\"Telekommunikation\"},\n  {id:311,name:\"CD Projekt\",isin:\"PLCDPRT00015\",branche:\"Gaming/Technologie\"},\n  {id:312,name:\"Shimano\",isin:\"JP3358000002\",branche:\"Sportartikel/Industrie\"},\n  {id:313,name:\"Samsung Electronics\",isin:\"KR7005930003\",branche:\"Technologie\"},\n  {id:314,name:\"SK Hynix\",isin:\"KR7000660001\",branche:\"Halbleiter\"},\n  {id:315,name:\"Weichai Power\",isin:\"CNE1000003C9\",branche:\"Industrie/Motoren\"},\n  {id:316,name:\"CK Hutchison Holdings\",isin:\"KYG217651051\",branche:\"Konglomerat\"},\n  {id:317,name:\"National Grid\",isin:\"GB00BDR05C01\",branche:\"Versorger\"},\n  {id:318,name:\"Vale\",isin:\"BRVALEACNOR0\",branche:\"Bergbau\"},\n  {id:320,name:\"China Mobile\",isin:\"HK0941009539\",branche:\"Telekommunikation\"},\n  {id:321,name:\"Glencore\",isin:\"JE00B4T3BW64\",branche:\"Bergbau/Rohstoffe\"},\n  {id:322,name:\"Anglo American\",isin:\"GB00B1XZS820\",branche:\"Bergbau\"},\n  {id:323,name:\"Sibanye Stillwater\",isin:\"ZAE000259701\",branche:\"Bergbau (Platin/Gold)\"},\n  {id:324,name:\"Nutrien\",isin:\"CA67077M1086\",branche:\"Duengemittel\"},\n  {id:325,name:\"Wheaton Precious Metals\",isin:\"CA9628791027\",branche:\"Bergbau (Edelmetalle)\"},\n  {id:326,name:\"Jardine Matheson\",isin:\"SG1F51812073\",branche:\"Konglomerat\"},\n  {id:327,name:\"Kinross Gold\",isin:\"CA4969024047\",branche:\"Bergbau (Gold)\"},\n  {id:328,name:\"TransAlta\",isin:\"CA8931011069\",branche:\"Versorger\"},\n  {id:329,name:\"BB Biotech\",isin:\"CH0038389992\",branche:\"Biotechnologie\"},\n  {id:330,name:\"Leonardo\",isin:\"IT0003856405\",branche:\"Ruestung/Luft- und Raumfahrt\"},\n  {id:331,name:\"Evonik Industries\",isin:\"DE000EVNK013\",branche:\"Chemie\"},\n  {id:332,name:\"Hamborner REIT\",isin:\"DE0006013006\",branche:\"Immobilien (REIT)\"},\n  {id:333,name:\"Lenovo Group\",isin:\"HK0992009065\",branche:\"Technologie\"},\n  {id:334,name:\"Haier Smart Home D\",isin:\"CNE100003822\",branche:\"Konsumgueter (Haushaltsgeraete)\"},\n  {id:335,name:\"Tencent\",isin:\"KYG875721634\",branche:\"Technologie\"},\n  {id:336,name:\"Valterra Platinum\",isin:\"ZAE000243429\",branche:\"Bergbau (Platin)\"},\n  {id:337,name:\"Reliance Industries\",isin:\"US7594701077\",branche:\"Konglomerat\"},\n  {id:338,name:\"Borussia Dortmund\",isin:\"DE0005493092\",branche:\"Sport/Unterhaltung\"},\n  {id:339,name:\"UGI Corp\",isin:\"US9027881088\",branche:\"Energie/Versorger\"},\n  {id:340,name:\"Extra Space Storage\",isin:\"US30225T1025\",branche:\"Lagerimmobilien (REIT)\"},\n  {id:341,name:\"Leggett & Platt\",isin:\"US5239061030\",branche:\"Industrie/Konsumgueter\"},\n  {id:342,name:\"SL Green Realty\",isin:\"US78440X8857\",branche:\"Immobilien (REIT)\"},\n  {id:343,name:\"Northland Power\",isin:\"CA6663121082\",branche:\"Erneuerbare Energie\"},\n  {id:344,name:\"LTC Properties\",isin:\"US5021751020\",branche:\"Gesundheitsimmobilien (REIT)\"},\n  {id:345,name:\"RTL Group\",isin:\"LU0061462528\",branche:\"Medien\"},\n  {id:346,name:\"Rational AG\",isin:\"DE0007010803\",branche:\"Industrie/Kuechengeraete\"},\n  {id:347,name:\"Fraport\",isin:\"DE0005773303\",branche:\"Infrastruktur/Flughaefen\"},\n  {id:348,name:\"Infosys\",isin:\"INE009A01021\",branche:\"IT-Dienstleistungen\"},\n  {id:349,name:\"Yara International\",isin:\"NO0010208051\",branche:\"Duengemittel/Chemie\"},\n  {id:350,name:\"Emerson Electric\",isin:\"US2910111044\",branche:\"Industrie/Technologie\"},\n  {id:351,name:\"Eaton Corporation\",isin:\"IE00B8KQN827\",branche:\"Industrie/Energie\"},\n  {id:352,name:\"Cummins\",isin:\"US2310211063\",branche:\"Industrie/Motoren\"},\n  {id:353,name:\"Rockwell Automation\",isin:\"US7739031091\",branche:\"Industrie/Automatisierung\"},\n  {id:354,name:\"Wabtec Corp\",isin:\"US9297401088\",branche:\"Industrie/Bahn\"},\n  {id:355,name:\"Otis Worldwide\",isin:\"US68902V1070\",branche:\"Industrie/Aufzuege\"},\n  {id:356,name:\"IDEX\",isin:\"US45167R1041\",branche:\"Industrie/Pumpen\"},\n  {id:357,name:\"Ingersoll Rand\",isin:\"IE00BK9ZQ967\",branche:\"Industrie/Kompressoren\"},\n  {id:358,name:\"Howmet Aerospace\",isin:\"US4432011082\",branche:\"Luft- und Raumfahrt\"},\n  {id:359,name:\"Textron\",isin:\"US8832031012\",branche:\"Industrie/Konglomerat\"},\n  {id:360,name:\"Hubbell\",isin:\"US4435106049\",branche:\"Industrie/Elektrotechnik\"},\n  {id:361,name:\"AMETEK\",isin:\"US0311001004\",branche:\"Industrie/Messtechnik\"},\n  {id:362,name:\"Dover\",isin:\"US2600031080\",branche:\"Industrie/Diversifiziert\"},\n  {id:363,name:\"Fortive\",isin:\"US34959J1088\",branche:\"Industrie/Technologie\"},\n  {id:364,name:\"Nordson\",isin:\"US6556641008\",branche:\"Industrie/Dispersionstechnik\"},\n  {id:365,name:\"Allegion\",isin:\"IE00BFRT3W74\",branche:\"Industrie/Sicherheit\"},\n  {id:366,name:\"Masco\",isin:\"US5745991068\",branche:\"Industrie/Bau\"},\n  {id:367,name:\"Jacobs Solutions\",isin:\"US46990U1097\",branche:\"Ingenieurdienstleistungen\"},\n  {id:368,name:\"TE Connectivity\",isin:\"CH0102993182\",branche:\"Elektronik/Konnektivitaet\"},\n  {id:369,name:\"Amphenol\",isin:\"US0320951017\",branche:\"Elektronik/Konnektivitaet\"},\n  {id:370,name:\"Leidos\",isin:\"US5253271028\",branche:\"IT/Ruestung\"},\n  {id:371,name:\"Quanta Services\",isin:\"US74762E1020\",branche:\"Industrie/Elektrotechnik\"},\n  {id:372,name:\"EMCOR Group\",isin:\"US2909221091\",branche:\"Industrie/Bau\"},\n  {id:373,name:\"Trane Technologies\",isin:\"IE00BK9ZQ967\",branche:\"Industrie/Klima\"},\n  {id:374,name:\"Pentair\",isin:\"IE00BLS09M33\",branche:\"Industrie/Wasser\"},\n  {id:375,name:\"A.O. Smith\",isin:\"US8318652091\",branche:\"Industrie/Wassererhitzer\"},\n  {id:376,name:\"Roper Technologies\",isin:\"US7763801090\",branche:\"Industrie/Software\"},\n  {id:377,name:\"Huntington Ingalls\",isin:\"US4468861056\",branche:\"Ruestung/Schiffbau\"},\n  {id:378,name:\"Halliburton\",isin:\"US4069071029\",branche:\"Energie/Oelservices\"},\n  {id:379,name:\"Baker Hughes\",isin:\"US05722G1004\",branche:\"Energie/Oelservices\"},\n  {id:380,name:\"Schlumberger\",isin:\"AN8068571086\",branche:\"Energie/Oelservices\"},\n  {id:381,name:\"Phillips 66\",isin:\"US7185461040\",branche:\"Energie/Raffinerie\"},\n  {id:382,name:\"Valero Energy\",isin:\"US91913Y1001\",branche:\"Energie/Raffinerie\"},\n  {id:383,name:\"Marathon Petroleum\",isin:\"US56585A1025\",branche:\"Energie/Raffinerie\"},\n  {id:384,name:\"EQT Corp\",isin:\"US26884L1098\",branche:\"Energie/Erdgas\"},\n  {id:385,name:\"Coterra Energy\",isin:\"US1270971039\",branche:\"Energie/Oel & Gas\"},\n  {id:386,name:\"Diamondback Energy\",isin:\"US25278X1090\",branche:\"Energie/Oel & Gas\"},\n  {id:387,name:\"Expand Energy\",isin:\"US1527281035\",branche:\"Energie/Erdgas\"},\n  {id:388,name:\"APA Corp\",isin:\"US03232B1098\",branche:\"Energie/Oel & Gas\"},\n  {id:389,name:\"NRG Energy\",isin:\"US6293775085\",branche:\"Energie/Versorger\"},\n  {id:390,name:\"Vistra\",isin:\"US92840M1027\",branche:\"Energie/Versorger\"},\n  {id:391,name:\"Williams Companies\",isin:\"US9694571004\",branche:\"Energie/Pipelines\"},\n  {id:392,name:\"Targa Resources\",isin:\"US87612G1013\",branche:\"Energie/Pipelines\"},\n  {id:393,name:\"Duke Energy\",isin:\"US26441C2044\",branche:\"Versorger\"},\n  {id:394,name:\"Southern\",isin:\"US8425871071\",branche:\"Versorger\"},\n  {id:395,name:\"Dominion Energy\",isin:\"US25746U1097\",branche:\"Versorger\"},\n  {id:396,name:\"American Electric Power\",isin:\"US0255371081\",branche:\"Versorger\"},\n  {id:397,name:\"Exelon\",isin:\"US30161N1019\",branche:\"Versorger\"},\n  {id:398,name:\"Entergy\",isin:\"US29364G1031\",branche:\"Versorger\"},\n  {id:399,name:\"Xcel Energy\",isin:\"US9837952009\",branche:\"Versorger\"},\n  {id:400,name:\"Evergy\",isin:\"US30034W1062\",branche:\"Versorger\"},\n  {id:401,name:\"WEC Energy\",isin:\"US9293775038\",branche:\"Versorger\"},\n  {id:402,name:\"CMS Energy\",isin:\"US1258961002\",branche:\"Versorger\"},\n  {id:403,name:\"Eversource Energy\",isin:\"US30040W1080\",branche:\"Versorger\"},\n  {id:404,name:\"AES Corp\",isin:\"US0081129011\",branche:\"Versorger\"},\n  {id:405,name:\"Pinnacle West Capital\",isin:\"US7234841010\",branche:\"Versorger\"},\n  {id:406,name:\"Edison International\",isin:\"US2810954683\",branche:\"Versorger\"},\n  {id:407,name:\"Firstenergy\",isin:\"US3374081051\",branche:\"Versorger\"},\n  {id:408,name:\"NiSource\",isin:\"US65473P1057\",branche:\"Versorger\"},\n  {id:409,name:\"Alliant Energy\",isin:\"US0188021085\",branche:\"Versorger\"},\n  {id:410,name:\"Atmos Energy\",isin:\"US0495601058\",branche:\"Versorger/Gas\"},\n  {id:411,name:\"Ameren Corp\",isin:\"US0236081024\",branche:\"Versorger\"},\n  {id:412,name:\"PPL\",isin:\"US6495435109\",branche:\"Versorger\"},\n  {id:413,name:\"Public Service Enterprise\",isin:\"US7445731067\",branche:\"Versorger\"},\n  {id:414,name:\"CenterPoint Energy\",isin:\"US15189T1079\",branche:\"Versorger/Gas\"},\n  {id:415,name:\"DTE Energy\",isin:\"US2333311072\",branche:\"Versorger\"},\n  {id:416,name:\"PG&E\",isin:\"US69331C1080\",branche:\"Versorger\"},\n  {id:417,name:\"Consolidated Edison\",isin:\"US2091151041\",branche:\"Versorger\"},\n  {id:418,name:\"Becton Dickinson\",isin:\"US0758961009\",branche:\"Medizintechnik\"},\n  {id:419,name:\"Zimmer Biomet\",isin:\"US98956P1021\",branche:\"Medizintechnik\"},\n  {id:420,name:\"Steris\",isin:\"IE00BFT00B44\",branche:\"Medizintechnik\"},\n  {id:421,name:\"ResMed\",isin:\"US7611521078\",branche:\"Medizintechnik\"},\n  {id:422,name:\"West Pharmaceutical\",isin:\"US9553061055\",branche:\"Medizintechnik\"},\n  {id:423,name:\"HCA Holdings\",isin:\"US40412C1018\",branche:\"Gesundheitsversorgung\"},\n  {id:424,name:\"Universal Health Services\",isin:\"US9139031002\",branche:\"Gesundheitsversorgung\"},\n  {id:425,name:\"Humana\",isin:\"US4448061029\",branche:\"Gesundheitsversorgung\"},\n  {id:426,name:\"Elevance Health\",isin:\"US03621L3160\",branche:\"Gesundheitsversorgung\"},\n  {id:427,name:\"McKesson\",isin:\"US0367521038\",branche:\"Gesundheitsversorgung\"},\n  {id:428,name:\"Cencora\",isin:\"US03073E1055\",branche:\"Gesundheitsversorgung\"},\n  {id:429,name:\"Quest Diagnostics\",isin:\"US74834L1008\",branche:\"Gesundheitsversorgung\"},\n  {id:430,name:\"Agilent Technologies\",isin:\"US00846U1016\",branche:\"Labortechnologie\"},\n  {id:431,name:\"Baxter International\",isin:\"US0718131099\",branche:\"Medizintechnik\"},\n  {id:432,name:\"Bio-Techne\",isin:\"US09073M1045\",branche:\"Biotechnologie\"},\n  {id:433,name:\"Veralto\",isin:\"US92338C1036\",branche:\"Wasseranalytik/Umwelt\"},\n  {id:434,name:\"Haleon\",isin:\"GB00BMX86B70\",branche:\"Konsumgueter/Gesundheit\"},\n  {id:435,name:\"Kenvue\",isin:\"US49177J1025\",branche:\"Konsumgueter/Gesundheit\"},\n  {id:436,name:\"Alcon\",isin:\"CH0432492467\",branche:\"Augenheilkunde\"},\n  {id:437,name:\"PerkinElmer\",isin:\"US7140461093\",branche:\"Labortechnologie\"},\n  {id:438,name:\"Motorola Solutions\",isin:\"US6200763075\",branche:\"Technologie/Kommunikation\"},\n  {id:439,name:\"Verisign\",isin:\"US92343E1029\",branche:\"Technologie/Internet\"},\n  {id:440,name:\"Seagate Technology\",isin:\"IE00BKVD2N49\",branche:\"Technologie (Datenspeicher)\"},\n  {id:441,name:\"Analog Devices\",isin:\"US0326541051\",branche:\"Halbleiter\"},\n  {id:442,name:\"Microchip Technology\",isin:\"US5932621014\",branche:\"Halbleiter\"},\n  {id:443,name:\"NetApp\",isin:\"US64110D1046\",branche:\"Technologie/Datenspeicher\"},\n  {id:444,name:\"Corning\",isin:\"US2193501051\",branche:\"Technologie/Glasfaser\"},\n  {id:445,name:\"Jabil\",isin:\"US4663131039\",branche:\"Elektronikfertigung\"},\n  {id:446,name:\"CDW\",isin:\"US12514G1085\",branche:\"IT-Distribution\"},\n  {id:447,name:\"Gen Digital\",isin:\"US37282B1008\",branche:\"Cybersicherheit\"},\n  {id:448,name:\"Paycom Software\",isin:\"US70432V1026\",branche:\"HR-Software\"},\n  {id:449,name:\"FactSet Research\",isin:\"US3030751073\",branche:\"Finanzdaten/Software\"},\n  {id:450,name:\"Verisk Analytics\",isin:\"US92345Y1064\",branche:\"Datenanalyse\"},\n  {id:451,name:\"Broadridge Financial\",isin:\"US1117171013\",branche:\"Finanztechnologie\"},\n  {id:452,name:\"Nemetschek\",isin:\"DE0006452907\",branche:\"Technologie/Software\"},\n  {id:453,name:\"JENOPTIK\",isin:\"DE000A2NB601\",branche:\"Technologie/Optik\"},\n  {id:454,name:\"NAGARRO\",isin:\"DE000A3H2200\",branche:\"IT-Dienstleistungen\"},\n  {id:455,name:\"Bechtle\",isin:\"DE0005158703\",branche:\"IT-Dienstleistungen\"},\n  {id:456,name:\"GFT Technologies\",isin:\"DE0005800301\",branche:\"IT-Dienstleistungen\"},\n  {id:457,name:\"CANCOM\",isin:\"DE0007416521\",branche:\"IT-Dienstleistungen\"},\n  {id:458,name:\"Kontron\",isin:\"AT0000A1PQQ1\",branche:\"Technologie/Embedded\"},\n  {id:459,name:\"adesso\",isin:\"DE000A0Z23Q5\",branche:\"IT-Dienstleistungen\"},\n  {id:460,name:\"Eckert & Ziegler\",isin:\"DE0005659700\",branche:\"Medizintechnik/Nuklear\"},\n  {id:461,name:\"SUESS MicroTec\",isin:\"DE000A1K0235\",branche:\"Halbleiter/Ausruestung\"},\n  {id:462,name:\"Elmos Semiconductor\",isin:\"DE0005677108\",branche:\"Halbleiter\"},\n  {id:463,name:\"Secunet Security\",isin:\"DE0007276503\",branche:\"Cybersicherheit\"},\n  {id:464,name:\"SILTRONIC\",isin:\"DE000WAF3001\",branche:\"Halbleiter/Silizium\"},\n  {id:465,name:\"TJX Companies\",isin:\"US8725401090\",branche:\"Einzelhandel\"},\n  {id:466,name:\"Ross Stores\",isin:\"US7782961038\",branche:\"Einzelhandel\"},\n  {id:467,name:\"Best Buy\",isin:\"US0865161014\",branche:\"Elektronikeinzelhandel\"},\n  {id:468,name:\"Ralph Lauren\",isin:\"US7512121010\",branche:\"Luxusg\\u00fcter/Mode\"},\n  {id:469,name:\"Tapestry\",isin:\"US8760301072\",branche:\"Luxusg\\u00fcter/Mode\"},\n  {id:470,name:\"Conagra Brands\",isin:\"US2058871029\",branche:\"Lebensmittel\"},\n  {id:471,name:\"Campbell Soup\",isin:\"US1344291091\",branche:\"Lebensmittel\"},\n  {id:472,name:\"Molson Coors\",isin:\"US60871R2094\",branche:\"Getraenke\"},\n  {id:473,name:\"Brown-Forman\",isin:\"US1156372096\",branche:\"Getraenke/Spirituosen\"},\n  {id:474,name:\"Sysco\",isin:\"US8718291078\",branche:\"Lebensmittelgrosshandel\"},\n  {id:475,name:\"Lamb Weston\",isin:\"US5132721045\",branche:\"Lebensmittel\"},\n  {id:476,name:\"Darden Restaurants\",isin:\"US2371941053\",branche:\"Gastronomie\"},\n  {id:477,name:\"Williams-Sonoma\",isin:\"US9699041011\",branche:\"Einzelhandel/Einrichtung\"},\n  {id:478,name:\"FRoSTA\",isin:\"DE0006201102\",branche:\"Lebensmittel\"},\n  {id:479,name:\"Suedzucker\",isin:\"DE0007297004\",branche:\"Lebensmittel/Zucker\"},\n  {id:480,name:\"KWS Saat\",isin:\"DE0007074007\",branche:\"Agrar/Saatgut\"},\n  {id:481,name:\"Norfolk Southern\",isin:\"US6558441084\",branche:\"Eisenbahn\"},\n  {id:482,name:\"CSX\",isin:\"US1264081035\",branche:\"Eisenbahn\"},\n  {id:483,name:\"J.B. Hunt Transport\",isin:\"US4456581077\",branche:\"Logistik\"},\n  {id:484,name:\"Southwest Airlines\",isin:\"US8447411088\",branche:\"Luftfahrt\"},\n  {id:485,name:\"Carnival\",isin:\"GB0031215220\",branche:\"Kreuzfahrt/Touristik\"},\n  {id:486,name:\"Paccar\",isin:\"US6937181088\",branche:\"Nutzfahrzeuge\"},\n  {id:487,name:\"United Rentals\",isin:\"US9113631090\",branche:\"Industrievermietung\"},\n  {id:488,name:\"Traton\",isin:\"DE000TRAT0N7\",branche:\"Nutzfahrzeuge\"},\n  {id:489,name:\"Las Vegas Sands\",isin:\"US5178341070\",branche:\"Gaming/Touristik\"},\n  {id:490,name:\"Wynn Resorts\",isin:\"US9831341071\",branche:\"Gaming/Touristik\"},\n  {id:491,name:\"Marriott International\",isin:\"US5719032022\",branche:\"Hotels\"},\n  {id:492,name:\"Hilton Worldwide\",isin:\"US43300A2033\",branche:\"Hotels\"},\n  {id:493,name:\"Expedia\",isin:\"US30212P3038\",branche:\"Reise/Online-Plattform\"},\n  {id:494,name:\"Avery Dennison\",isin:\"US0536111090\",branche:\"Etiketten/Verpackung\"},\n  {id:495,name:\"Ball Corp\",isin:\"US0584981064\",branche:\"Verpackung\"},\n  {id:496,name:\"Packaging Corp of America\",isin:\"US6951561090\",branche:\"Verpackung\"},\n  {id:497,name:\"Smurfit WestRock\",isin:\"IE0000000000\",branche:\"Verpackung\"},\n  {id:498,name:\"International Paper\",isin:\"US4601461035\",branche:\"Papier/Verpackung\"},\n  {id:499,name:\"Vulcan Materials\",isin:\"US9291601097\",branche:\"Baustoffe/Aggregat\"},\n  {id:500,name:\"Martin Marietta Materials\",isin:\"US5732841060\",branche:\"Baustoffe/Aggregat\"},\n  {id:501,name:\"PPG Industries\",isin:\"US6935061076\",branche:\"Farben/Lacke\"},\n  {id:502,name:\"Mosaic\",isin:\"US6153691059\",branche:\"Duengemittel\"},\n  {id:503,name:\"CF Industries\",isin:\"US1252691001\",branche:\"Duengemittel/Chemie\"},\n  {id:504,name:\"Corteva\",isin:\"US22052L1044\",branche:\"Agrarchemie\"},\n  {id:505,name:\"DuPont de Nemours\",isin:\"US26614N1028\",branche:\"Chemie/Materialien\"},\n  {id:506,name:\"Bunge\",isin:\"BMG169621056\",branche:\"Agrar/Lebensmittel\"},\n  {id:507,name:\"Intl Flavors & Fragrances\",isin:\"US4595061015\",branche:\"Chemie/Duftstoffe\"},\n  {id:508,name:\"Steel Dynamics\",isin:\"US8581191009\",branche:\"Stahl/Metall\"},\n  {id:509,name:\"Nucor\",isin:\"US6703461052\",branche:\"Stahl/Metall\"},\n  {id:510,name:\"LKQ Corp\",isin:\"US5018892084\",branche:\"Automobilteile\"},\n  {id:511,name:\"AlzChem\",isin:\"DE000A2YN777\",branche:\"Chemie\"},\n  {id:512,name:\"Wacker Chemie\",isin:\"DE000WCH8881\",branche:\"Chemie/Silizium\"},\n  {id:513,name:\"Lanxess\",isin:\"DE0005470405\",branche:\"Chemie\"},\n  {id:514,name:\"Welltower\",isin:\"US95040Q1040\",branche:\"Gesundheitsimmobilien (REIT)\"},\n  {id:515,name:\"Ventas\",isin:\"US92276F1003\",branche:\"Gesundheitsimmobilien (REIT)\"},\n  {id:516,name:\"Essex Property Trust\",isin:\"US2971781057\",branche:\"Wohnimmobilien (REIT)\"},\n  {id:517,name:\"Equity Residential\",isin:\"US29476L1070\",branche:\"Wohnimmobilien (REIT)\"},\n  {id:518,name:\"AvalonBay Communities\",isin:\"US0534841012\",branche:\"Wohnimmobilien (REIT)\"},\n  {id:519,name:\"Mid-America Apartment\",isin:\"US59522J1034\",branche:\"Wohnimmobilien (REIT)\"},\n  {id:520,name:\"UDR\",isin:\"US9026531049\",branche:\"Wohnimmobilien (REIT)\"},\n  {id:521,name:\"Camden Property Trust\",isin:\"US1331311027\",branche:\"Wohnimmobilien (REIT)\"},\n  {id:522,name:\"Kimco Realty\",isin:\"US4943681035\",branche:\"Einzelhandelsimmobilien (REIT)\"},\n  {id:523,name:\"Regency Centers\",isin:\"US7588491032\",branche:\"Einzelhandelsimmobilien (REIT)\"},\n  {id:524,name:\"Federal Realty\",isin:\"US3137451015\",branche:\"Einzelhandelsimmobilien (REIT)\"},\n  {id:525,name:\"Host Hotels & Resorts\",isin:\"US44107P1049\",branche:\"Hotelimmobilien (REIT)\"},\n  {id:526,name:\"BXP\",isin:\"US1011211018\",branche:\"Bueroimmobilien (REIT)\"},\n  {id:527,name:\"Invitation Homes\",isin:\"US46187W1071\",branche:\"Einfamilienhaeuser (REIT)\"},\n  {id:528,name:\"Medical Properties Trust\",isin:\"US58463J3041\",branche:\"Gesundheitsimmobilien (REIT)\"},\n  {id:529,name:\"SBA Communications\",isin:\"US78454L1008\",branche:\"Telekommunikation (REIT)\"},\n  {id:530,name:\"Healthpeak Properties\",isin:\"US42250P1030\",branche:\"Gesundheitsimmobilien (REIT)\"},\n  {id:531,name:\"Orion Properties\",isin:\"US68629Y1038\",branche:\"Immobilien (REIT)\"},\n  {id:532,name:\"Deutsche EuroShop\",isin:\"DE0007480204\",branche:\"Immobilien (REIT)\"},\n  {id:533,name:\"TAG Immobilien\",isin:\"DE0008303504\",branche:\"Immobilien\"},\n  {id:534,name:\"LEG Immobilien\",isin:\"DE000LEG1110\",branche:\"Immobilien\"},\n  {id:535,name:\"Deutsche Wohnen\",isin:\"DE000A0HN5C6\",branche:\"Immobilien\"},\n  {id:536,name:\"PATRIZIA Immobilien\",isin:\"DE000PAT1AG3\",branche:\"Immobilien\"},\n  {id:537,name:\"Omnicom\",isin:\"US6819191064\",branche:\"Medien/Werbung\"},\n  {id:538,name:\"Electronic Arts\",isin:\"US2855121099\",branche:\"Gaming/Unterhaltung\"},\n  {id:539,name:\"Fox Corp\",isin:\"US35137L1052\",branche:\"Medien\"},\n  {id:540,name:\"Walt Disney\",isin:\"US2546871060\",branche:\"Medien/Unterhaltung\"},\n  {id:541,name:\"Rollins\",isin:\"US7757111049\",branche:\"Schaedlingsbekaempfung\"},\n  {id:542,name:\"Garmin\",isin:\"CH0114405324\",branche:\"Technologie/Navigation\"},\n  {id:543,name:\"Pool Corp\",isin:\"US73278L1052\",branche:\"Poollieferant\"},\n  {id:545,name:\"CTS Eventim\",isin:\"DE0005470306\",branche:\"Medien/Ticketing\"},\n  {id:546,name:\"Stroeer\",isin:\"DE0007493991\",branche:\"Medien/Aussenwerbung\"},\n  {id:547,name:\"ProSiebenSat.1\",isin:\"DE000PSM7770\",branche:\"Medien\"},\n  {id:548,name:\"Springer Nature\",isin:\"DE000SPG1DE3\",branche:\"Medien/Verlage\"},\n  {id:549,name:\"AFLAC\",isin:\"US0010551028\",branche:\"Versicherung\"},\n  {id:550,name:\"MetLife\",isin:\"US59156R1086\",branche:\"Versicherung\"},\n  {id:551,name:\"Prudential Financial\",isin:\"US7443201022\",branche:\"Versicherung\"},\n  {id:552,name:\"Allstate\",isin:\"US0200021014\",branche:\"Versicherung\"},\n  {id:553,name:\"Travelers Companies\",isin:\"US8985161081\",branche:\"Versicherung\"},\n  {id:554,name:\"Chubb\",isin:\"US2299161092\",branche:\"Versicherung\"},\n  {id:555,name:\"Hartford Financial\",isin:\"US4165151048\",branche:\"Versicherung\"},\n  {id:556,name:\"Everest Re Group\",isin:\"BMG3223R1088\",branche:\"Versicherung/Rueckversicherung\"},\n  {id:557,name:\"Assurant\",isin:\"US04621X1081\",branche:\"Versicherung\"},\n  {id:558,name:\"W.R. Berkley\",isin:\"US0844231029\",branche:\"Versicherung\"},\n  {id:559,name:\"Cincinnati Financial\",isin:\"US1720621010\",branche:\"Versicherung\"},\n  {id:560,name:\"Erie Indemnity\",isin:\"US29530P1021\",branche:\"Versicherung\"},\n  {id:561,name:\"Globe Life\",isin:\"US37959E1029\",branche:\"Versicherung/Lebensversicherung\"},\n  {id:562,name:\"NN Group\",isin:\"NL0010773842\",branche:\"Versicherung\"},\n  {id:563,name:\"Swiss Life\",isin:\"CH0014852781\",branche:\"Versicherung/Lebensversicherung\"},\n  {id:564,name:\"Uniqa\",isin:\"AT0000821103\",branche:\"Versicherung\"},\n  {id:565,name:\"Wuestenrot & Wuerttembergische\",isin:\"DE0008051004\",branche:\"Versicherung\"},\n  {id:566,name:\"GEA Group\",isin:\"DE0006602006\",branche:\"Industrie/Maschinenbau\"},\n  {id:567,name:\"Hella\",isin:\"DE000A13SX22\",branche:\"Automobilzulieferer\"},\n  {id:568,name:\"Fuchs\",isin:\"DE000A3E5D56\",branche:\"Schmierstoffe\"},\n  {id:569,name:\"Fuchs Vz\",isin:\"DE000A3E5D64\",branche:\"Schmierstoffe\"},\n  {id:570,name:\"Vossloh\",isin:\"DE0007667107\",branche:\"Schieneninfrastruktur\"},\n  {id:571,name:\"KSB Vz\",isin:\"DE0006292006\",branche:\"Industrie/Pumpen\"},\n  {id:572,name:\"JOST Werke\",isin:\"DE000JST4000\",branche:\"Nutzfahrzeugkomponenten\"},\n  {id:573,name:\"Henkel\",isin:\"DE0006048432\",branche:\"Konsumgueter\"},\n  {id:574,name:\"Henkel Vz\",isin:\"DE0006048408\",branche:\"Konsumgueter\"},\n  {id:575,name:\"United Internet\",isin:\"DE0005089031\",branche:\"Telekommunikation/Internet\"},\n  {id:576,name:\"PUMA\",isin:\"DE0006969603\",branche:\"Sportartikel\"},\n  {id:577,name:\"Hugo Boss\",isin:\"DE000A1PHFF7\",branche:\"Mode/Luxusg\\u00fcter\"},\n  {id:578,name:\"HENSOLDT\",isin:\"DE000HAG0005\",branche:\"Ruestung/Sensorik\"},\n  {id:579,name:\"KION Group\",isin:\"DE000KGX8881\",branche:\"Industrie/Gabelstapler\"},\n  {id:580,name:\"Gerresheimer\",isin:\"DE000A0LD6E6\",branche:\"Pharmaverpackung\"},\n  {id:581,name:\"Sixt\",isin:\"DE0007231326\",branche:\"Mobilitaet/Autovermietung\"},\n  {id:582,name:\"INDUS Holding\",isin:\"DE0006200108\",branche:\"Industrie/Beteiligungen\"},\n  {id:583,name:\"CEWE\",isin:\"DE0005403901\",branche:\"Fotodruck\"},\n  {id:584,name:\"Befesa\",isin:\"LU1704650164\",branche:\"Entsorgung/Metallrecycling\"},\n  {id:585,name:\"Deutsche Beteiligung\",isin:\"DE000A1TNUT7\",branche:\"Beteiligungsgesellschaft\"},\n  {id:586,name:\"Energiekontor\",isin:\"DE0005313506\",branche:\"Erneuerbare Energie\"},\n  {id:587,name:\"Fielmann\",isin:\"DE0005772206\",branche:\"Optik/Einzelhandel\"},\n  {id:588,name:\"Hornbach Holding\",isin:\"DE0006083405\",branche:\"Heimwerkereinzelhandel\"},\n  {id:589,name:\"Verbio\",isin:\"DE000A0JL9W6\",branche:\"Biokraftstoff\"},\n  {id:590,name:\"TUI\",isin:\"DE000TUAG505\",branche:\"Touristik\"},\n  {id:591,name:\"SCHOTT Pharma\",isin:\"DE000A3ENQ51\",branche:\"Pharmaverpackung\"},\n  {id:592,name:\"Stabilus\",isin:\"LU1066226637\",branche:\"Industrie/Gasfedern\"},\n  {id:593,name:\"CompuGroup Medical\",isin:\"DE0005437305\",branche:\"Gesundheits-IT\"},\n  {id:594,name:\"PORR\",isin:\"AT0000609607\",branche:\"Bau/Infrastruktur\"},\n  {id:595,name:\"Italmobiliare\",isin:\"IT0005369614\",branche:\"Konglomerat\"},\n  {id:596,name:\"EssilorLuxottica\",isin:\"FR0000121667\",branche:\"Optik\"},\n  {id:597,name:\"Renault\",isin:\"FR0000131906\",branche:\"Automobil\"},\n  {id:598,name:\"Coloplast\",isin:\"DK0060448595\",branche:\"Medizintechnik\"},\n  {id:599,name:\"Philips\",isin:\"NL0000009538\",branche:\"Technologie/Gesundheit\"},\n  {id:600,name:\"Villeroy & Boch Vz\",isin:\"DE0007657231\",branche:\"Keramik/Konsumgueter\"},\n  {id:601,name:\"Wienerberger\",isin:\"AT0000831706\",branche:\"Baustoffe\"},\n  {id:602,name:\"Friedrich Vorwerk\",isin:\"DE000A255G02\",branche:\"Energieinfrastruktur\"},\n  {id:603,name:\"MBB\",isin:\"DE000A0ETBQ4\",branche:\"Industrie/Beteiligungen\"},\n  {id:604,name:\"Sto Vz\",isin:\"DE0007274136\",branche:\"Baustoffe\"},\n  {id:605,name:\"Steico\",isin:\"DE000A0LR4N5\",branche:\"Baustoffe/Holz\"},\n  {id:606,name:\"Dermapharm\",isin:\"DE000A2GS5D8\",branche:\"Pharma\"},\n  {id:607,name:\"Adtran Networks\",isin:\"DE0005103006\",branche:\"Technologie/Netzwerk\"},\n  {id:608,name:\"Salzgitter\",isin:\"DE0006202005\",branche:\"Stahl\"},\n  {id:609,name:\"Amadeus Fire\",isin:\"DE0005093092\",branche:\"Personaldienstleistungen\"},\n  {id:610,name:\"Duerr\",isin:\"DE0005565204\",branche:\"Industrie/Lackierung\"},\n  {id:611,name:\"Berentzen\",isin:\"DE0005201602\",branche:\"Getraenke/Spirituosen\"},\n  {id:612,name:\"ABO Energy\",isin:\"DE0005760029\",branche:\"Erneuerbare Energie\"},\n  {id:613,name:\"Deutsche Rohstoff\",isin:\"DE000A0XYG76\",branche:\"Rohstoffe\"},\n  {id:614,name:\"KLOECKNER\",isin:\"DE000KC01000\",branche:\"Stahl/Metallhandel\"},\n  {id:615,name:\"SAF-Holland\",isin:\"LU0113386008\",branche:\"Nutzfahrzeugkomponenten\"},\n  {id:616,name:\"Uniper\",isin:\"DE000UNSE038\",branche:\"Energie/Versorger\"},\n  {id:617,name:\"Deutz\",isin:\"DE0006305006\",branche:\"Industrie/Motoren\"},\n  {id:618,name:\"Wacker Neuson\",isin:\"DE000WACK012\",branche:\"Baumaschinen\"},\n  {id:619,name:\"NORMA Group\",isin:\"DE000A1H8BV3\",branche:\"Industrie/Verbindungstechnik\"},\n  {id:620,name:\"1&1\",isin:\"DE0005545503\",branche:\"Telekommunikation\"},\n  {id:621,name:\"PNE\",isin:\"DE000A0JBPG2\",branche:\"Erneuerbare Energie\"},\n  {id:622,name:\"TAKKT\",isin:\"DE0007446007\",branche:\"Versandhandel/B2B\"},\n  {id:623,name:\"Draewerwerk Vz\",isin:\"DE0005550636\",branche:\"Medizintechnik/Sicherheit\"},\n  {id:624,name:\"Allgeier\",isin:\"DE0005086000\",branche:\"IT-Dienstleistungen\"},\n  {id:625,name:\"Texas Pacific Land\",isin:\"US8826811098\",branche:\"Land/Energie\"},\n  {id:626,name:\"Jungheinrich Vz\",isin:\"DE0000000000\",branche:\"Industrie/Logistik\"},\n  {id:627,name:\"Verizon Communications\",isin:\"US9243291021\",branche:\"Telekommunikation\"},\n  {id:628,name:\"WEC Energy Group\",isin:\"US9279038038\",branche:\"Versorger\"},\n  {id:629,name:\"PG&E Corporation\",isin:\"US6955541027\",branche:\"Versorger\"},\n  {id:630,name:\"Hershey Company\",isin:\"US4278661036\",branche:\"Lebensmittel\"},\n  {id:631,name:\"FactSet Research Systems\",isin:\"US30307L1026\",branche:\"Finanztech/Software\"},\n  {id:632,name:\"Broadridge Financial Solutions\",isin:\"US11120U1051\",branche:\"Finanztechnologie\"},\n  {id:633,name:\"Tanger Inc.\",isin:\"US8754651060\",branche:\"Immobilien (REIT)\"},\n  {id:634,name:\"JD.com ADR\",isin:\"US46625H1005\",branche:\"E-Commerce/Technologie\"},\n  {id:635,name:\"Daimler Truck Holding\",isin:\"DE000DTROK8\",branche:\"Automobil\"},\n  {id:636,name:\"Merck KGaA\",isin:\"DE000A2PGMG3\",branche:\"Pharma/Chemie\"},\n  {id:637,name:\"Fuchs SE Stamm\",isin:\"DE005785802\",branche:\"Schmierstoffe\"},\n  {id:638,name:\"argenx\",isin:\"NL0010832176\",branche:\"Biotechnologie\"},\n  {id:639,name:\"Friedrich Vorwerk Group SE\",isin:\"DE000A2G5602\",branche:\"Industrie/Netzinfrastruktur\"},\n  {id:640,name:\"Berentzen Gruppe\",isin:\"DE000A0MNFH8\",branche:\"Getraenke/Spirituosen\"},\n  {id:641,name:\"Nagarro SE\",isin:\"DE000NA9GNSL\",branche:\"IT-Dienstleistungen\"},\n  {id:642,name:\"Hoegh Autoliners ASA\",isin:\"NO0011082075\",branche:\"Schifffahrt\"},\n  {id:643,name:\"Aurizon Holdings\",isin:\"AU000000AZJ1\",branche:\"Schienenlogistik\"},\n  {id:644,name:\"Haier Smart Home\",isin:\"CNE1000003W2\",branche:\"Konsumgueter\"},\n  {id:645,name:\"Prosus\",isin:\"NL0013654783\",branche:\"IT-Dienstleistungen\"}\n];\n\nfs.writeFileSync(STATE_FILE, JSON.stringify({ results: [], processedCount: 0, fxRates: { EUR: 1.0 }, totalCompanies: companies.length }));\nreturn companies.map(c => ({ json: c }));"
      },
      "id": "858cdc53-6d49-43bc-9422-18bb327d610e",
      "name": "Unternehmen laden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3360,
        7344
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst STATE_FILE = '/tmp/aktien_signale_state.json';\n\nfunction httpsGet(url) {\n  return new Promise((resolve, reject) => {\n    const https = require('https');\n    const req = https.get(url, {\n      headers: {\n        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36',\n        'Accept': 'application/json',\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', chunk => data += chunk);\n      res.on('end', () => { try { resolve(JSON.parse(data)); } catch(e) { reject(e); } });\n    });\n    req.on('error', reject);\n    req.setTimeout(10000, () => { req.destroy(new Error('timeout')); });\n  });\n}\n\n// Fetch EUR rates for all relevant currencies\nconst pairs = ['USDEUR=X','GBPEUR=X','CHFEUR=X','NOKEUR=X','CADEUR=X',\n               'AUDEUR=X','JPYEUR=X','HKDEUR=X','KRWEUR=X','SGDEUR=X',\n               'DKKEUR=X','PLNEUR=X','CNYEUR=X','ZAREUR=X','BRLEUR=X',\n               'ILSEUR=X','SEKEUR=X'];\n\nconst rates = { EUR: 1.0 };\nfor (const pair of pairs) {\n  try {\n    const data = await httpsGet(`https://query1.finance.yahoo.com/v8/finance/chart/${pair}?interval=1d&range=5d`);\n    const result = data?.chart?.result?.[0];\n    if (result) {\n      const closes = result.indicators.quote[0].close.filter(v => v !== null && v > 0);\n      if (closes.length > 0) {\n        const currency = pair.replace('EUR=X', '');\n        rates[currency] = closes[closes.length - 1];\n      }\n    }\n  } catch(e) {}\n  await new Promise(r => setTimeout(r, 300));\n}\n\nlet state = { results: [], processedCount: 0, fxRates: { EUR: 1.0 }, totalCompanies: 0 };\ntry { state = JSON.parse(fs.readFileSync(STATE_FILE, 'utf8')); } catch(e) {}\nstate.fxRates = rates;\nfs.writeFileSync(STATE_FILE, JSON.stringify(state));\nreturn $input.all();"
      },
      "id": "ae5985a9-7461-4cec-9556-d655ff73da09",
      "name": "FX Kurse laden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3184,
        7344
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d8e617e6-93ef-4440-ae09-c0faa06bd86e",
      "name": "Einzeln verarbeiten",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -2992,
        7344
      ]
    },
    {
      "parameters": {
        "jsCode": "const company = $input.first().json;\nconst fs = require('fs');\nconst STATE_FILE = '/tmp/aktien_signale_state.json';\nlet _state = { fxRates: { EUR: 1.0 } };\ntry { _state = JSON.parse(fs.readFileSync(STATE_FILE, 'utf8')); } catch(e) {}\nconst fxRates = _state.fxRates || { EUR: 1.0 };\n\nfunction httpsGet(url) {\n  return new Promise((resolve, reject) => {\n    const https = require('https');\n    const req = https.get(url, {\n      headers: {\n        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36',\n        'Accept': 'application/json',\n      }\n    }, (res) => {\n      let data = '';\n      res.on('data', chunk => data += chunk);\n      res.on('end', () => { try { resolve(JSON.parse(data)); } catch(e) { reject(e); } });\n    });\n    req.on('error', reject);\n    req.setTimeout(15000, () => { req.destroy(new Error('timeout')); });\n  });\n}\n\nlet ticker = null;\ntry {\n  const searchData = await httpsGet(`https://query2.finance.yahoo.com/v1/finance/search?q=${encodeURIComponent(company.isin)}&lang=en-US&region=US&quotesCount=10&newsCount=0&enableFuzzyQuery=false`);\n  const quotes = searchData?.quotes || [];\n  if (quotes.length > 0) {\n    const muTicker = quotes.find(q => q.quoteType === 'EQUITY' && q.symbol.endsWith('.MU'));\n    const tgTicker = quotes.find(q => q.quoteType === 'EQUITY' && q.symbol.endsWith('.TG'));\n    const equity = muTicker || tgTicker || quotes.find(q => q.quoteType === 'EQUITY') || quotes[0];\n    ticker = equity.symbol;\n  }\n} catch(e) {\n  return [{ json: { skipped: true, reason: 'ticker_search_failed: ' + e.message, company: company.name } }];\n}\n\nif (!ticker) {\n  return [{ json: { skipped: true, reason: 'no_ticker', company: company.name } }];\n}\n\nlet ohlc = null;\nlet currency = 'EUR';\nlet fxRate = 1.0;\ntry {\n  const chartData = await httpsGet(`https://query1.finance.yahoo.com/v8/finance/chart/${encodeURIComponent(ticker)}?interval=1d&range=1y`);\n  const result = chartData?.chart?.result?.[0];\n  if (result) {\n    currency = result.meta?.currency || 'EUR';\n    const q = result.indicators.quote[0];\n\n    // Determine EUR conversion factor\n    fxRate = 1.0;\n    if (currency === 'GBp' || currency === 'GBX') {\n      // British pence: divide by 100 then GBP→EUR\n      fxRate = (fxRates['GBP'] || 1.0) / 100;\n    } else if (currency !== 'EUR') {\n      fxRate = fxRates[currency] || 1.0;\n    }\n\n    ohlc = {\n      open:  q.open,\n      high:  q.high,\n      low:   q.low,\n      close: q.close,\n    };\n  }\n} catch(e) {\n  return [{ json: { skipped: true, reason: 'chart_fetch_failed: ' + e.message, company: company.name, ticker } }];\n}\n\nif (!ohlc) {\n  return [{ json: { skipped: true, reason: 'no_ohlc', company: company.name, ticker } }];\n}\n\nreturn [{ json: { ...company, ticker, currency, fxRate, ohlc } }];"
      },
      "id": "84873efb-0fd5-4d1d-b24e-4bc60eaa8ed4",
      "name": "Kursdaten holen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2816,
        7344
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst fs = require('fs');\nconst STATE_FILE = '/tmp/aktien_signale_state.json';\nconst PERSISTENT_FILE = '/home/node/.n8n/aktien_signale_persistent.json';\nlet sd = { results: [], processedCount: 0, fxRates: { EUR: 1.0 }, totalCompanies: 0 };\ntry { sd = JSON.parse(fs.readFileSync(STATE_FILE, 'utf8')); } catch(e) {}\nlet persistent = { sentToday: null, positions: {} };\ntry { persistent = JSON.parse(fs.readFileSync(PERSISTENT_FILE, 'utf8')); } catch(e) {}\nif (!persistent.positions) persistent.positions = {};\nconst fxRate = data.fxRate || 1.0;\nif (!sd.results) sd.results = [];\nsd.processedCount = (sd.processedCount || 0) + 1;\n\nif (data.skipped || !data.ohlc) {\n  return [{ json: { processed: false, company: data.name || 'unknown', processedCount: sd.processedCount, totalCompanies: sd.totalCompanies || 0 } }];\n}\n\nconst { high: hi, low: lo, close: cl } = data.ohlc;\n\nlet n = cl.length;\nwhile (n > 0 && (cl[n-1] === null || cl[n-1] === undefined || isNaN(cl[n-1]))) n--;\nif (n < 60) {\n  return [{ json: { processed: false, reason: 'insufficient_data', company: data.name, processedCount: sd.processedCount, totalCompanies: sd.totalCompanies || 0 } }];\n}\n\nconst c = cl.slice(0, n);\nconst h = hi.slice(0, n);\nconst l = lo.slice(0, n);\n\n// === Parameter (identisch zu tradingview-ai-strategy-2) ===\nconst fastLen=9, slowLen=21, rsiLen=14, stochLen=14, stochSmooth=3;\nconst stochOS=20, macdFast=12, macdSlow=26, macdSig=9;\nconst bbLen=20, bbMult=2.0, wrLen=14, wrOS=-80, minScore=4;\nconst atrLen=14, trailMult=2.0, minProfitPct=5.0, trailActivatePct=8.0;\n\nfunction ema(arr, period) {\n  const k = 2/(period+1), res = [];\n  res[0] = arr[0] ?? 0;\n  for (let i=1;i<arr.length;i++) res[i] = (arr[i] ?? res[i-1]) * k + res[i-1] * (1-k);\n  return res;\n}\nfunction sma(arr, period) {\n  const res = new Array(arr.length).fill(null);\n  for (let i=period-1;i<arr.length;i++) {\n    let sum=0,cnt=0;\n    for(let j=i-period+1;j<=i;j++) if(arr[j]!==null){sum+=arr[j];cnt++;}\n    if(cnt===period) res[i]=sum/period;\n  }\n  return res;\n}\nfunction stdev(arr, period) {\n  const res = new Array(arr.length).fill(null);\n  for(let i=period-1;i<arr.length;i++) {\n    let sum=0,cnt=0;\n    for(let j=i-period+1;j<=i;j++) if(arr[j]!==null){sum+=arr[j];cnt++;}\n    if(cnt<period) continue;\n    const mean=sum/cnt; let v=0;\n    for(let j=i-period+1;j<=i;j++) v+=(arr[j]-mean)**2;\n    res[i]=Math.sqrt(v/cnt);\n  }\n  return res;\n}\nfunction calcRSI(arr, period) {\n  const res=new Array(arr.length).fill(null);\n  let ag=0,al=0;\n  for(let i=1;i<=period;i++){const d=arr[i]-arr[i-1];d>0?ag+=d:al-=d;}\n  ag/=period;al/=period;\n  res[period]=al===0?100:100-100/(1+ag/al);\n  for(let i=period+1;i<arr.length;i++){\n    const d=arr[i]-arr[i-1],g=d>0?d:0,ls=d<0?-d:0;\n    ag=(ag*(period-1)+g)/period;al=(al*(period-1)+ls)/period;\n    res[i]=al===0?100:100-100/(1+ag/al);\n  }\n  return res;\n}\n// Wilder's RMA (wie TradingView ta.atr)\nfunction rma(arr, period) {\n  const res = new Array(arr.length).fill(null);\n  let seed = 0, cnt = 0, startIdx = -1;\n  for(let i=0;i<arr.length;i++) {\n    if(arr[i]===null||isNaN(arr[i])) continue;\n    if(cnt < period) { seed += arr[i]; cnt++; if(cnt===period){ res[i]=seed/period; startIdx=i; } }\n    else { res[i] = arr[i]/period + res[i-1]*(1-1/period); }\n  }\n  return res;\n}\nfunction calcATR(h, l, c, period) {\n  const tr = new Array(c.length).fill(null);\n  for(let i=1;i<c.length;i++) {\n    if(c[i]===null||c[i-1]===null||h[i]===null||l[i]===null) continue;\n    tr[i] = Math.max(h[i]-l[i], Math.abs(h[i]-c[i-1]), Math.abs(l[i]-c[i-1]));\n  }\n  return rma(tr, period);\n}\n\nconst fastEMA = ema(c, fastLen);\nconst slowEMA = ema(c, slowLen);\nconst rsiArr  = calcRSI(c, rsiLen);\n\nconst stochRaw = new Array(n).fill(null);\nfor(let i=stochLen-1;i<n;i++){\n  const sl=rsiArr.slice(i-stochLen+1,i+1).filter(v=>v!==null);\n  if(sl.length<stochLen) continue;\n  const mn=Math.min(...sl),mx=Math.max(...sl);\n  stochRaw[i]=mx-mn===0?0:(rsiArr[i]-mn)/(mx-mn)*100;\n}\nconst stochK = sma(stochRaw, stochSmooth);\n\nconst emaF = ema(c, macdFast), emaS = ema(c, macdSlow);\nconst macdLine = emaF.map((v,i)=>v-emaS[i]);\nconst sigLine  = ema(macdLine, macdSig);\n\nconst bbMidArr = sma(c, bbLen);\nconst bbStdev  = stdev(c, bbLen);\nconst bbLower  = bbMidArr.map((v,i)=>v!==null&&bbStdev[i]!==null?v-bbMult*bbStdev[i]:null);\n\nconst wrArr = new Array(n).fill(null);\nfor(let i=wrLen-1;i<n;i++){\n  const mxH=Math.max(...h.slice(i-wrLen+1,i+1));\n  const mnL=Math.min(...l.slice(i-wrLen+1,i+1));\n  wrArr[i]=mxH-mnL===0?-100:(mxH-c[i])/(mxH-mnL)*-100;\n}\n\nconst atrArr = calcATR(h, l, c, atrLen);\n\nconst i=n-1, p=n-2;\n\n// Buy-Signale\nconst sigEmaBuy   = fastEMA[p]<slowEMA[p] && fastEMA[i]>=slowEMA[i] ? 1 : 0;\nconst sigStochBuy = stochK[p]!==null&&stochK[i]!==null&&stochK[p]<stochOS&&stochK[i]>=stochOS ? 1 : 0;\nconst sigMacdBuy  = macdLine[p]<sigLine[p] && macdLine[i]>=sigLine[i] ? 1 : 0;\nconst sigBbBuy    = bbLower[p]!==null&&c[p]<bbLower[p]&&c[i]>=bbLower[i] ? 1 : 0;\nconst sigWrBuy    = wrArr[p]!==null&&wrArr[i]!==null&&wrArr[p]<wrOS&&wrArr[i]>=wrOS ? 1 : 0;\nconst buyScore    = sigEmaBuy+sigStochBuy+sigMacdBuy+sigBbBuy+sigWrBuy;\n\n// Sell-Signale\nconst sigEmaSell   = fastEMA[p]>slowEMA[p] && fastEMA[i]<=slowEMA[i] ? 1 : 0;\nconst sigMacdSell  = macdLine[p]>sigLine[p] && macdLine[i]<=sigLine[i] ? 1 : 0;\nconst sigStochSell = stochK[i]!==null&&stochK[p]!==null&&stochK[i]<stochK[p]&&stochK[i]>80 ? 1 : 0;\nconst sigWrSell    = wrArr[i]!==null&&wrArr[i]>-20 ? 1 : 0;\nconst sellScore    = sigEmaSell+sigMacdSell+sigStochSell+sigWrSell;\n\nconst hasBuy  = buyScore >= minScore;\nconst hasSell = sigEmaSell === 1 && (sellScore - sigEmaSell) >= 1;\n\nconst alreadySent = (persistent.sentToday?.stocks || []).includes(data.name);\nconst pos = persistent.positions[data.name] || null;\nconst inPosition = !!pos;\n\n// === Trailing Stop aktualisieren (für offene Positionen) ===\nlet trailHit = false;\nif (inPosition) {\n  // bestHigh mit aktuellem High nachziehen\n  if (!pos.bestHigh || h[i] > pos.bestHigh) pos.bestHigh = h[i];\n\n  const trailActivated = pos.bestHigh >= pos.entryPrice * (1 + trailActivatePct / 100);\n  if (trailActivated) {\n    const minExit = pos.entryPrice * (1 + minProfitPct / 100);\n    const newTrail = Math.max(pos.bestHigh - (pos.entryAtr || atrArr[i] || 0) * trailMult, minExit);\n    pos.trailSl = pos.trailSl ? Math.max(pos.trailSl, newTrail) : newTrail;\n  }\n\n  const trailActive = pos.trailSl && pos.trailSl > pos.entryPrice;\n  trailHit = trailActive && c[i] <= pos.trailSl;\n}\n\nconst detailsBuy  = [sigEmaBuy?'EMA':'',sigStochBuy?'StochRSI':'',sigMacdBuy?'MACD':'',sigBbBuy?'BB':'',sigWrBuy?'W%R':''].filter(Boolean).join('+');\nconst detailsSell = [sigEmaSell?'EMA':'',sigMacdSell?'MACD':'',sigStochSell?'StochRSI':'',sigWrSell?'W%R':''].filter(Boolean).join('+');\n\n// === VERKAUF: Trail-SL ODER Sell-Signal mit Mindestgewinn (+5%) ===\nif (!alreadySent && inPosition) {\n  const inProfit = c[i] >= pos.entryPrice * (1 + minProfitPct / 100);\n  const sellSignal = inProfit && hasSell;\n  const reason = trailHit ? 'Trail-SL' : `Sell-Signal(${sellScore}/4)`;\n\n  if (trailHit || sellSignal) {\n    const pct = ((c[i] - pos.entryPrice) / pos.entryPrice * 100).toFixed(2);\n    delete persistent.positions[data.name];\n    sd.results.push({\n      name:    data.name,\n      branche: data.branche,\n      isin:    data.isin,\n      ticker:  data.ticker,\n      signal:  'VERKAUF',\n      score:   `${sellScore}/4`,\n      preis:   (c[i] * fxRate).toFixed(2),\n      pct:     `+${pct}%`,\n      details: reason,\n    });\n  }\n}\n\n// === KAUF: kein Trailing Stop, keine offene Position ===\nif (!alreadySent && hasBuy && !inPosition) {\n  persistent.positions[data.name] = {\n    entryDate:  new Date().toISOString().slice(0,10),\n    entryPrice: c[i],\n    entryAtr:   atrArr[i] || 0,\n    bestHigh:   h[i],\n    trailSl:    null,\n  };\n  sd.results.push({\n    name:    data.name,\n    branche: data.branche,\n    isin:    data.isin,\n    ticker:  data.ticker,\n    signal:  'KAUF',\n    score:   `${buyScore}/5`,\n    preis:   (c[i] * fxRate).toFixed(2),\n    details: detailsBuy,\n  });\n}\n\nfs.writeFileSync(STATE_FILE, JSON.stringify(sd));\nfs.writeFileSync(PERSISTENT_FILE, JSON.stringify(persistent));\nreturn [{ json: { processed: true, company: data.name, ticker: data.ticker, buyScore, sellScore, hasBuy, hasSell, trailHit, processedCount: sd.processedCount, totalCompanies: sd.totalCompanies || 0 } }];\n"
      },
      "id": "744482a6-c181-4b6c-9b7c-731e289709ee",
      "name": "Signal pruefen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        7344
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst STATE_FILE = '/tmp/aktien_signale_state.json';\nlet sd = { results: [] };\ntry { sd = JSON.parse(fs.readFileSync(STATE_FILE, 'utf8')); } catch(e) {}\nconst results = sd.results || [];\n\nif (results.length === 0) {\n  return [{ json: { count: 0, text: '', hasSignals: false } }];\n}\n\nconst now   = new Date();\nconst today = now.toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' });\nconst time  = now.toLocaleTimeString('de-DE', { hour: '2-digit', minute: '2-digit' });\n\n// WKN aus DE-ISIN ableiten (Positionen 4-9)\nfunction getWKN(isin) {\n  if (isin && isin.startsWith('DE')) return isin.slice(4, 10);\n  return null;\n}\n\nconst kaufSignale    = results.filter(r => r.signal === 'KAUF');\nconst verkaufSignale = results.filter(r => r.signal === 'VERKAUF');\n\nlet text = `<b>📊 Strategie-Signale ${today} um ${time} Uhr</b>\\n`;\ntext += `<i>(Aktien Aktiv v5 – EMA/StochRSI/MACD/BB/W%R, Preise in EUR)</i>\\n`;\n\nfunction formatEntry(r) {\n  const wkn = getWKN(r.isin);\n  const ids  = wkn\n    ? `WKN: <code>${wkn}</code> | ISIN: <code>${r.isin}</code>`\n    : `ISIN: <code>${r.isin}</code>`;\n  return `• <b>${r.name}</b> (${r.ticker}) – Score: ${r.score}\\n`\n       + `  ${r.branche} | Kurs: ${r.preis} €\\n`\n       + `  ${ids}\\n`\n       + `  Indikatoren: ${r.details}\\n`;\n}\n\nif (kaufSignale.length > 0) {\n  text += `\\n<b>🟢 KAUF-Signale (${kaufSignale.length})</b>\\n`;\n  for (const r of kaufSignale)    text += formatEntry(r);\n}\nif (verkaufSignale.length > 0) {\n  text += `\\n<b>🔴 VERKAUF-Signale (${verkaufSignale.length})</b>\\n`;\n  for (const r of verkaufSignale) text += formatEntry(r);\n}\n\nreturn [{ json: { count: results.length, text, hasSignals: true } }];"
      },
      "id": "773bca36-81a6-4275-a0c1-db095edb698e",
      "name": "Signale aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2272,
        7328
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasSignals }}",
              "value2": true
            }
          ]
        }
      },
      "id": "326abc2e-17da-4a7b-8fef-088c142c313c",
      "name": "Hat Signale?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2096,
        7328
      ]
    },
    {
      "parameters": {
        "chatId": "7461331112",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "dcd8a3c5-0448-4ad1-a118-c65608a6aca0",
      "name": "Telegram senden",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -1920,
        7152
      ],
      "webhookId": "8554a902-1622-4a13-9f4b-bbd776b3663a",
      "credentials": {
        "telegramApi": {
          "id": "rklKtRaqUVtTpYYC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "efa8bee5-185d-425e-8f6f-1cceafadf2ec",
      "name": "Keine Signale",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1920,
        7536
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst STATE_FILE = '/tmp/aktien_signale_state.json';\nconst PERSISTENT_FILE = '/home/node/.n8n/aktien_signale_persistent.json';\nlet state = { results: [] };\ntry { state = JSON.parse(fs.readFileSync(STATE_FILE, 'utf8')); } catch(e) {}\nlet persistent = { sentToday: null, positions: {} };\ntry { persistent = JSON.parse(fs.readFileSync(PERSISTENT_FILE, 'utf8')); } catch(e) {}\nconst results = state.results || [];\nconst todayDate = new Date().toISOString().slice(0, 10);\n\nif (!persistent.sentToday || persistent.sentToday.date !== todayDate) {\n  persistent.sentToday = { date: todayDate, stocks: [] };\n}\n\nfor (const r of results) {\n  if (!persistent.sentToday.stocks.includes(r.name)) {\n    persistent.sentToday.stocks.push(r.name);\n  }\n}\n\nfs.writeFileSync(PERSISTENT_FILE, JSON.stringify(persistent));\nreturn $input.all();"
      },
      "id": "3ac060d1-0d2d-48fd-9a09-1903886f6ba1",
      "name": "Gesendet merken",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        7152
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.processedCount }}",
              "operation": "largerEqual",
              "value2": "={{ $json.totalCompanies }}"
            }
          ]
        }
      },
      "id": "142e24a3-5bca-431c-b7da-1cce93ad6c8c",
      "name": "Alle verarbeitet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2464,
        7344
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * 1-5"
            }
          ]
        }
      },
      "id": "9d7b0016-edb0-49b4-952d-4edf3945bce9",
      "name": "Cron Trigger (BLA)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3536,
        7344
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Unternehmen laden": {
      "main": [
        [
          {
            "node": "FX Kurse laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Einzeln verarbeiten": {
      "main": [
        [
          {
            "node": "Kursdaten holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kursdaten holen": {
      "main": [
        [
          {
            "node": "Signal pruefen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signal pruefen": {
      "main": [
        [
          {
            "node": "Alle verarbeitet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signale aufbereiten": {
      "main": [
        [
          {
            "node": "Hat Signale?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hat Signale?": {
      "main": [
        [
          {
            "node": "Telegram senden",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Keine Signale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FX Kurse laden": {
      "main": [
        [
          {
            "node": "Einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram senden": {
      "main": [
        [
          {
            "node": "Gesendet merken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alle verarbeitet?": {
      "main": [
        [
          {
            "node": "Signale aufbereiten",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Trigger (BLA)": {
      "main": [
        [
          {
            "node": "Unternehmen laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ba6c99b4-8eb4-430c-9ca6-f0778152c56c",
  "meta": {
    "instanceId": "64094ca7a5a36732f288d31f7506b6a12e6d968330cffbf858779324b78b092f"
  },
  "id": "ZzJElfj60ZQPJOlk",
  "tags": []
}