n8n/workflows/aktien/dividendenaktien-analyse.json
{
  "name": "Aktien Dividenden Analyse",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 21 * * 0-4"
            }
          ]
        }
      },
      "id": "5f05d227-0707-4df0-8fd5-cef68e780b79",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -192,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.results = [];\n\nconst companies = [\n  {id:1,name:'Cisco Systems',isin:'US17275R1023',branche:'Technologie',url:'https://www.ariva.de/aktien/cisco-systems-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:2,name:'Bristol Myers Squibb',isin:'US1101221083',branche:'Pharma',url:'https://www.ariva.de/aktien/bristol-myers-squibb-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:3,name:'Air Products & Chemicals',isin:'US0091581068',branche:'Chemie',url:'https://www.ariva.de/aktien/air-products-chemicals-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:4,name:'Keurig Dr Pepper',isin:'US49271V1008',branche:'Konsumgüter/Getränke',url:'https://www.ariva.de/aktien/keurig-dr-pepper-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:5,name:'Royal Gold',isin:'US7802871084',branche:'Bergbau (Edelmetalle)',url:'https://www.ariva.de/aktien/royal-gold-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:6,name:'Republic Services',isin:'US7607591002',branche:'Entsorgung',url:'https://www.ariva.de/aktien/republic-services-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:7,name:'GE Vernova',isin:'US36828A1016',branche:'Energie',url:'https://www.ariva.de/aktien/ge-vernova-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:8,name:'Dollar General',isin:'US2566771059',branche:'Einzelhandel',url:'https://www.ariva.de/aktien/dollar-general-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:9,name:'General Mills',isin:'US3703341046',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/general-mills-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:10,name:'Oracle',isin:'US68389X1054',branche:'Technologie',url:'https://www.ariva.de/aktien/oracle-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:11,name:'Marvell Technology',isin:'US5738741041',branche:'Halbleiter',url:'https://www.ariva.de/aktien/marvell-technology-group-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:12,name:'Intuit',isin:'US4612021034',branche:'Technologie/Software',url:'https://www.ariva.de/aktien/intuit-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:13,name:'GE HealthCare Technologies',isin:'US36266G1076',branche:'Medizintechnik',url:'https://www.ariva.de/aktien/ge-healthcare-technologies-inc-ordinary-shares-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:14,name:'AT&T',isin:'US00206R1023',branche:'Telekommunikation',url:'https://www.ariva.de/aktien/at-t-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:15,name:'Verizon',isin:'US92343V1044',branche:'Telekommunikation',url:'https://www.ariva.de/aktien/verizon-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:16,name:'Iberdrola',isin:'ES0144580Y14',branche:'Versorger',url:'https://www.ariva.de/aktien/iberdrola-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:17,name:'Hormel Foods',isin:'US4404521001',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/hormel-foods-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:18,name:'Repsol',isin:'ES0173516115',branche:'Energie',url:'https://www.ariva.de/aktien/repsol-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:19,name:'Accenture',isin:'IE00B4BNMY34',branche:'IT-Dienstleistungen',url:'https://www.ariva.de/aktien/accenture-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:20,name:'Kering',isin:'FR0000121485',branche:'Luxusgüter',url:'https://www.ariva.de/aktien/kering-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:21,name:'Comcast',isin:'US20030N1019',branche:'Medien/Telekommunikation',url:'https://www.ariva.de/aktien/comcast-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:22,name:'Abbott Laboratories',isin:'US0028241000',branche:'Gesundheitswesen',url:'https://www.ariva.de/aktien/abbott-laboratories-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:23,name:'Freeport-McMoRan',isin:'US35671D8570',branche:'Bergbau',url:'https://www.ariva.de/aktien/freeport-mcmoran-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:24,name:'Ryanair',isin:'IE00BYTBXV33',branche:'Luftfahrt',url:'https://www.ariva.de/aktien/ryanair-holdings-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:25,name:'AbbVie',isin:'US00287Y1091',branche:'Pharma',url:'https://www.ariva.de/aktien/abbvie-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:26,name:'General Dynamics',isin:'US3695501086',branche:'Rüstung',url:'https://www.ariva.de/aktien/general-dynamics-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:27,name:'Enel',isin:'IT0003128367',branche:'Versorger',url:'https://www.ariva.de/aktien/enel-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:28,name:'Caterpillar',isin:'US1491231015',branche:'Industrie/Maschinenbau',url:'https://www.ariva.de/aktien/caterpillar-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:29,name:'Zoetis',isin:'US98978V1035',branche:'Tiermedizin',url:'https://www.ariva.de/aktien/zoetis-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:30,name:'Dell Technologies',isin:'US24703L2025',branche:'Technologie',url:'https://www.ariva.de/aktien/dell-technologies-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:31,name:'Carrier Global',isin:'US14448C1045',branche:'Industrie/Klima',url:'https://www.ariva.de/aktien/carrier-global-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:32,name:'Colgate-Palmolive',isin:'US1941621039',branche:'Konsumgüter',url:'https://www.ariva.de/aktien/colgate-palmolive-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:33,name:'Lowe\\'s Companies',isin:'US5486611073',branche:'Heimwerkereinzelhandel',url:'https://www.ariva.de/aktien/lowe-s-companies-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:34,name:'CVS Health',isin:'US1266501006',branche:'Gesundheitsversorgung',url:'https://www.ariva.de/aktien/cvs-health-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:35,name:'Procter & Gamble',isin:'US7427181091',branche:'Konsumgüter',url:'https://www.ariva.de/aktien/procter-gamble-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:36,name:'Pfizer',isin:'US7170811035',branche:'Pharma',url:'https://www.ariva.de/aktien/pfizer-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:37,name:'Clorox',isin:'US1890541097',branche:'Konsumgüter',url:'https://www.ariva.de/aktien/clorox-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:38,name:'Paychex',isin:'US7043261079',branche:'HR-Software/Industrie',url:'https://www.ariva.de/aktien/paychex-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:39,name:'Fastenal',isin:'US3119001044',branche:'Industrie/Handel',url:'https://www.ariva.de/aktien/fastenal-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:40,name:'Constellation Brands',isin:'US21036P1084',branche:'Getränke',url:'https://www.ariva.de/aktien/constellation-brands-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:41,name:'Realty Income',isin:'US7561091049',branche:'Immobilien (REIT)',url:'https://www.ariva.de/aktien/realty-income-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:42,name:'Texas Instruments',isin:'US8825081040',branche:'Halbleiter',url:'https://www.ariva.de/aktien/texas-instruments-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:43,name:'Costco Wholesale',isin:'US22160K1051',branche:'Einzelhandel',url:'https://www.ariva.de/aktien/costco-wholesale-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:44,name:'EPR Properties',isin:'US26884U1097',branche:'Immobilien (REIT)',url:'https://www.ariva.de/aktien/epr-properties-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:45,name:'NNN REIT',isin:'US6374171063',branche:'Immobilien (REIT)',url:'https://www.ariva.de/aktien/nnn-reit-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:46,name:'Agree Realty',isin:'US0084921008',branche:'Immobilien (REIT)',url:'https://www.ariva.de/aktien/agree-realty-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:47,name:'Tanger Factory Outlet',isin:'US8754781031',branche:'Immobilien (REIT)',url:'https://www.ariva.de/aktien/tanger-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:48,name:'thyssenkrupp',isin:'DE0007500001',branche:'Industrie/Stahl',url:'https://www.ariva.de/aktien/thyssenkrupp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:49,name:'Nokia',isin:'FI0009000681',branche:'Technologie/Telekommunikation',url:'https://www.ariva.de/aktien/nokia-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:50,name:'Kinder Morgan',isin:'US49456B1017',branche:'Energie/Pipelines',url:'https://www.ariva.de/aktien/kinder-morgan-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:51,name:'ONEOK',isin:'US6826801036',branche:'Energie/Pipelines',url:'https://www.ariva.de/aktien/oneok-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:52,name:'Var Energi',isin:'NO0010835652',branche:'Energie',url:'https://www.ariva.de/aktien/var-energi-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:53,name:'D.R. Horton',isin:'US23331A1097',branche:'Bauwesen',url:'https://www.ariva.de/aktien/dr-horton-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:54,name:'Siemens Healthineers',isin:'DE000SHL1006',branche:'Medizintechnik',url:'https://www.ariva.de/aktien/siemens-healthineers-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:55,name:'Parker-Hannifin',isin:'US7010941042',branche:'Industrie',url:'https://www.ariva.de/aktien/parker-hannifin-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:56,name:'Cheniere Energy',isin:'US16411R2085',branche:'Energie (LNG)',url:'https://www.ariva.de/aktien/cheniere-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:57,name:'Apple',isin:'US0378331005',branche:'Technologie',url:'https://www.ariva.de/aktien/apple-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:58,name:'ASML Holding',isin:'NL0010273215',branche:'Halbleiter',url:'https://www.ariva.de/aktien/asml-holding-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:59,name:'Omega Healthcare',isin:'US6819361006',branche:'Gesundheitsimmobilien (REIT)',url:'https://www.ariva.de/aktien/omega-healthcare-investors-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:60,name:'IBM',isin:'US4592001014',branche:'Technologie',url:'https://www.ariva.de/aktien/ibm-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:61,name:'American Water Works',isin:'US0304201033',branche:'Versorger',url:'https://www.ariva.de/aktien/american-water-works-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:62,name:'Target',isin:'US87612E1064',branche:'Einzelhandel',url:'https://www.ariva.de/aktien/target-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:63,name:'ExxonMobil',isin:'US30231G1022',branche:'Energie',url:'https://www.ariva.de/aktien/exxon-mobil-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:64,name:'3M',isin:'US88579Y1010',branche:'Industrie/Konglomerat',url:'https://www.ariva.de/aktien/3m-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:65,name:'Siemens',isin:'DE0007236101',branche:'Industrie/Technologie',url:'https://www.ariva.de/aktien/siemens-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:66,name:'Starbucks',isin:'US8552441094',branche:'Gastronomie',url:'https://www.ariva.de/aktien/starbucks-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:67,name:'Eli Lilly',isin:'US5324571083',branche:'Pharma',url:'https://www.ariva.de/aktien/eli-lilly-and-company-ltd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:68,name:'Amgen',isin:'US0311621009',branche:'Biotechnologie',url:'https://www.ariva.de/aktien/amgen-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:69,name:'Church & Dwight',isin:'US1713401024',branche:'Konsumgüter',url:'https://www.ariva.de/aktien/church-dwight-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:70,name:'Cintas',isin:'US1729081059',branche:'Industrie/Dienstleistungen',url:'https://www.ariva.de/aktien/cintas-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:71,name:'Aurubis',isin:'DE0006766504',branche:'Metalle/Kupfer',url:'https://www.ariva.de/aktien/aurubis-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:72,name:'Ford Motor',isin:'US3453708600',branche:'Automobil',url:'https://www.ariva.de/aktien/ford-motor-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:73,name:'Kroger',isin:'US5010441013',branche:'Lebensmitteleinzelhandel',url:'https://www.ariva.de/aktien/kroger-company-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:74,name:'J.M. Smucker',isin:'US8326964058',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/jm-smucker-company-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:75,name:'Teradyne',isin:'US8807701029',branche:'Technologie/Testgeräte',url:'https://www.ariva.de/aktien/teradyne-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:76,name:'Equinor',isin:'NO0010096985',branche:'Energie',url:'https://www.ariva.de/aktien/equinor-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:77,name:'Hermès',isin:'FR0000052292',branche:'Luxusgüter',url:'https://www.ariva.de/aktien/hermes-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:78,name:'Aker BP',isin:'NO0010345853',branche:'Energie',url:'https://www.ariva.de/aktien/aker-bp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:79,name:'Chevron',isin:'US1667641005',branche:'Energie',url:'https://www.ariva.de/aktien/chevron-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:80,name:'United Parcel Service',isin:'US9113121068',branche:'Logistik',url:'https://www.ariva.de/aktien/united-parcel-service-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:81,name:'Hershey',isin:'US4278661081',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/hershey-company-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:82,name:'Archer Daniels Midland',isin:'US0394831020',branche:'Agrar/Lebensmittel',url:'https://www.ariva.de/aktien/archer-daniels-midland-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:83,name:'Enbridge',isin:'CA29250N1050',branche:'Energie/Pipelines',url:'https://www.ariva.de/aktien/enbridge-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:84,name:'KLA Corporation',isin:'US4824801009',branche:'Halbleiter',url:'https://www.ariva.de/aktien/kla-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:85,name:'ConocoPhillips',isin:'US20825C1045',branche:'Energie',url:'https://www.ariva.de/aktien/conocophillips-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:86,name:'Hasbro',isin:'US4180561072',branche:'Spielzeug/Unterhaltung',url:'https://www.ariva.de/aktien/hasbro-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:87,name:'Microsoft',isin:'US5949181045',branche:'Technologie',url:'https://www.ariva.de/aktien/microsoft-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:88,name:'Shell',isin:'GB00BP6MXD84',branche:'Energie',url:'https://www.ariva.de/aktien/shell-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:89,name:'BP',isin:'GB0007980591',branche:'Energie',url:'https://www.ariva.de/aktien/bp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:90,name:'Imperial Brands',isin:'GB0004544929',branche:'Tabak',url:'https://www.ariva.de/aktien/imperial-brands-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:91,name:'GlaxoSmithKline',isin:'GB0009252882',branche:'Pharma',url:'https://www.ariva.de/aktien/glaxosmithkline-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:92,name:'Applied Materials',isin:'US0382221051',branche:'Halbleiter',url:'https://www.ariva.de/aktien/applied-materials-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:93,name:'AstraZeneca',isin:'GB0009895292',branche:'Pharma',url:'https://www.ariva.de/aktien/astrazeneca-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:94,name:'EasyJet',isin:'GB0002875804',branche:'Luftfahrt',url:'https://www.ariva.de/aktien/easyjet-plc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:95,name:'Infineon Technologies',isin:'DE0006231004',branche:'Halbleiter',url:'https://www.ariva.de/aktien/infineon-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:96,name:'Mowi',isin:'NO0003054108',branche:'Lebensmittel (Fisch)',url:'https://www.ariva.de/aktien/mowi-asa-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:97,name:'RTX',isin:'US75513E1010',branche:'Rüstung/Luft- und Raumfahrt',url:'https://www.ariva.de/aktien/rtx-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:98,name:'Regeneron Pharmaceuticals',isin:'US75886F1075',branche:'Biotechnologie',url:'https://www.ariva.de/aktien/regeneron-pharmaceuticals-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:99,name:'Yum! Brands',isin:'US9884981013',branche:'Gastronomie',url:'https://www.ariva.de/aktien/yum-brands-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:100,name:'Northrop Grumman',isin:'US6668071029',branche:'Rüstung',url:'https://www.ariva.de/aktien/northrop-grumman-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:101,name:'Organon',isin:'US68622V1061',branche:'Pharma',url:'https://www.ariva.de/aktien/organon-co-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:102,name:'Johnson & Johnson',isin:'US4781601046',branche:'Gesundheitswesen',url:'https://www.ariva.de/aktien/johnson-johnson-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:103,name:'Xylem',isin:'US98419M1009',branche:'Wasserversorgung/Industrie',url:'https://www.ariva.de/aktien/xylem-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:104,name:'Skyworks Solutions',isin:'US83088M1027',branche:'Halbleiter',url:'https://www.ariva.de/aktien/skyworks-solutions-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:105,name:'Snap-on',isin:'US8330341012',branche:'Werkzeuge/Industrie',url:'https://www.ariva.de/aktien/snap-on-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:106,name:'Tractor Supply',isin:'US8923561061',branche:'Einzelhandel',url:'https://www.ariva.de/aktien/tractor-supply-company-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:107,name:'Equinix',isin:'US29444U7000',branche:'Rechenzentren (REIT)',url:'https://www.ariva.de/aktien/equinix-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:108,name:'Unilever',isin:'GB00B10RZP78',branche:'Konsumgüter',url:'https://www.ariva.de/aktien/unilever-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:109,name:'Delta Air Lines',isin:'US2473617023',branche:'Luftfahrt',url:'https://www.ariva.de/aktien/delta-air-lines-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:110,name:'Nextera Energy',isin:'US65339F1012',branche:'Versorger',url:'https://www.ariva.de/aktien/nextera-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:111,name:'Union Pacific',isin:'US9078181081',branche:'Eisenbahn',url:'https://www.ariva.de/aktien/union-pacific-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:112,name:'Barrick Mining',isin:'CA0679011084',branche:'Bergbau (Gold)',url:'https://www.ariva.de/aktien/barrick-gold-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:113,name:'T-Mobile US',isin:'US8725901040',branche:'Telekommunikation',url:'https://www.ariva.de/aktien/t-mobile-us-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:114,name:'First Majestic Silver',isin:'CA32076V1031',branche:'Bergbau (Silber)',url:'https://www.ariva.de/aktien/first-majestic-silver-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:115,name:'Estee Lauder',isin:'US5184391044',branche:'Kosmetik',url:'https://www.ariva.de/aktien/estee-lauder-companies-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:116,name:'Dow Inc.',isin:'US2605571031',branche:'Chemie',url:'https://www.ariva.de/aktien/dow-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:117,name:'Honeywell',isin:'US4385161066',branche:'Industrie/Technologie',url:'https://www.ariva.de/aktien/honeywell-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:118,name:'Nike',isin:'US6541061031',branche:'Sportartikel',url:'https://www.ariva.de/aktien/nike-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:119,name:'Lockheed Martin',isin:'US5398301094',branche:'Rüstung',url:'https://www.ariva.de/aktien/lockheed-martin-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:120,name:'Höegh Autoliners',isin:'NO0010119947',branche:'Schifffahrt',url:'https://www.ariva.de/aktien/hoegh-autoliners-asa-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:121,name:'Pan American Silver',isin:'CA6979001089',branche:'Bergbau (Silber)',url:'https://www.ariva.de/aktien/pan-american-silver-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:122,name:'Agnico Eagle Mines',isin:'CA0084741085',branche:'Bergbau (Gold)',url:'https://www.ariva.de/aktien/agnico-eagle-mines-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:123,name:'Fortescue',isin:'AU000000FMG4',branche:'Bergbau (Eisenerz)',url:'https://www.ariva.de/aktien/fortescue-ltd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:124,name:'LyondellBasell Industries',isin:'NL0009434992',branche:'Chemie',url:'https://www.ariva.de/aktien/lyondellbasell-industries-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:125,name:'Sherwin-Williams',isin:'US8243481061',branche:'Farben/Baustoffe',url:'https://www.ariva.de/aktien/sherwin-williams-company-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:126,name:'McDonald\\'s',isin:'US5801351017',branche:'Gastronomie',url:'https://www.ariva.de/aktien/mcdonalds-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:127,name:'Newmont',isin:'US6516391066',branche:'Bergbau (Gold)',url:'https://www.ariva.de/aktien/newmont-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:128,name:'Lam Research',isin:'US5128071082',branche:'Halbleiter',url:'https://www.ariva.de/aktien/lam-research-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:129,name:'Old Dominion Freight Line',isin:'US6795801009',branche:'Logistik',url:'https://www.ariva.de/aktien/old-dominion-freight-line-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:130,name:'Rio Tinto',isin:'GB0007188757',branche:'Bergbau',url:'https://www.ariva.de/aktien/rio-tinto-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:131,name:'Qualcomm',isin:'US7475251036',branche:'Halbleiter',url:'https://www.ariva.de/aktien/qualcomm-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:132,name:'BHP',isin:'AU000000BHP4',branche:'Bergbau',url:'https://www.ariva.de/aktien/bhp-group-ltd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:133,name:'Western Digital',isin:'US9581021055',branche:'Technologie (Datenspeicher)',url:'https://www.ariva.de/aktien/western-digital-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:134,name:'PepsiCo',isin:'US7134481081',branche:'Lebensmittel/Getränke',url:'https://www.ariva.de/aktien/pepsico-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:135,name:'Kraft Heinz',isin:'US5007541064',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/kraft-heinz-company-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:136,name:'Kimberly-Clark',isin:'US4943681035',branche:'Konsumgüter',url:'https://www.ariva.de/aktien/kimberly-clark-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:137,name:'eBay',isin:'US2786421030',branche:'E-Commerce',url:'https://www.ariva.de/aktien/eli-lilly-and-company-ltd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:138,name:'B2Gold',isin:'CA11777Q2099',branche:'Bergbau (Gold)',url:'https://www.ariva.de/aktien/b2gold-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:139,name:'General Motors',isin:'US37045V1008',branche:'Automobil',url:'https://www.ariva.de/aktien/general-motors-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:140,name:'L3Harris Technologies',isin:'US5024311095',branche:'Rüstung',url:'https://www.ariva.de/aktien/l3-harris-technologies-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:141,name:'Royal Caribbean Cruises',isin:'LR0008862868',branche:'Kreuzfahrt/Touristik',url:'https://www.ariva.de/aktien/royal-caribbean-group-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:142,name:'Alphabet A',isin:'US02079K3059',branche:'Technologie',url:'https://www.ariva.de/aktien/alphabet-a-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:143,name:'UnitedHealth',isin:'US91324P1021',branche:'Gesundheitsversorgung',url:'https://www.ariva.de/aktien/unitedhealth-group-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:144,name:'Viatris',isin:'US92556V1061',branche:'Pharma',url:'https://www.ariva.de/aktien/viatris-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:145,name:'GE Aerospace',isin:'US3696043013',branche:'Luft- und Raumfahrt',url:'https://www.ariva.de/aktien/general-aerospace-co-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:146,name:'FedEx',isin:'US31428X1063',branche:'Logistik',url:'https://www.ariva.de/aktien/fedex-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:147,name:'Constellation Energy',isin:'US21037T1097',branche:'Energie/Versorger',url:'https://www.ariva.de/aktien/constellation-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:148,name:'Hecla Mining',isin:'US4228531031',branche:'Bergbau (Silber)',url:'https://www.ariva.de/aktien/hecla-mining-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:149,name:'Occidental Petroleum',isin:'US6745991058',branche:'Energie',url:'https://www.ariva.de/aktien/occidental-petroleum-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:150,name:'Novartis',isin:'CH0012005267',branche:'Pharma',url:'https://www.ariva.de/aktien/novartis-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:151,name:'Canadian National Railway',isin:'CA1363751027',branche:'Eisenbahn',url:'https://www.ariva.de/aktien/canadian-national-railway-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:152,name:'Stanley Black & Decker',isin:'US8545021011',branche:'Werkzeuge/Industrie',url:'https://www.ariva.de/aktien/stanley-black-decker-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:153,name:'Weyerhaeuser',isin:'US9621661043',branche:'Forst/Immobilien (REIT)',url:'https://www.ariva.de/aktien/weyerhaeuser-company-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:154,name:'Simon Property Group',isin:'US8288071091',branche:'Immobilien (REIT)',url:'https://www.ariva.de/aktien/simon-property-group-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:155,name:'Nvidia',isin:'US67066G1040',branche:'Halbleiter',url:'https://www.ariva.de/aktien/nvidia-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:156,name:'Linde plc',isin:'IE000S9YS762',branche:'Industrie/Gase',url:'https://www.ariva.de/aktien/linde-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:157,name:'HP Inc.',isin:'US40434L1052',branche:'Technologie',url:'https://www.ariva.de/aktien/hp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:158,name:'Coca-Cola',isin:'US1912161007',branche:'Getränke',url:'https://www.ariva.de/aktien/coca-cola-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:159,name:'Waste Management',isin:'US94106L1098',branche:'Entsorgung',url:'https://www.ariva.de/aktien/waste-management-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:160,name:'Thermo Fisher Scientific',isin:'US8835561023',branche:'Labortechnologie',url:'https://www.ariva.de/aktien/thermo-fisher-scientific-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:161,name:'Albemarle',isin:'US0126531013',branche:'Chemie (Lithium)',url:'https://www.ariva.de/aktien/albemarle-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:162,name:'Automatic Data Processing',isin:'US0530151036',branche:'HR/IT-Dienstleistungen',url:'https://www.ariva.de/aktien/automatic-data-processing-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:163,name:'Gilead Sciences',isin:'US3755581036',branche:'Biotechnologie',url:'https://www.ariva.de/aktien/gilead-sciences-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:164,name:'Digital Realty Trust',isin:'US2538681030',branche:'Rechenzentren (REIT)',url:'https://www.ariva.de/aktien/digital-realty-trust-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:165,name:'Domino\\'s Pizza',isin:'US25754A2015',branche:'Gastronomie',url:'https://www.ariva.de/aktien/dominos-pizza-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:166,name:'Crown Castle',isin:'US22822V1017',branche:'Telekommunikation (REIT)',url:'https://www.ariva.de/aktien/crown-castle-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:167,name:'Devon Energy',isin:'US25179M1036',branche:'Energie',url:'https://www.ariva.de/aktien/devon-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:168,name:'Meta Platforms',isin:'US30303M1027',branche:'Technologie',url:'https://www.ariva.de/aktien/meta-platforms-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:169,name:'Merck & Co.',isin:'US58933Y1055',branche:'Pharma',url:'https://www.ariva.de/aktien/merck-co-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:170,name:'Iron Mountain',isin:'US46284V1017',branche:'Datenmgmt. (REIT)',url:'https://www.ariva.de/aktien/iron-mountain-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:171,name:'Public Storage',isin:'US74460D1090',branche:'Lagerimmobilien (REIT)',url:'https://www.ariva.de/aktien/public-storage-reit-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:172,name:'Pembina Pipeline',isin:'CA7063271034',branche:'Energie/Pipelines',url:'https://www.ariva.de/aktien/pembina-pipeline-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:173,name:'TSMC (ADR)',isin:'US8740391003',branche:'Halbleiter',url:'https://www.ariva.de/aktien/taiwan-semiconductor-manufacturing-co-ltd-adr-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:174,name:'Vertiv',isin:'US92537N1081',branche:'Rechenzentren/Infrastruktur',url:'https://www.ariva.de/aktien/vertiv-holdings-co-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:175,name:'Prologis',isin:'US74340W1036',branche:'Logistikimmobilien (REIT)',url:'https://www.ariva.de/aktien/prologis-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:176,name:'Texas Roadhouse',isin:'US8821891053',branche:'Gastronomie',url:'https://www.ariva.de/aktien/texas-roadhouse-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:177,name:'Philip Morris',isin:'US7181721090',branche:'Tabak',url:'https://www.ariva.de/aktien/philip-morris-international-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:178,name:'VICI Properties',isin:'US9256521090',branche:'Immobilien/Gaming (REIT)',url:'https://www.ariva.de/aktien/vici-properties-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:179,name:'Walmart',isin:'US9311421039',branche:'Einzelhandel',url:'https://www.ariva.de/aktien/walmart-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:180,name:'ZIM Integrated Shipping',isin:'IL0011338814',branche:'Schifffahrt',url:'https://www.ariva.de/aktien/zim-integrated-shipping-services-ltd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:181,name:'Canadian Natural Resources',isin:'CA1363851017',branche:'Energie',url:'https://www.ariva.de/aktien/canadian-natural-resources-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:182,name:'Broadcom',isin:'US11135F1012',branche:'Halbleiter',url:'https://www.ariva.de/aktien/broadcom-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:183,name:'MPC Container Ships',isin:'NO0010791353',branche:'Schifffahrt',url:'https://www.ariva.de/aktien/mpc-container-ships-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:184,name:'Deutsche Telekom',isin:'DE0005557508',branche:'Telekommunikation',url:'https://www.ariva.de/aktien/deutsche-telekom-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:185,name:'Mercedes-Benz',isin:'DE0007100000',branche:'Automobil',url:'https://www.ariva.de/aktien/mercedes-benz-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:186,name:'Nestlé',isin:'CH0038863350',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/nestle-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:187,name:'Airbus',isin:'NL0000235190',branche:'Luft- und Raumfahrt',url:'https://www.ariva.de/aktien/airbus-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:188,name:'Ferrari',isin:'NL0011585146',branche:'Automobil',url:'https://www.ariva.de/aktien/ferrari-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:189,name:'Vinci',isin:'FR0000125486',branche:'Infrastruktur/Bau',url:'https://www.ariva.de/aktien/vinci-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:190,name:'Stellantis',isin:'NL00150001Q9',branche:'Automobil',url:'https://www.ariva.de/aktien/stellantis-nv-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:191,name:'E.ON',isin:'DE000ENAG999',branche:'Versorger',url:'https://www.ariva.de/aktien/e-on-se-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:192,name:'Beiersdorf',isin:'DE0005200000',branche:'Konsumgüter',url:'https://www.ariva.de/aktien/beiersdorf-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:193,name:'Schaeffler',isin:'DE000SHA0159',branche:'Automobilzulieferer',url:'https://www.ariva.de/aktien/schaeffler-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:194,name:'Engie',isin:'FR0010208488',branche:'Versorger',url:'https://www.ariva.de/aktien/engie-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:195,name:'L\\'Oréal',isin:'FR0000120321',branche:'Kosmetik',url:'https://www.ariva.de/aktien/loreal-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:196,name:'LVMH',isin:'FR0000121014',branche:'Luxusgüter',url:'https://www.ariva.de/aktien/lvmh-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:197,name:'Heineken',isin:'NL0000009165',branche:'Getränke',url:'https://www.ariva.de/aktien/heineken-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:198,name:'Sanofi',isin:'FR0000120578',branche:'Pharma',url:'https://www.ariva.de/aktien/sanofi-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:199,name:'SAP',isin:'DE0007164600',branche:'Technologie',url:'https://www.ariva.de/aktien/sap-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:200,name:'Deutsche Post (DHL Group)',isin:'DE0005552004',branche:'Logistik',url:'https://www.ariva.de/aktien/deutsche-post-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:201,name:'AB InBev',isin:'BE0974293251',branche:'Getränke',url:'https://www.ariva.de/aktien/anheuser-busch-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:202,name:'Daimler Truck',isin:'DE000DTR0CK8',branche:'Automobil',url:'https://www.ariva.de/aktien/daimler-truck-holding-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:203,name:'Symrise',isin:'DE000SYM9999',branche:'Chemie/Duftstoffe',url:'https://www.ariva.de/aktien/symrise-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:204,name:'adidas',isin:'DE000A1EWWW0',branche:'Sportartikel',url:'https://www.ariva.de/aktien/adidas-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:205,name:'MTU Aero Engines',isin:'DE000A0D9PT0',branche:'Luft- und Raumfahrt',url:'https://www.ariva.de/aktien/mtu-aero-engines-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:206,name:'Allianz',isin:'DE0008404005',branche:'Versicherung',url:'https://www.ariva.de/aktien/allianz-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:207,name:'Münchener Rück',isin:'DE0008430026',branche:'Versicherung/Rückversicherung',url:'https://www.ariva.de/aktien/muenchner-rueckversicherungs-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:208,name:'Hannover Rück',isin:'DE0008402215',branche:'Versicherung/Rückversicherung',url:'https://www.ariva.de/aktien/hannover-rueck-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:209,name:'Talanx',isin:'DE000TLX1005',branche:'Versicherung',url:'https://www.ariva.de/aktien/talanx-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:210,name:'Swiss Re',isin:'CH0126881561',branche:'Versicherung/Rückversicherung',url:'https://www.ariva.de/aktien/swiss-re-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:211,name:'Zurich Insurance',isin:'CH0011075394',branche:'Versicherung',url:'https://www.ariva.de/aktien/zurich-insurance-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:212,name:'AXA',isin:'FR0000120628',branche:'Versicherung',url:'https://www.ariva.de/aktien/axa-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:213,name:'Legal & General',isin:'GB0005603997',branche:'Versicherung',url:'https://www.ariva.de/aktien/legal-general-group-plc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:214,name:'Ping An Insurance H',isin:'CNE1000003X6',branche:'Versicherung',url:'https://www.ariva.de/aktien/ping-an-insurance-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:215,name:'Veolia Environnement',isin:'FR0000124141',branche:'Versorger/Entsorgung',url:'https://www.ariva.de/aktien/veolia-environnement-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:216,name:'Schneider Electric',isin:'FR0000121972',branche:'Industrie/Energie',url:'https://www.ariva.de/aktien/schneider-electric-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:217,name:'Air Liquide',isin:'FR0000120073',branche:'Chemie/Gase',url:'https://www.ariva.de/aktien/air-liquide-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:218,name:'Thales',isin:'FR0000121792',branche:'Rüstung/Technologie',url:'https://www.ariva.de/aktien/thales-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:219,name:'Holcim',isin:'CH0012214059',branche:'Baustoffe',url:'https://www.ariva.de/aktien/holcim-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:220,name:'Roche',isin:'CH0012032113',branche:'Pharma',url:'https://www.ariva.de/aktien/roche-holding-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:221,name:'Novo Nordisk B',isin:'DK0060534915',branche:'Pharma',url:'https://www.ariva.de/aktien/novo-nordisk-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:222,name:'Danaher',isin:'US2358511028',branche:'Gesundheitswesen/Technologie',url:'https://www.ariva.de/aktien/danaher-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:223,name:'Medtronic',isin:'IE00BTN1Y115',branche:'Medizintechnik',url:'https://www.ariva.de/aktien/medtronic-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:224,name:'Sartorius',isin:'DE0007165631',branche:'Labortechnologie',url:'https://www.ariva.de/aktien/sartorius-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:225,name:'BASF',isin:'DE000BASF111',branche:'Chemie',url:'https://www.ariva.de/aktien/basf-se-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:226,name:'RWE',isin:'DE0007037129',branche:'Versorger',url:'https://www.ariva.de/aktien/rwe-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:227,name:'Continental',isin:'DE0005439004',branche:'Automobilzulieferer',url:'https://www.ariva.de/aktien/continental-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:228,name:'Hapag-Lloyd',isin:'DE000HLAG475',branche:'Schifffahrt',url:'https://www.ariva.de/aktien/hapag-lloyd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:229,name:'Danone',isin:'FR0000120644',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/danone-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:230,name:'Knorr-Bremse',isin:'DE000KBX1006',branche:'Automobilzulieferer',url:'https://www.ariva.de/aktien/knorr-bremse-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:231,name:'Rheinmetall',isin:'DE0007030009',branche:'Rüstung',url:'https://www.ariva.de/aktien/rheinmetall-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:232,name:'Lufthansa',isin:'DE0008232125',branche:'Luftfahrt',url:'https://www.ariva.de/aktien/lufthansa-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:233,name:'BMW',isin:'DE0005190003',branche:'Automobil',url:'https://www.ariva.de/aktien/bmw-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:234,name:'Heidelberg Materials',isin:'DE0006047004',branche:'Baustoffe',url:'https://www.ariva.de/aktien/heidelberg-materials-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:235,name:'freenet',isin:'DE000A0Z2ZZ5',branche:'Telekommunikation',url:'https://www.ariva.de/aktien/freenet-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:236,name:'Vonovia',isin:'DE000A1ML7J1',branche:'Immobilien',url:'https://www.ariva.de/aktien/vonovia-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:237,name:'Bilfinger',isin:'DE0005909006',branche:'Industrie/Bau',url:'https://www.ariva.de/aktien/bilfinger-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:238,name:'Brenntag',isin:'DE000A1DAHH0',branche:'Chemiehandel',url:'https://www.ariva.de/aktien/brenntag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:239,name:'Fresenius',isin:'DE0005785604',branche:'Gesundheitswesen',url:'https://www.ariva.de/aktien/fuchs_se_vz-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:240,name:'Fresenius Medical Care',isin:'DE0005785802',branche:'Gesundheitswesen',url:'https://www.ariva.de/aktien/fresenius-medical-care-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:241,name:'Wolters Kluwer',isin:'NL0000395903',branche:'Medien/Software',url:'https://www.ariva.de/aktien/wolters-kluwer-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:242,name:'OMV',isin:'AT0000743059',branche:'Energie',url:'https://www.ariva.de/aktien/omv-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:243,name:'Siemens Energy',isin:'DE000ENER6Y0',branche:'Energie',url:'https://www.ariva.de/aktien/siemens-energy-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:244,name:'Volkswagen (Vz)',isin:'DE0007664039',branche:'Automobil',url:'https://www.ariva.de/aktien/volkswagen-vz-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:245,name:'Porsche (Vz)',isin:'DE000PAH0028',branche:'Automobil',url:'https://www.ariva.de/aktien/porsche-automobil-holding-se-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:246,name:'TotalEnergies',isin:'FR0014000MR3',branche:'Energie',url:'https://www.ariva.de/aktien/totalenergies-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:247,name:'Bayer',isin:'DE000BAY0017',branche:'Pharma/Chemie',url:'https://www.ariva.de/aktien/bayer-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:248,name:'Merck Gruppe',isin:'DE0006599905',branche:'Pharma/Chemie',url:'https://www.ariva.de/aktien/merck-kgaa-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:249,name:'VERBUND',isin:'AT0000746409',branche:'Versorger',url:'https://www.ariva.de/aktien/verbund-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:250,name:'Hochtief',isin:'DE0006070006',branche:'Bau/Infrastruktur',url:'https://www.ariva.de/aktien/hochtief-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:251,name:'NXP Semiconductors',isin:'NL0009538784',branche:'Halbleiter',url:'https://www.ariva.de/aktien/nxp-semiconductors-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:252,name:'British American Tobacco',isin:'GB0002875804',branche:'Tabak',url:'https://www.ariva.de/aktien/british-american-tobacco-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:253,name:'A.P. Møller-Mærsk B',isin:'DK0010244508',branche:'Schifffahrt/Logistik',url:'https://www.ariva.de/aktien/a-p-moeller-maersk-ab-b-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:254,name:'Sika',isin:'CH0418792922',branche:'Baustoffe/Chemie',url:'https://www.ariva.de/aktien/sika-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:255,name:'Alimentation Couche-Tard',isin:'CA01626P4033',branche:'Einzelhandel',url:'https://www.ariva.de/aktien/alimentation-couche-tard-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:256,name:'Micron Technology',isin:'US5951121038',branche:'Halbleiter',url:'https://www.ariva.de/aktien/micron-technology-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:257,name:'Itochu',isin:'JP3143600009',branche:'Konglomerat',url:'https://www.ariva.de/aktien/itochu-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:258,name:'Nintendo',isin:'JP3756600007',branche:'Unterhaltungselektronik',url:'https://www.ariva.de/aktien/nintendo-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:259,name:'Sony',isin:'JP3435000009',branche:'Unterhaltungselektronik',url:'https://www.ariva.de/aktien/sony-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:260,name:'Daikin Industries',isin:'JP3481800005',branche:'Industrie/Klimatechnik',url:'https://www.ariva.de/aktien/daikin-industries-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:261,name:'SoftBank',isin:'JP3436100006',branche:'Technologie',url:'https://www.ariva.de/aktien/softbank-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:262,name:'Toyota Motor',isin:'JP3633400001',branche:'Automobil',url:'https://www.ariva.de/aktien/toyota-motor-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:263,name:'Mitsubishi',isin:'JP3898400001',branche:'Konglomerat',url:'https://www.ariva.de/aktien/mitsubishi-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:264,name:'Panasonic',isin:'JP3866800000',branche:'Elektronikindustrie',url:'https://www.ariva.de/aktien/panasonic-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:265,name:'Hitachi',isin:'JP3788600009',branche:'Industrie/Technologie',url:'https://www.ariva.de/aktien/hitachi-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:266,name:'Marubeni',isin:'JP3877600001',branche:'Konglomerat',url:'https://www.ariva.de/aktien/marubeni-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:267,name:'Mitsui & Co.',isin:'JP3893600005',branche:'Konglomerat',url:'https://www.ariva.de/aktien/mitsui-co-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:268,name:'Andritz',isin:'AT0000730007',branche:'Industrie/Maschinenbau',url:'https://www.ariva.de/aktien/andritz-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:269,name:'Deere & Co.',isin:'US2441991054',branche:'Landmaschinen',url:'https://www.ariva.de/aktien/john-deere-company-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:270,name:'Mondelez International',isin:'US6092071058',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/mondelez-international-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:271,name:'Stryker',isin:'US8636671013',branche:'Medizintechnik',url:'https://www.ariva.de/aktien/stryker-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:272,name:'W.P. Carey',isin:'US92936U1097',branche:'Immobilien (REIT)',url:'https://www.ariva.de/aktien/wp-carey-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:273,name:'Innovative Industrial Properties',isin:'US45781V1017',branche:'Immobilien (REIT)',url:'https://www.ariva.de/aktien/innovative-industrial-properties-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:274,name:'Illinois Tool Works',isin:'US4523081093',branche:'Industrie',url:'https://www.ariva.de/aktien/illinois-tool-works-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:275,name:'Alexandria Real Estate',isin:'US0152711091',branche:'Immobilien/Life Sciences (REIT)',url:'https://www.ariva.de/aktien/alexandria-real-estate-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:276,name:'Booking Holdings',isin:'US09857L1089',branche:'Reise/Online-Plattform',url:'https://www.ariva.de/aktien/booking-holdings-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:277,name:'Tyson Foods A',isin:'US9024941034',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/tyson-foods-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:278,name:'ENI',isin:'IT0003132476',branche:'Energie',url:'https://www.ariva.de/aktien/eni-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:279,name:'ABB',isin:'CH0012221716',branche:'Industrie/Elektrotechnik',url:'https://www.ariva.de/aktien/abb-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:280,name:'STMicroelectronics',isin:'NL0000226223',branche:'Halbleiter',url:'https://www.ariva.de/aktien/stmicroelectronics-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:281,name:'Altria Group',isin:'US02209S1033',branche:'Tabak',url:'https://www.ariva.de/aktien/altria-group-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:282,name:'Volkswagen',isin:'DE0007664005',branche:'Automobil',url:'https://www.ariva.de/aktien/volkswagen-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:283,name:'Ecolab',isin:'US2788651006',branche:'Chemie/Industrie',url:'https://www.ariva.de/aktien/ecolab-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:284,name:'STAG Industrial',isin:'US85254J1025',branche:'Industrie-Immobilien (REIT)',url:'https://www.ariva.de/aktien/stag-industrial-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:285,name:'McCormick & Co',isin:'US5797802064',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/mccormick-co-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:286,name:'JD.com',isin:'KYG8208B1014',branche:'E-Commerce',url:'https://www.ariva.de/aktien/jd-com-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:287,name:'Salesforce',isin:'US79466L3024',branche:'Technologie',url:'https://www.ariva.de/aktien/salesforce-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:288,name:'Vestas Wind Systems',isin:'DK0061539921',branche:'Erneuerbare Energie',url:'https://www.ariva.de/aktien/vestas-wind-systems-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:289,name:'Ahold Delhaize',isin:'NL0011794037',branche:'Lebensmitteleinzelhandel',url:'https://www.ariva.de/aktien/ahold-delhaize-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:290,name:'Sandoz',isin:'CH1244734483',branche:'Pharma (Generika)',url:'https://www.ariva.de/aktien/sandoz-group-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:291,name:'American Tower',isin:'US03027X1000',branche:'Telekommunikation (REIT)',url:'https://www.ariva.de/aktien/american-tower-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:292,name:'Davide Campari Milano',isin:'NL0015435975',branche:'Getränke',url:'https://www.ariva.de/aktien/davide-campari-milano-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:293,name:'Prysmian',isin:'IT0004176001',branche:'Kabel/Industrie',url:'https://www.ariva.de/aktien/prysmian-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:294,name:'Diageo',isin:'GB0002374006',branche:'Getränke',url:'https://www.ariva.de/aktien/diageo-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:295,name:'Rolls-Royce',isin:'GB00B63H8491',branche:'Luft- und Raumfahrt',url:'https://www.ariva.de/aktien/rolls-royce-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:296,name:'BAE Systems',isin:'GB0002634946',branche:'Rüstung',url:'https://www.ariva.de/aktien/bae-systems-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:297,name:'Pernod Ricard',isin:'FR0000120693',branche:'Getränke',url:'https://www.ariva.de/aktien/pernod-ricard-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:298,name:'FLEX LNG',isin:'BMG359472021',branche:'Schifffahrt (LNG)',url:'https://www.ariva.de/aktien/flex-lng-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:299,name:'BW LPG',isin:'BMG173841013',branche:'Schifffahrt',url:'https://www.ariva.de/aktien/bw-lpg-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:300,name:'TORM',isin:'DK0060083210',branche:'Schifffahrt',url:'https://www.ariva.de/aktien/torm-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:301,name:'Frontline Ltd',isin:'BMG3682E1921',branche:'Schifffahrt',url:'https://www.ariva.de/aktien/frontline-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:302,name:'Alibaba',isin:'KYG017191142',branche:'E-Commerce/Technologie',url:'https://www.ariva.de/aktien/alibaba-group-holding-ltd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:303,name:'Geely Automobile',isin:'KYG3777B1032',branche:'Automobil',url:'https://www.ariva.de/aktien/geely-automobile-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:304,name:'Orange',isin:'FR0000133308',branche:'Telekommunikation',url:'https://www.ariva.de/aktien/orange-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:305,name:'BYD',isin:'CNE100000296',branche:'Automobil/Elektro',url:'https://www.ariva.de/aktien/byd-co-ltd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:306,name:'Krones',isin:'DE0006335003',branche:'Maschinenbau',url:'https://www.ariva.de/aktien/krones-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:307,name:'Mensch und Maschine',isin:'DE0006580806',branche:'Technologie/CAD',url:'https://www.ariva.de/aktien/mensch-und-maschine-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:308,name:'RENK',isin:'DE000RENK730',branche:'Rüstung/Maschinenbau',url:'https://www.ariva.de/aktien/renk-group-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:309,name:'Scout24',isin:'DE000A12DM80',branche:'Immobilien-Plattform',url:'https://www.ariva.de/aktien/scout24-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:310,name:'Telefónica',isin:'ES0178430E18',branche:'Telekommunikation',url:'https://www.ariva.de/aktien/telefonica-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:311,name:'CD Projekt',isin:'PLCDPRT00015',branche:'Gaming/Technologie',url:'https://www.ariva.de/aktien/cd-projekt-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:312,name:'Shimano',isin:'JP3358000002',branche:'Sportartikel/Industrie',url:'https://www.ariva.de/aktien/shimano-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:313,name:'Samsung Electronics',isin:'KR7005930003',branche:'Technologie',url:'https://www.ariva.de/aktien/samsung-electronics-ltd-adr-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:314,name:'SK Hynix',isin:'KR7000660001',branche:'Halbleiter',url:'https://www.ariva.de/aktien/sk-hynix-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:315,name:'Weichai Power',isin:'CNE1000003C9',branche:'Industrie/Motoren',url:'https://www.ariva.de/aktien/weichai-power-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:316,name:'CK Hutchison Holdings',isin:'KYG217651051',branche:'Konglomerat',url:'https://www.ariva.de/aktien/ck-hutchison-holdings-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:317,name:'National Grid',isin:'GB00BDR05C01',branche:'Versorger',url:'https://www.ariva.de/aktien/national-grid-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:318,name:'Vale',isin:'BRVALEACNOR0',branche:'Bergbau',url:'https://www.ariva.de/aktien/vale-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:320,name:'China Mobile',isin:'HK0941009539',branche:'Telekommunikation',url:'https://www.ariva.de/aktien/china-mobile-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:321,name:'Glencore',isin:'JE00B4T3BW64',branche:'Bergbau/Rohstoffe',url:'https://www.ariva.de/aktien/glencore-plc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:322,name:'Anglo American',isin:'GB00B1XZS820',branche:'Bergbau',url:'https://www.ariva.de/aktien/anglo-american-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:323,name:'Sibanye Stillwater',isin:'ZAE000259701',branche:'Bergbau (Platin/Gold)',url:'https://www.ariva.de/aktien/sibanye-stillwater-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:324,name:'Nutrien',isin:'CA67077M1086',branche:'Düngemittel',url:'https://www.ariva.de/aktien/nutrien-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:325,name:'Wheaton Precious Metals',isin:'CA9628791027',branche:'Bergbau (Edelmetalle)',url:'https://www.ariva.de/aktien/wheaton-precious-metals-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:326,name:'Jardine Matheson',isin:'SG1F51812073',branche:'Konglomerat',url:'https://www.ariva.de/aktien/jardine-matheson-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:327,name:'Kinross Gold',isin:'CA4969024047',branche:'Bergbau (Gold)',url:'https://www.ariva.de/aktien/kinross-gold-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:328,name:'TransAlta',isin:'CA8931011069',branche:'Versorger',url:'https://www.ariva.de/aktien/transalta-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:329,name:'BB Biotech',isin:'CH0038389992',branche:'Biotechnologie',url:'https://www.ariva.de/aktien/bb-biotech-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:330,name:'Leonardo',isin:'IT0003856405',branche:'Rüstung/Luft- und Raumfahrt',url:'https://www.ariva.de/aktien/leonardo-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:331,name:'Evonik Industries',isin:'DE000EVNK013',branche:'Chemie',url:'https://www.ariva.de/aktien/evonik-industries-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:332,name:'Hamborner REIT',isin:'DE0006013006',branche:'Immobilien (REIT)',url:'https://www.ariva.de/aktien/hamborner-reit-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:333,name:'Lenovo Group',isin:'HK0992009065',branche:'Technologie',url:'https://www.ariva.de/aktien/lenovo-group-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:334,name:'Haier Smart Home D',isin:'CNE100003822',branche:'Konsumgüter (Haushaltsgeräte)',url:'https://www.ariva.de/aktien/haier-smart-home-company-ltd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:335,name:'Tencent',isin:'KYG875721634',branche:'Technologie',url:'https://www.ariva.de/aktien/tencent-holdings-ltd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:336,name:'Valterra Platinum',isin:'ZAE000243429',branche:'Bergbau (Platin)',url:'https://www.ariva.de/aktien/northam-platinum-holdings-ltd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:337,name:'Reliance Industries',isin:'US7594701077',branche:'Konglomerat',url:'https://www.ariva.de/aktien/reliance-industries-ltd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:338,name:'Borussia Dortmund',isin:'DE0005493092',branche:'Sport/Unterhaltung',url:'https://www.ariva.de/aktien/borussia-dortmund-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:339,name:'UGI Corp',isin:'US9027881088',branche:'Energie/Versorger',url:'https://www.ariva.de/aktien/ugi-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:340,name:'Extra Space Storage',isin:'US30225T1025',branche:'Lagerimmobilien (REIT)',url:'https://www.ariva.de/aktien/extra-space-storage-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:341,name:'Leggett & Platt',isin:'US5239061030',branche:'Industrie/Konsumgüter',url:'https://www.ariva.de/aktien/leggett-platt-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:342,name:'SL Green Realty',isin:'US78440X8857',branche:'Immobilien (REIT)',url:'https://www.ariva.de/aktien/sl-green-realty-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:343,name:'Northland Power',isin:'CA6663121082',branche:'Erneuerbare Energie',url:'https://www.ariva.de/aktien/northland-power-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:344,name:'LTC Properties',isin:'US5021751020',branche:'Gesundheitsimmobilien (REIT)',url:'https://www.ariva.de/aktien/ltc-properties-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:345,name:'RTL Group',isin:'LU0061462528',branche:'Medien',url:'https://www.ariva.de/aktien/rtl-group-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:346,name:'Rational AG',isin:'DE0007010803',branche:'Industrie/Küchengeräte',url:'https://www.ariva.de/aktien/rational-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:347,name:'Fraport',isin:'DE0005773303',branche:'Infrastruktur/Flughäfen',url:'https://www.ariva.de/aktien/fraport-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:348,name:'Infosys',isin:'INE009A01021',branche:'IT-Dienstleistungen',url:'https://www.ariva.de/aktien/infosys-ltd-adr-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:349,name:'Yara International',isin:'NO0010208051',branche:'Düngemittel/Chemie',url:'https://www.ariva.de/aktien/yara-international-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:350,name:'Emerson Electric',isin:'US2910111044',branche:'Industrie/Technologie',url:'https://www.ariva.de/aktien/emerson-electric-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:351,name:'Eaton Corporation',isin:'IE00B8KQN827',branche:'Industrie/Energie',url:'https://www.ariva.de/aktien/eaton-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:352,name:'Cummins',isin:'US2310211063',branche:'Industrie/Motoren',url:'https://www.ariva.de/aktien/cummins-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:353,name:'Rockwell Automation',isin:'US7739031091',branche:'Industrie/Automatisierung',url:'https://www.ariva.de/aktien/rockwell-automation-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:354,name:'Wabtec Corp',isin:'US9297401088',branche:'Industrie/Bahn',url:'https://www.ariva.de/aktien/wabtec-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:355,name:'Otis Worldwide',isin:'US68902V1070',branche:'Industrie/Aufzüge',url:'https://www.ariva.de/aktien/otis-worldwide-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:356,name:'IDEX',isin:'US45167R1041',branche:'Industrie/Pumpen',url:'https://www.ariva.de/aktien/idex-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:357,name:'Ingersoll Rand',isin:'IE00BK9ZQ967',branche:'Industrie/Kompressoren',url:'https://www.ariva.de/aktien/ingersoll-rand-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:358,name:'Howmet Aerospace',isin:'US4432011082',branche:'Luft- und Raumfahrt',url:'https://www.ariva.de/aktien/howmet-aerospace-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:359,name:'Textron',isin:'US8832031012',branche:'Industrie/Konglomerat',url:'https://www.ariva.de/aktien/textron-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:360,name:'Hubbell',isin:'US4435106049',branche:'Industrie/Elektrotechnik',url:'https://www.ariva.de/aktien/hubbell-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:361,name:'AMETEK',isin:'US0311001004',branche:'Industrie/Messtechnik',url:'https://www.ariva.de/aktien/ametek-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:362,name:'Dover',isin:'US2600031080',branche:'Industrie/Diversifiziert',url:'https://www.ariva.de/aktien/dover-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:363,name:'Fortive',isin:'US34959J1088',branche:'Industrie/Technologie',url:'https://www.ariva.de/aktien/fortive-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:364,name:'Nordson',isin:'US6556641008',branche:'Industrie/Dispersionstechnik',url:'https://www.ariva.de/aktien/nordson-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:365,name:'Allegion',isin:'IE00BFRT3W74',branche:'Industrie/Sicherheit',url:'https://www.ariva.de/aktien/allegion-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:366,name:'Masco',isin:'US5745991068',branche:'Industrie/Bau',url:'https://www.ariva.de/aktien/masco-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:367,name:'Jacobs Solutions',isin:'US46990U1097',branche:'Ingenieurdienstleistungen',url:'https://www.ariva.de/aktien/jacobs-solutions-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:368,name:'TE Connectivity',isin:'CH0102993182',branche:'Elektronik/Konnektivität',url:'https://www.ariva.de/aktien/te-connectivity-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:369,name:'Amphenol',isin:'US0320951017',branche:'Elektronik/Konnektivität',url:'https://www.ariva.de/aktien/amphenol-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:370,name:'Leidos',isin:'US5253271028',branche:'IT/Rüstung',url:'https://www.ariva.de/aktien/leidos-holdings-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:371,name:'Quanta Services',isin:'US74762E1020',branche:'Industrie/Elektrotechnik',url:'https://www.ariva.de/aktien/quanta-services-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:372,name:'EMCOR Group',isin:'US2909221091',branche:'Industrie/Bau',url:'https://www.ariva.de/aktien/emcor-group-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:373,name:'Trane Technologies',isin:'IE00BK9ZQ967',branche:'Industrie/Klima',url:'https://www.ariva.de/aktien/trane-technologies-plc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:374,name:'Pentair',isin:'IE00BLS09M33',branche:'Industrie/Wasser',url:'https://www.ariva.de/aktien/pentair-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:375,name:'A.O. Smith',isin:'US8318652091',branche:'Industrie/Wassererhitzer',url:'https://www.ariva.de/aktien/a-o-smith-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:376,name:'Roper Technologies',isin:'US7763801090',branche:'Industrie/Software',url:'https://www.ariva.de/aktien/roper-technologies-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:377,name:'Huntington Ingalls',isin:'US4468861056',branche:'Rüstung/Schiffbau',url:'https://www.ariva.de/aktien/huntington-ingalls-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:378,name:'Halliburton',isin:'US4069071029',branche:'Energie/Ölservices',url:'https://www.ariva.de/aktien/halliburton-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:379,name:'Baker Hughes',isin:'US05722G1004',branche:'Energie/Ölservices',url:'https://www.ariva.de/aktien/baker-hughes-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:380,name:'Schlumberger',isin:'AN8068571086',branche:'Energie/Ölservices',url:'https://www.ariva.de/aktien/schlumberger-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:381,name:'Phillips 66',isin:'US7185461040',branche:'Energie/Raffinerie',url:'https://www.ariva.de/aktien/phillips-66-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:382,name:'Valero Energy',isin:'US91913Y1001',branche:'Energie/Raffinerie',url:'https://www.ariva.de/aktien/valero-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:383,name:'Marathon Petroleum',isin:'US56585A1025',branche:'Energie/Raffinerie',url:'https://www.ariva.de/aktien/marathon-petroleum-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:384,name:'EQT Corp',isin:'US26884L1098',branche:'Energie/Erdgas',url:'https://www.ariva.de/aktien/eqt-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:385,name:'Coterra Energy',isin:'US1270971039',branche:'Energie/Öl & Gas',url:'https://www.ariva.de/aktien/coterra-energy-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:386,name:'Diamondback Energy',isin:'US25278X1090',branche:'Energie/Öl & Gas',url:'https://www.ariva.de/aktien/diamondback-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:387,name:'Expand Energy',isin:'US1527281035',branche:'Energie/Erdgas',url:'https://www.ariva.de/aktien/expand-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:388,name:'APA Corp',isin:'US03232B1098',branche:'Energie/Öl & Gas',url:'https://www.ariva.de/aktien/apa-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:389,name:'NRG Energy',isin:'US6293775085',branche:'Energie/Versorger',url:'https://www.ariva.de/aktien/nrg-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:390,name:'Vistra',isin:'US92840M1027',branche:'Energie/Versorger',url:'https://www.ariva.de/aktien/vistra-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:391,name:'Williams Companies',isin:'US9694571004',branche:'Energie/Pipelines',url:'https://www.ariva.de/aktien/williams-companies-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:392,name:'Targa Resources',isin:'US87612G1013',branche:'Energie/Pipelines',url:'https://www.ariva.de/aktien/targa-resources-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:393,name:'Duke Energy',isin:'US26441C2044',branche:'Versorger',url:'https://www.ariva.de/aktien/duke-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:394,name:'Southern',isin:'US8425871071',branche:'Versorger',url:'https://www.ariva.de/aktien/southern-co-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:395,name:'Dominion Energy',isin:'US25746U1097',branche:'Versorger',url:'https://www.ariva.de/aktien/dominion-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:396,name:'American Electric Power',isin:'US0255371081',branche:'Versorger',url:'https://www.ariva.de/aktien/american-electric-power-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:397,name:'Exelon',isin:'US30161N1019',branche:'Versorger',url:'https://www.ariva.de/aktien/exelon-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:398,name:'Entergy',isin:'US29364G1031',branche:'Versorger',url:'https://www.ariva.de/aktien/entergy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:399,name:'Xcel Energy',isin:'US9837952009',branche:'Versorger',url:'https://www.ariva.de/aktien/xcel-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:400,name:'Evergy',isin:'US30034W1062',branche:'Versorger',url:'https://www.ariva.de/aktien/evergy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:401,name:'WEC Energy',isin:'US9293775038',branche:'Versorger',url:'https://www.ariva.de/aktien/wec-energy-group-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:402,name:'CMS Energy',isin:'US1258961002',branche:'Versorger',url:'https://www.ariva.de/aktien/cms-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:403,name:'Eversource Energy',isin:'US30040W1080',branche:'Versorger',url:'https://www.ariva.de/aktien/eversource-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:404,name:'AES Corp',isin:'US0081129011',branche:'Versorger',url:'https://www.ariva.de/aktien/aes-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:405,name:'Pinnacle West Capital',isin:'US7234841010',branche:'Versorger',url:'https://www.ariva.de/aktien/pinnacle-west-capital-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:406,name:'Edison International',isin:'US2810954683',branche:'Versorger',url:'https://www.ariva.de/aktien/edison-international-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:407,name:'Firstenergy',isin:'US3374081051',branche:'Versorger',url:'https://www.ariva.de/aktien/firstenergy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:408,name:'NiSource',isin:'US65473P1057',branche:'Versorger',url:'https://www.ariva.de/aktien/nisource-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:409,name:'Alliant Energy',isin:'US0188021085',branche:'Versorger',url:'https://www.ariva.de/aktien/alliant-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:410,name:'Atmos Energy',isin:'US0495601058',branche:'Versorger/Gas',url:'https://www.ariva.de/aktien/atmos-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:411,name:'Ameren Corp',isin:'US0236081024',branche:'Versorger',url:'https://www.ariva.de/aktien/ameren-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:412,name:'PPL',isin:'US6495435109',branche:'Versorger',url:'https://www.ariva.de/aktien/ppl-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:413,name:'Public Service Enterprise',isin:'US7445731067',branche:'Versorger',url:'https://www.ariva.de/aktien/public-service-enterprise-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:414,name:'CenterPoint Energy',isin:'US15189T1079',branche:'Versorger/Gas',url:'https://www.ariva.de/aktien/centerpoint-energy-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:415,name:'DTE Energy',isin:'US2333311072',branche:'Versorger',url:'https://www.ariva.de/aktien/dte-energy-company-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:416,name:'PG&E',isin:'US69331C1080',branche:'Versorger',url:'https://www.ariva.de/aktien/pg-e-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:417,name:'Consolidated Edison',isin:'US2091151041',branche:'Versorger',url:'https://www.ariva.de/aktien/consolidated-edison-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:418,name:'Becton Dickinson',isin:'US0758961009',branche:'Medizintechnik',url:'https://www.ariva.de/aktien/becton-dickinson-and-co-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:419,name:'Zimmer Biomet',isin:'US98956P1021',branche:'Medizintechnik',url:'https://www.ariva.de/aktien/zimmer-biomet-holdings-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:420,name:'Steris',isin:'IE00BFT00B44',branche:'Medizintechnik',url:'https://www.ariva.de/aktien/steris-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:421,name:'ResMed',isin:'US7611521078',branche:'Medizintechnik',url:'https://www.ariva.de/aktien/resmed-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:422,name:'West Pharmaceutical',isin:'US9553061055',branche:'Medizintechnik',url:'https://www.ariva.de/aktien/west-pharmaceutical-services-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:423,name:'HCA Holdings',isin:'US40412C1018',branche:'Gesundheitsversorgung',url:'https://www.ariva.de/aktien/hca-holdings-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:424,name:'Universal Health Services',isin:'US9139031002',branche:'Gesundheitsversorgung',url:'https://www.ariva.de/aktien/universal-health-services-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:425,name:'Humana',isin:'US4448061029',branche:'Gesundheitsversorgung',url:'https://www.ariva.de/aktien/humana-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:426,name:'Elevance Health',isin:'US03621L3160',branche:'Gesundheitsversorgung',url:'https://www.ariva.de/aktien/elevance-health-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:427,name:'McKesson',isin:'US0367521038',branche:'Gesundheitsversorgung',url:'https://www.ariva.de/aktien/elevance-health-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:428,name:'Cencora',isin:'US03073E1055',branche:'Gesundheitsversorgung',url:'https://www.ariva.de/aktien/cencora-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:429,name:'Quest Diagnostics',isin:'US74834L1008',branche:'Gesundheitsversorgung',url:'https://www.ariva.de/aktien/quest-diagnostics-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:430,name:'Agilent Technologies',isin:'US00846U1016',branche:'Labortechnologie',url:'https://www.ariva.de/aktien/agilent-technologies-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:431,name:'Baxter International',isin:'US0718131099',branche:'Medizintechnik',url:'https://www.ariva.de/aktien/baxter-international-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:432,name:'Bio-Techne',isin:'US09073M1045',branche:'Biotechnologie',url:'https://www.ariva.de/aktien/bio-techne-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:433,name:'Veralto',isin:'US92338C1036',branche:'Wasseranalytik/Umwelt',url:'https://www.ariva.de/aktien/veralto-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:434,name:'Haleon',isin:'GB00BMX86B70',branche:'Konsumgüter/Gesundheit',url:'https://www.ariva.de/aktien/haleon-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:435,name:'Kenvue',isin:'US49177J1025',branche:'Konsumgüter/Gesundheit',url:'https://www.ariva.de/aktien/kenvue-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:436,name:'Alcon',isin:'CH0432492467',branche:'Augenheilkunde',url:'https://www.ariva.de/aktien/alcon-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:437,name:'PerkinElmer',isin:'US7140461093',branche:'Labortechnologie',url:'https://www.ariva.de/aktien/perkinelmer-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:438,name:'Motorola Solutions',isin:'US6200763075',branche:'Technologie/Kommunikation',url:'https://www.ariva.de/aktien/motorola-solutions-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:439,name:'Verisign',isin:'US92343E1029',branche:'Technologie/Internet',url:'https://www.ariva.de/aktien/verisign-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:440,name:'Seagate Technology',isin:'IE00BKVD2N49',branche:'Technologie (Datenspeicher)',url:'https://www.ariva.de/aktien/seagate-technology-holdings-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:441,name:'Analog Devices',isin:'US0326541051',branche:'Halbleiter',url:'https://www.ariva.de/aktien/analog-devices-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:442,name:'Microchip Technology',isin:'US5932621014',branche:'Halbleiter',url:'https://www.ariva.de/aktien/microchip-technology-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:443,name:'NetApp',isin:'US64110D1046',branche:'Technologie/Datenspeicher',url:'https://www.ariva.de/aktien/netapp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:444,name:'Corning',isin:'US2193501051',branche:'Technologie/Glasfaser',url:'https://www.ariva.de/aktien/corning-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:445,name:'Jabil',isin:'US4663131039',branche:'Elektronikfertigung',url:'https://www.ariva.de/aktien/jabil-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:446,name:'CDW',isin:'US12514G1085',branche:'IT-Distribution',url:'https://www.ariva.de/aktien/cdw-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:447,name:'Gen Digital',isin:'US37282B1008',branche:'Cybersicherheit',url:'https://www.ariva.de/aktien/gen-digital-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:448,name:'Paycom Software',isin:'US70432V1026',branche:'HR-Software',url:'https://www.ariva.de/aktien/paycom-software-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:449,name:'FactSet Research',isin:'US3030751073',branche:'Finanzdaten/Software',url:'https://www.ariva.de/aktien/factset-research-systems-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:450,name:'Verisk Analytics',isin:'US92345Y1064',branche:'Datenanalyse',url:'https://www.ariva.de/aktien/verisk-analytics-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:451,name:'Broadridge Financial',isin:'US1117171013',branche:'Finanztechnologie',url:'https://www.ariva.de/aktien/broadridge-financial-solutions-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:452,name:'Nemetschek',isin:'DE0006452907',branche:'Technologie/Software',url:'https://www.ariva.de/aktien/nemetschek-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:453,name:'JENOPTIK',isin:'DE000A2NB601',branche:'Technologie/Optik',url:'https://www.ariva.de/aktien/jenoptik-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:454,name:'NAGARRO',isin:'DE000A3H2200',branche:'IT-Dienstleistungen',url:'https://www.ariva.de/aktien/nagarro-se-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:455,name:'Bechtle',isin:'DE0005158703',branche:'IT-Dienstleistungen',url:'https://www.ariva.de/aktien/bechtle-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:456,name:'GFT Technologies',isin:'DE0005800301',branche:'IT-Dienstleistungen',url:'https://www.ariva.de/aktien/gft-technologies-se-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:457,name:'CANCOM',isin:'DE0007416521',branche:'IT-Dienstleistungen',url:'https://www.ariva.de/aktien/cancom-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:458,name:'Kontron',isin:'AT0000A1PQQ1',branche:'Technologie/Embedded',url:'https://www.ariva.de/aktien/kontron-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:459,name:'adesso',isin:'DE000A0Z23Q5',branche:'IT-Dienstleistungen',url:'https://www.ariva.de/aktien/adesso-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:460,name:'Eckert & Ziegler',isin:'DE0005659700',branche:'Medizintechnik/Nuklear',url:'https://www.ariva.de/aktien/eckert-ziegler-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:461,name:'SÜSS MicroTec',isin:'DE000A1K0235',branche:'Halbleiter/Ausrüstung',url:'https://www.ariva.de/aktien/suess-microtec-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:462,name:'Elmos Semiconductor',isin:'DE0005677108',branche:'Halbleiter',url:'https://www.ariva.de/aktien/elmos-semiconductor-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:463,name:'Secunet Security',isin:'DE0007276503',branche:'Cybersicherheit',url:'https://www.ariva.de/aktien/secunet-security-networks-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:464,name:'SILTRONIC',isin:'DE000WAF3001',branche:'Halbleiter/Silizium',url:'https://www.ariva.de/aktien/siltronic-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:465,name:'TJX Companies',isin:'US8725401090',branche:'Einzelhandel',url:'https://www.ariva.de/aktien/tjx-companies-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:466,name:'Ross Stores',isin:'US7782961038',branche:'Einzelhandel',url:'https://www.ariva.de/aktien/ross-stores-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:467,name:'Best Buy',isin:'US0865161014',branche:'Elektronikeinzelhandel',url:'https://www.ariva.de/aktien/best-buy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:468,name:'Ralph Lauren',isin:'US7512121010',branche:'Luxusgüter/Mode',url:'https://www.ariva.de/aktien/ralph-lauren-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:469,name:'Tapestry',isin:'US8760301072',branche:'Luxusgüter/Mode',url:'https://www.ariva.de/aktien/tapestry-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:470,name:'Conagra Brands',isin:'US2058871029',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/conagra-brands-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:471,name:'Campbell Soup',isin:'US1344291091',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/campbell-soup-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:472,name:'Molson Coors',isin:'US60871R2094',branche:'Getränke',url:'https://www.ariva.de/aktien/molson-coors-beverage-co-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:473,name:'Brown-Forman',isin:'US1156372096',branche:'Getränke/Spirituosen',url:'https://www.ariva.de/aktien/brown-forman-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:474,name:'Sysco',isin:'US8718291078',branche:'Lebensmittelgroßhandel',url:'https://www.ariva.de/aktien/sysco-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:475,name:'Lamb Weston',isin:'US5132721045',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/lamb-weston-holdings-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:476,name:'Darden Restaurants',isin:'US2371941053',branche:'Gastronomie',url:'https://www.ariva.de/aktien/darden-restaurants-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:477,name:'Williams-Sonoma',isin:'US9699041011',branche:'Einzelhandel/Einrichtung',url:'https://www.ariva.de/aktien/williams-sonoma-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:478,name:'FRoSTA',isin:'DE0006201102',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/frosta-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:479,name:'Südzucker',isin:'DE0007297004',branche:'Lebensmittel/Zucker',url:'https://www.ariva.de/aktien/suedzucker-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:480,name:'KWS Saat',isin:'DE0007074007',branche:'Agrar/Saatgut',url:'https://www.ariva.de/aktien/kws-saat-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:481,name:'Norfolk Southern',isin:'US6558441084',branche:'Eisenbahn',url:'https://www.ariva.de/aktien/norfolk-southern-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:482,name:'CSX',isin:'US1264081035',branche:'Eisenbahn',url:'https://www.ariva.de/aktien/csx-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:483,name:'J.B. Hunt Transport',isin:'US4456581077',branche:'Logistik',url:'https://www.ariva.de/aktien/jb-hunt-transport-services-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:484,name:'Southwest Airlines',isin:'US8447411088',branche:'Luftfahrt',url:'https://www.ariva.de/aktien/southwest-airlines-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:485,name:'Carnival',isin:'GB0031215220',branche:'Kreuzfahrt/Touristik',url:'https://www.ariva.de/aktien/carnival-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:486,name:'Paccar',isin:'US6937181088',branche:'Nutzfahrzeuge',url:'https://www.ariva.de/aktien/paccar-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:487,name:'United Rentals',isin:'US9113631090',branche:'Industrievermietung',url:'https://www.ariva.de/aktien/united-rentals-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:488,name:'Traton',isin:'DE000TRAT0N7',branche:'Nutzfahrzeuge',url:'https://www.ariva.de/aktien/traton-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:489,name:'Las Vegas Sands',isin:'US5178341070',branche:'Gaming/Touristik',url:'https://www.ariva.de/aktien/las-vegas-sands-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:490,name:'Wynn Resorts',isin:'US9831341071',branche:'Gaming/Touristik',url:'https://www.ariva.de/aktien/wynn-resorts-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:491,name:'Marriott International',isin:'US5719032022',branche:'Hotels',url:'https://www.ariva.de/aktien/marriott-international-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:492,name:'Hilton Worldwide',isin:'US43300A2033',branche:'Hotels',url:'https://www.ariva.de/aktien/hilton-world-holdings-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:493,name:'Expedia',isin:'US30212P3038',branche:'Reise/Online-Plattform',url:'https://www.ariva.de/aktien/expedia-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:494,name:'Avery Dennison',isin:'US0536111090',branche:'Etiketten/Verpackung',url:'https://www.ariva.de/aktien/avery-dennison-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:495,name:'Ball Corp',isin:'US0584981064',branche:'Verpackung',url:'https://www.ariva.de/aktien/ball-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:496,name:'Packaging Corp of America',isin:'US6951561090',branche:'Verpackung',url:'https://www.ariva.de/aktien/packaging-corp-of-america-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:497,name:'Smurfit WestRock',isin:'IE0000000000',branche:'Verpackung',url:'https://www.ariva.de/aktien/smurfit-westrock-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:498,name:'International Paper',isin:'US4601461035',branche:'Papier/Verpackung',url:'https://www.ariva.de/aktien/international-paper-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:499,name:'Vulcan Materials',isin:'US9291601097',branche:'Baustoffe/Aggregat',url:'https://www.ariva.de/aktien/vulcan-materials-co-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:500,name:'Martin Marietta Materials',isin:'US5732841060',branche:'Baustoffe/Aggregat',url:'https://www.ariva.de/aktien/martin-marietta-materials-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:501,name:'PPG Industries',isin:'US6935061076',branche:'Farben/Lacke',url:'https://www.ariva.de/aktien/ppg-industries-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:502,name:'Mosaic',isin:'US6153691059',branche:'Düngemittel',url:'https://www.ariva.de/aktien/mosaic-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:503,name:'CF Industries',isin:'US1252691001',branche:'Düngemittel/Chemie',url:'https://www.ariva.de/aktien/cf-industries-holdings-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:504,name:'Corteva',isin:'US22052L1044',branche:'Agrarchemie',url:'https://www.ariva.de/aktien/corteva-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:505,name:'DuPont de Nemours',isin:'US26614N1028',branche:'Chemie/Materialien',url:'https://www.ariva.de/aktien/dupont-de-nemours-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:506,name:'Bunge',isin:'BMG169621056',branche:'Agrar/Lebensmittel',url:'https://www.ariva.de/aktien/bunge-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:507,name:'Intl Flavors & Fragrances',isin:'US4595061015',branche:'Chemie/Duftstoffe',url:'https://www.ariva.de/aktien/international-flavors-fragrances-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:508,name:'Steel Dynamics',isin:'US8581191009',branche:'Stahl/Metall',url:'https://www.ariva.de/aktien/steel-dynamics-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:509,name:'Nucor',isin:'US6703461052',branche:'Stahl/Metall',url:'https://www.ariva.de/aktien/nucor-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:510,name:'LKQ Corp',isin:'US5018892084',branche:'Automobilteile',url:'https://www.ariva.de/aktien/lkq-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:511,name:'AlzChem',isin:'DE000A2YN777',branche:'Chemie',url:'https://www.ariva.de/aktien/alzchem-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:512,name:'Wacker Chemie',isin:'DE000WCH8881',branche:'Chemie/Silizium',url:'https://www.ariva.de/aktien/wacker-chemie-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:513,name:'Lanxess',isin:'DE0005470405',branche:'Chemie',url:'https://www.ariva.de/aktien/lanxess-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:514,name:'Welltower',isin:'US95040Q1040',branche:'Gesundheitsimmobilien (REIT)',url:'https://www.ariva.de/aktien/welltower-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:515,name:'Ventas',isin:'US92276F1003',branche:'Gesundheitsimmobilien (REIT)',url:'https://www.ariva.de/aktien/ventas-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:516,name:'Essex Property Trust',isin:'US2971781057',branche:'Wohnimmobilien (REIT)',url:'https://www.ariva.de/aktien/essex-property-trust-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:517,name:'Equity Residential',isin:'US29476L1070',branche:'Wohnimmobilien (REIT)',url:'https://www.ariva.de/aktien/equity-residential-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:518,name:'AvalonBay Communities',isin:'US0534841012',branche:'Wohnimmobilien (REIT)',url:'https://www.ariva.de/aktien/avalonbay-communities-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:519,name:'Mid-America Apartment',isin:'US59522J1034',branche:'Wohnimmobilien (REIT)',url:'https://www.ariva.de/aktien/mid-american-apartment-communities-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:520,name:'UDR',isin:'US9026531049',branche:'Wohnimmobilien (REIT)',url:'https://www.ariva.de/aktien/udr-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:521,name:'Camden Property Trust',isin:'US1331311027',branche:'Wohnimmobilien (REIT)',url:'https://www.ariva.de/aktien/camden-property-trust-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:522,name:'Kimco Realty',isin:'US4943681035',branche:'Einzelhandelsimmobilien (REIT)',url:'https://www.ariva.de/aktien/kimco-realty-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:523,name:'Regency Centers',isin:'US7588491032',branche:'Einzelhandelsimmobilien (REIT)',url:'https://www.ariva.de/aktien/regency-centers-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:524,name:'Federal Realty',isin:'US3137451015',branche:'Einzelhandelsimmobilien (REIT)',url:'https://www.ariva.de/aktien/federal-realty-investment-trust-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:525,name:'Host Hotels & Resorts',isin:'US44107P1049',branche:'Hotelimmobilien (REIT)',url:'https://www.ariva.de/aktien/host-hotels-resorts-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:526,name:'BXP',isin:'US1011211018',branche:'Büroimmobilien (REIT)',url:'https://www.ariva.de/aktien/boston-properties-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:527,name:'Invitation Homes',isin:'US46187W1071',branche:'Einfamilienhäuser (REIT)',url:'https://www.ariva.de/aktien/invitation-homes-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:528,name:'Medical Properties Trust',isin:'US58463J3041',branche:'Gesundheitsimmobilien (REIT)',url:'https://www.ariva.de/aktien/medical-properties-trust-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:529,name:'SBA Communications',isin:'US78454L1008',branche:'Telekommunikation (REIT)',url:'https://www.ariva.de/aktien/sba-communications-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:530,name:'Healthpeak Properties',isin:'US42250P1030',branche:'Gesundheitsimmobilien (REIT)',url:'https://www.ariva.de/aktien/healthpeak-properties-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:531,name:'Orion Properties',isin:'US68629Y1038',branche:'Immobilien (REIT)',url:'https://www.ariva.de/aktien/orion-properties-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:532,name:'Deutsche EuroShop',isin:'DE0007480204',branche:'Immobilien (REIT)',url:'https://www.ariva.de/aktien/deutsche-euroshop-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:533,name:'TAG Immobilien',isin:'DE0008303504',branche:'Immobilien',url:'https://www.ariva.de/aktien/tag-immobilien-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:534,name:'LEG Immobilien',isin:'DE000LEG1110',branche:'Immobilien',url:'https://www.ariva.de/aktien/leg-immobilien-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:535,name:'Deutsche Wohnen',isin:'DE000A0HN5C6',branche:'Immobilien',url:'https://www.ariva.de/aktien/deutsche-wohnen-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:536,name:'PATRIZIA Immobilien',isin:'DE000PAT1AG3',branche:'Immobilien',url:'https://www.ariva.de/aktien/patrizia-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:537,name:'Omnicom',isin:'US6819191064',branche:'Medien/Werbung',url:'https://www.ariva.de/aktien/omnicom-group-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:538,name:'Electronic Arts',isin:'US2855121099',branche:'Gaming/Unterhaltung',url:'https://www.ariva.de/aktien/electronic-arts-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:539,name:'Fox Corp',isin:'US35137L1052',branche:'Medien',url:'https://www.ariva.de/aktien/fox-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:540,name:'Walt Disney',isin:'US2546871060',branche:'Medien/Unterhaltung',url:'https://www.ariva.de/aktien/walt-disney-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:541,name:'Rollins',isin:'US7757111049',branche:'Schädlingsbekämpfung',url:'https://www.ariva.de/aktien/rollins-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:542,name:'Garmin',isin:'CH0114405324',branche:'Technologie/Navigation',url:'https://www.ariva.de/aktien/garmin-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:543,name:'Pool Corp',isin:'US73278L1052',branche:'Poollieferant',url:'https://www.ariva.de/aktien/pool-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:545,name:'CTS Eventim',isin:'DE0005470306',branche:'Medien/Ticketing',url:'https://www.ariva.de/aktien/cts-eventim-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:546,name:'Ströer',isin:'DE0007493991',branche:'Medien/Außenwerbung',url:'https://www.ariva.de/aktien/stroeer-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:547,name:'ProSiebenSat.1',isin:'DE000PSM7770',branche:'Medien',url:'https://www.ariva.de/aktien/prosiebensat-1-media-se-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:548,name:'Springer Nature',isin:'DE000SPG1DE3',branche:'Medien/Verlage',url:'https://www.ariva.de/aktien/springer-nature-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:549,name:'AFLAC',isin:'US0010551028',branche:'Versicherung',url:'https://www.ariva.de/aktien/aflac-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:550,name:'MetLife',isin:'US59156R1086',branche:'Versicherung',url:'https://www.ariva.de/aktien/metlife-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:551,name:'Prudential Financial',isin:'US7443201022',branche:'Versicherung',url:'https://www.ariva.de/aktien/prudential-financial-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:552,name:'Allstate',isin:'US0200021014',branche:'Versicherung',url:'https://www.ariva.de/aktien/allstate-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:553,name:'Travelers Companies',isin:'US8985161081',branche:'Versicherung',url:'https://www.ariva.de/aktien/travelers-companies-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:554,name:'Chubb',isin:'CH0044328745',branche:'Versicherung',url:'https://www.ariva.de/aktien/chubb-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:555,name:'Hartford Financial',isin:'US4165151048',branche:'Versicherung',url:'https://www.ariva.de/aktien/hartford-financial-services-group-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:556,name:'Everest Re Group',isin:'BMG3223R1088',branche:'Versicherung/Rückversicherung',url:'https://www.ariva.de/aktien/everest-re-group-ltd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:557,name:'Assurant',isin:'US04621X1081',branche:'Versicherung',url:'https://www.ariva.de/aktien/assurant-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:558,name:'W.R. Berkley',isin:'US0844231029',branche:'Versicherung',url:'https://www.ariva.de/aktien/berkley-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:559,name:'Cincinnati Financial',isin:'US1720621010',branche:'Versicherung',url:'https://www.ariva.de/aktien/cincinnati-financial-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:560,name:'Erie Indemnity',isin:'US29530P1021',branche:'Versicherung',url:'https://www.ariva.de/aktien/erie-indemnity-company-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:561,name:'Globe Life',isin:'US37959E1029',branche:'Versicherung/Lebensversicherung',url:'https://www.ariva.de/aktien/globe-life-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:562,name:'NN Group',isin:'NL0010773842',branche:'Versicherung',url:'https://www.ariva.de/aktien/nn-group-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:563,name:'Swiss Life',isin:'CH0014852781',branche:'Versicherung/Lebensversicherung',url:'https://www.ariva.de/aktien/swiss-life-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:564,name:'Uniqa',isin:'AT0000821103',branche:'Versicherung',url:'https://www.ariva.de/aktien/uniqa-versicherungen-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:565,name:'Wüstenrot & Württembergische',isin:'DE0008051004',branche:'Versicherung',url:'https://www.ariva.de/aktien/wuestenrot-wuerttembergische-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:566,name:'GEA Group',isin:'DE0006602006',branche:'Industrie/Maschinenbau',url:'https://www.ariva.de/aktien/gea-group-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:567,name:'Hella',isin:'DE000A13SX22',branche:'Automobilzulieferer',url:'https://www.ariva.de/aktien/hella-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:568,name:'Fuchs',isin:'DE000A3E5D56',branche:'Schmierstoffe',url:'https://www.ariva.de/aktien/fuchs-se-st-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:569,name:'Fuchs Vz',isin:'DE000A3E5D64',branche:'Schmierstoffe',url:'https://www.ariva.de/aktien/fuchs-se-vz-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:570,name:'Vossloh',isin:'DE0007667107',branche:'Schieneninfrastruktur',url:'https://www.ariva.de/aktien/vossloh-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:571,name:'KSB Vz',isin:'DE0006292006',branche:'Industrie/Pumpen',url:'https://www.ariva.de/aktien/ksb-vz-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:572,name:'JOST Werke',isin:'DE000JST4000',branche:'Nutzfahrzeugkomponenten',url:'https://www.ariva.de/aktien/jost-werke-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:573,name:'Henkel',isin:'DE0006048432',branche:'Konsumgüter',url:'https://www.ariva.de/aktien/henkel-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:574,name:'Henkel Vz',isin:'DE0006048408',branche:'Konsumgüter',url:'https://www.ariva.de/aktien/henkel-vz-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:575,name:'United Internet',isin:'DE0005089031',branche:'Telekommunikation/Internet',url:'https://www.ariva.de/aktien/united-internet-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:576,name:'PUMA',isin:'DE0006969603',branche:'Sportartikel',url:'https://www.ariva.de/aktien/puma-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:577,name:'Hugo Boss',isin:'DE000A1PHFF7',branche:'Mode/Luxusgüter',url:'https://www.ariva.de/aktien/hugo-boss-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:578,name:'HENSOLDT',isin:'DE000HAG0005',branche:'Rüstung/Sensorik',url:'https://www.ariva.de/aktien/hensoldt-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:579,name:'KION Group',isin:'DE000KGX8881',branche:'Industrie/Gabelstapler',url:'https://www.ariva.de/aktien/kion-group-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:580,name:'Gerresheimer',isin:'DE000A0LD6E6',branche:'Pharmaverpackung',url:'https://www.ariva.de/aktien/gerresheimer-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:581,name:'Sixt',isin:'DE0007231326',branche:'Mobilität/Autovermietung',url:'https://www.ariva.de/aktien/sixt-se-st-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:582,name:'INDUS Holding',isin:'DE0006200108',branche:'Industrie/Beteiligungen',url:'https://www.ariva.de/aktien/indus-holding-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:583,name:'CEWE',isin:'DE0005403901',branche:'Fotodruck',url:'https://www.ariva.de/aktien/cewe-stiftung-kgaa-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:584,name:'Befesa',isin:'LU1704650164',branche:'Entsorgung/Metallrecycling',url:'https://www.ariva.de/aktien/befesa-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:585,name:'Deutsche Beteiligung',isin:'DE000A1TNUT7',branche:'Beteiligungsgesellschaft',url:'https://www.ariva.de/aktien/deutsche-beteiligungs-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:586,name:'Energiekontor',isin:'DE0005313506',branche:'Erneuerbare Energie',url:'https://www.ariva.de/aktien/energiekontor-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:587,name:'Fielmann',isin:'DE0005772206',branche:'Optik/Einzelhandel',url:'https://www.ariva.de/aktien/fielmann-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:588,name:'Hornbach Holding',isin:'DE0006083405',branche:'Heimwerkereinzelhandel',url:'https://www.ariva.de/aktien/hornbach-holding-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:589,name:'Verbio',isin:'DE000A0JL9W6',branche:'Biokraftstoff',url:'https://www.ariva.de/aktien/verbio-se-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:590,name:'TUI',isin:'DE000TUAG505',branche:'Touristik',url:'https://www.ariva.de/aktien/tui-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:591,name:'SCHOTT Pharma',isin:'DE000A3ENQ51',branche:'Pharmaverpackung',url:'https://www.ariva.de/aktien/schott-pharma-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:592,name:'Stabilus',isin:'LU1066226637',branche:'Industrie/Gasfedern',url:'https://www.ariva.de/aktien/stabilus-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:593,name:'CompuGroup Medical',isin:'DE0005437305',branche:'Gesundheits-IT',url:'https://www.ariva.de/aktien/compugroup-medical-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:594,name:'PORR',isin:'AT0000609607',branche:'Bau/Infrastruktur',url:'https://www.ariva.de/aktien/porr-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:595,name:'Italmobiliare',isin:'IT0005369614',branche:'Konglomerat',url:'https://www.ariva.de/aktien/italmobiliare-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:596,name:'EssilorLuxottica',isin:'FR0000121667',branche:'Optik',url:'https://www.ariva.de/aktien/essilorluxottica-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:597,name:'Renault',isin:'FR0000131906',branche:'Automobil',url:'https://www.ariva.de/aktien/renault-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:598,name:'Coloplast',isin:'DK0060448595',branche:'Medizintechnik',url:'https://www.ariva.de/aktien/coloplast-as-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:599,name:'Philips',isin:'NL0000009538',branche:'Technologie/Gesundheit',url:'https://www.ariva.de/aktien/philips-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:600,name:'Villeroy & Boch Vz',isin:'DE0007657231',branche:'Keramik/Konsumgüter',url:'https://www.ariva.de/aktien/villeroy-boch-ag-vz-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:601,name:'Wienerberger',isin:'AT0000831706',branche:'Baustoffe',url:'https://www.ariva.de/aktien/wienerberger-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:602,name:'Friedrich Vorwerk',isin:'DE000A255G02',branche:'Energieinfrastruktur',url:'https://www.ariva.de/aktien/friedrich-vorwerk-group-se-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:603,name:'MBB',isin:'DE000A0ETBQ4',branche:'Industrie/Beteiligungen',url:'https://www.ariva.de/aktien/mbb-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:604,name:'Sto Vz',isin:'DE0007274136',branche:'Baustoffe',url:'https://www.ariva.de/aktien/sto-vz-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:605,name:'Steico',isin:'DE000A0LR4N5',branche:'Baustoffe/Holz',url:'https://www.ariva.de/aktien/steico-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:606,name:'Dermapharm',isin:'DE000A2GS5D8',branche:'Pharma',url:'https://www.ariva.de/aktien/dermapharm-holding-se-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:607,name:'Adtran Networks',isin:'DE0005103006',branche:'Technologie/Netzwerk',url:'https://www.ariva.de/aktien/adva-optical-network-se-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:608,name:'Salzgitter',isin:'DE0006202005',branche:'Stahl',url:'https://www.ariva.de/aktien/indus_holding_ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:609,name:'Amadeus Fire',isin:'DE0005093092',branche:'Personaldienstleistungen',url:'https://www.ariva.de/aktien/amadeus-fire-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:610,name:'Dürr',isin:'DE0005565204',branche:'Industrie/Lackierung',url:'https://www.ariva.de/aktien/duerr-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:611,name:'Berentzen',isin:'DE0005201602',branche:'Getränke/Spirituosen',url:'https://www.ariva.de/aktien/berentzen-gruppe-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:612,name:'ABO Energy',isin:'DE0005760029',branche:'Erneuerbare Energie',url:'https://www.ariva.de/aktien/abo-energy-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:613,name:'Deutsche Rohstoff',isin:'DE000A0XYG76',branche:'Rohstoffe',url:'https://www.ariva.de/aktien/deutsche-rohstoff-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:614,name:'KLOECKNER',isin:'DE000KC01000',branche:'Stahl/Metallhandel',url:'https://www.ariva.de/aktien/kloeckner-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:615,name:'SAF-Holland',isin:'LU0113386008',branche:'Nutzfahrzeugkomponenten',url:'https://www.ariva.de/aktien/saf-holland-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:616,name:'Uniper',isin:'DE000UNSE038',branche:'Energie/Versorger',url:'https://www.ariva.de/aktien/uniper-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:617,name:'Deutz',isin:'DE0006305006',branche:'Industrie/Motoren',url:'https://www.ariva.de/aktien/deutz-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:618,name:'Wacker Neuson',isin:'DE000WACK012',branche:'Baumaschinen',url:'https://www.ariva.de/aktien/wacker-neuson-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:619,name:'NORMA Group',isin:'DE000A1H8BV3',branche:'Industrie/Verbindungstechnik',url:'https://www.ariva.de/aktien/norma-group-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:620,name:'1&1',isin:'DE0005545503',branche:'Telekommunikation',url:'https://www.ariva.de/aktien/1-1-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:621,name:'PNE',isin:'DE000A0JBPG2',branche:'Erneuerbare Energie',url:'https://www.ariva.de/aktien/pne-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:622,name:'TAKKT',isin:'DE0007446007',branche:'Versandhandel/B2B',url:'https://www.ariva.de/aktien/takkt-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:623,name:'Drägerwerk Vz',isin:'DE0005550636',branche:'Medizintechnik/Sicherheit',url:'https://www.ariva.de/aktien/draegerwerk-ag-co-kgaa-vz-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:624,name:'Allgeier',isin:'DE0005086000',branche:'IT-Dienstleistungen',url:'https://www.ariva.de/aktien/allgeier-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:625,name:'Texas Pacific Land',isin:'US8826811098',branche:'Land/Energie',url:'https://www.ariva.de/aktien/texas-pacific-land-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:626,name:'Jungheinrich Vz',isin:'DE0000000000',branche:'Industrie/Logistik',url:'https://www.ariva.de/aktien/jungheinrich-vz-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:627,name:'Verizon Communications',isin:'US9243291021',branche:'Telekommunikation',url:'https://www.ariva.de/aktien/verizon-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:628,name:'WEC Energy Group',isin:'US9279038038',branche:'Versorger',url:'https://www.ariva.de/aktien/wec-energy-group-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:629,name:'PG&E Corporation',isin:'US6955541027',branche:'Versorger',url:'https://www.ariva.de/aktien/pg-e-corp-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:630,name:'Hershey Company',isin:'US4278661036',branche:'Lebensmittel',url:'https://www.ariva.de/aktien/hershey-company-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:631,name:'FactSet Research Systems',isin:'US30307L1026',branche:'Finanztech/Software',url:'https://www.ariva.de/aktien/factset-research-systems-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:632,name:'Broadridge Financial Solutions',isin:'US11120U1051',branche:'Finanztechnologie',url:'https://www.ariva.de/aktien/broadridge-financial-solutions-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:633,name:'Tanger Inc.',isin:'US8754651060',branche:'Immobilien (REIT)',url:'https://www.ariva.de/aktien/tanger-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:634,name:'JD.com ADR',isin:'US46625H1005',branche:'E-Commerce/Technologie',url:'https://www.ariva.de/aktien/jd-com-inc-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:635,name:'Daimler Truck Holding',isin:'DE000DTROK8',branche:'Automobil',url:'https://www.ariva.de/aktien/daimler-truck-holding-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:636,name:'Merck KGaA',isin:'DE000A2PGMG3',branche:'Pharma/Chemie',url:'https://www.ariva.de/aktien/merck-kgaa-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:637,name:'Fuchs SE Stamm',isin:'DE005785802',branche:'Schmierstoffe',url:'https://www.ariva.de/aktien/fuchs-se-st-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:638,name:'argenx',isin:'NL0010832176',branche:'Biotechnologie',url:'https://www.ariva.de/aktien/argenx-se-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:639,name:'Friedrich Vorwerk Group SE',isin:'DE000A2G5602',branche:'Industrie/Netzinfrastruktur',url:'https://www.ariva.de/aktien/friedrich-vorwerk-group-se-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:640,name:'Berentzen Gruppe',isin:'DE000A0MNFH8',branche:'Getränke/Spirituosen',url:'https://www.ariva.de/aktien/berentzen-gruppe-ag-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:641,name:'Nagarro SE',isin:'DE000NA9GNSL',branche:'IT-Dienstleistungen',url:'https://www.ariva.de/aktien/nagarro-se-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:642,name:'Höegh Autoliners ASA',isin:'NO0011082075',branche:'Schifffahrt',url:'https://www.ariva.de/aktien/hoegh-autoliners-asa-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:643,name:'Aurizon Holdings',isin:'AU000000AZJ1',branche:'Schienenlogistik',url:'https://www.ariva.de/aktien/aurizon-holdings-ltd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:644,name:'Haier Smart Home',isin:'CNE1000003W2',branche:'Konsumgüter',url:'https://www.ariva.de/aktien/haier-smart-home-co-ltd-aktie/kennzahlen/fundamentale-kennzahlen'},\n  {id:645,name:'Prosus',isin:'NL0013654783',branche:'IT-Dienstleistungen',url:'https://www.ariva.de/aktien/prosus-nv-aktie/kennzahlen/fundamentale-kennzahlen'}\n];\n\nreturn companies.map(c => ({json: c}));"
      },
      "id": "88fcd168-5561-42e8-ab3f-8c6b4e245120",
      "name": "Unternehmen laden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -16
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "52ba4bf8-ef51-4191-a5b7-38cea48b9ebd",
      "name": "Einzeln verarbeiten",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        304,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const company = $('Einzeln verarbeiten').first().json;\nconst _raw = $('Daten abrufen').first().json;\nconst kz = _raw.kennzahlen || {};\nconst _debug = {\n  allKeys: Object.keys(kz),\n};\n\n// ── Hilfsfunktionen ───────────────────────────────────────────────────────────\nfunction parseNum(str) {\n  if (!str) return null;\n  const s = String(str).replace(/\\xa0/g,'').replace(/\\./g,'').replace(',','.').replace(/[^0-9.\\-]/g,'');\n  const n = parseFloat(s);\n  return isNaN(n) ? null : n;\n}\nfunction toNums(arr) {\n  return (arr || []).map(parseNum).filter(v => v !== null);\n}\nfunction latestVal(arr) {\n  const n = toNums(arr);\n  return n.length ? n[n.length - 1] : null;\n}\nfunction pct(nums, threshold) {\n  if (!nums || !nums.length) return null;\n  return Math.round(nums.filter(v => v >= threshold).length / nums.length * 100);\n}\nfunction pctBelow(nums, threshold) {\n  if (!nums || !nums.length) return null;\n  return Math.round(nums.filter(v => v <= threshold).length / nums.length * 100);\n}\nfunction findKey(patterns) {\n  let best = null;\n  let bestLen = 0;\n  for (const key of Object.keys(kz)) {\n    if (patterns.some(p => p.test(key))) {\n      const len = (kz[key] || []).length;\n      if (len > bestLen) { best = kz[key]; bestLen = len; }\n    }\n  }\n  return best;\n}\n\n// ── Kennzahlen auslesen (exakte Key-Namen von ariva.de) ───────────────────────\nconst fiskalArr  = findKey([/fiskaljahr/]);\nconst kgvArr     = findKey([/kgv\\s*\\(kurs.gewinn/]);\nconst kbvArr     = findKey([/kbv\\s*\\(kurs.buchwert/]);\nconst ekrArr     = findKey([/eigenkapitalrendite/]);\nconst umsatzArr  = findKey([/umsatzrendite/]);\nconst divArr     = findKey([/dividendenrendite/]);\nconst ekqArr     = findKey([/eigenkapitalquote/]);\nconst verschArr  = findKey([/verschuldungsgrad/]);\nconst fcfArr     = findKey([/free cashflow/]);\nconst ocfArr     = findKey([/operativer cashflow/]);\n\n// ── Kriterien ─────────────────────────────────────────────────────────────────\n// C1: Börsenlisting > 15 Jahre\nconst ipoYear = fiskalArr && fiskalArr.length ? parseInt(fiskalArr[0]) : null;\nconst currentYear = new Date().getFullYear();\nconst c1 = ipoYear ? ((currentYear - ipoYear) > 15 ? 'Ja' : 'Nein') : 'unbekannt';\n\n// C2: Positiver Cashflow (FCF bevorzugt, sonst OCF)\nconst fcfCurr = latestVal(fcfArr);\nconst ocfCurr = latestVal(ocfArr);\nconst cashflow = fcfCurr ?? ocfCurr;\nconst c2 = cashflow !== null ? (cashflow > 0 ? 'Ja' : 'Nein') : 'unbekannt';\n\n// C3: EKQ >= 30% — % der letzten 10 Jahre\nconst ekqH = toNums(ekqArr).slice(-10);\nconst c3 = ekqH.length ? pct(ekqH, 30) + '%' : 'unbekannt';\n\n// C4: Aktueller Verschuldungsgrad\nconst c4 = latestVal(verschArr) !== null ? latestVal(verschArr) + '%' : 'unbekannt';\n\n// C5: Aktuelles KGV\nconst c5 = latestVal(kgvArr) !== null ? String(latestVal(kgvArr)) : 'unbekannt';\n\n// C6: KBV >= 2 — % der letzten 10 Jahre\nconst kbvH = toNums(kbvArr).slice(-10);\nconst c6 = kbvH.length ? pctBelow(kbvH, 2) + '%' : 'unbekannt';\n\n// C7: EKR >= 10% — % der letzten 10 Jahre\nconst ekrH = toNums(ekrArr).slice(-10);\nconst c7 = ekrH.length ? pct(ekrH, 10) + '%' : 'unbekannt';\n\n// C8: Dividendenrendite >= 2,5% — % der letzten 10 Jahre\nconst divH = toNums(divArr).slice(-10);\nconst c8 = divH.length ? pct(divH, 2.5) + '%' : 'unbekannt';\n\n// C9: Global tätig — aus Branche ableiten (grobe Heuristik)\nconst br = String(company.branche || '').toLowerCase();\nconst c9 = /auto|pharma|tech|chemie|energie|versicherung|bank|industrie|konsumgüter|it|software|halbleiter/.test(br) ? 'Ja' : 'unbekannt';\n\n// C10: Umsatzrendite >= 5% — % der letzten 10 Jahre\nconst umsatzH = toNums(umsatzArr).slice(-10);\nconst c10 = umsatzH.length ? pct(umsatzH, 5) + '%' : 'unbekannt';\n\n// C11: Aktuelle Dividendenrendite\nconst c11 = latestVal(divArr) !== null ? latestVal(divArr) + '%' : 'unbekannt';\n\n// ── Ergebnis speichern ────────────────────────────────────────────────────────\nconst sd = $getWorkflowStaticData('global');\nif (!sd.results) sd.results = [];\nif (c1 !== 'Nein') sd.results.push({\n  '#': company.id,\n  Name: company.name,\n  ISIN: company.isin,\n  Branche: company.branche,\n  'C1: DivRendite aktuell': c11,\n  'C2: Boerse >15 Jahre': c1,\n  'C3: Positiver Cashflow': c2,\n  'C4: Eigenkapitalquote >=30% (letzte 10J)': c3,\n  'C5: Verschuldungsgrad aktuell': c4,\n  'C6: KGV aktuell': c5,\n  'C7: KBV <=2 (letzte 10J)': c6,\n  'C8: Eigenkapitalrendite >=10% (letzte 10J)': c7,\n  'C9: DivRendite >=2,5% (letzte 10J)': c8,\n  'C10: Umsatzrendite >=5% (letzte 10J)': c10,\n  'C11: Global taetig': c9,\n  _sortKey: latestVal(divArr) ?? -999\n});\n\nreturn [{ json: { name: company.name, c11 } }];"
      },
      "id": "58d63167-ff0a-46e8-b205-5be6ac26df34",
      "name": "Auswertung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const company = $input.first().json;\n\nconst result = await new Promise((resolve, reject) => {\n  const http = require('http');\n  const body = JSON.stringify({ kennzahlenUrl: company.url, timeout: 40000 });\n  const req = http.request({\n    hostname: 'playwright',\n    port: 3001,\n    path: '/extract-kennzahlen',\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body) }\n  }, (res) => {\n    let data = '';\n    res.on('data', chunk => data += chunk);\n    res.on('end', () => { try { resolve(JSON.parse(data)); } catch(e) { reject(e); } });\n  });\n  req.on('error', reject);\n  req.write(body);\n  req.end();\n});\n\nreturn [{ json: result }];"
      },
      "id": "5f6996be-d60f-422c-821f-d331c310da0b",
      "name": "Daten abrufen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -16
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nif (!sd.results || sd.results.length === 0) return [];\n\nconst rows = [...sd.results]\n  .sort((a, b) => b._sortKey - a._sortKey)\n  .map(({ _sortKey, ...r }) => r);\n\nreturn [{ json: { rows, filename: 'aktien-dividenden-analyse.xlsx' } }];"
      },
      "id": "7eb2f01d-5f71-4b97-b1f7-6f1e3aad8a3d",
      "name": "Daten aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://playwright:3001/export",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ rows: $json.rows, filename: $json.filename }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "496c247d-b9b5-4839-80ba-a3f7b32c0bd6",
      "name": "Datei exportieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1248,
        -16
      ],
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Unternehmen laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unternehmen laden": {
      "main": [
        [
          {
            "node": "Einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Einzeln verarbeiten": {
      "main": [
        [
          {
            "node": "Daten abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auswertung": {
      "main": [
        [
          {
            "node": "Einzeln verarbeiten",
            "type": "main",
            "index": 0
          },
          {
            "node": "Daten aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten abrufen": {
      "main": [
        [
          {
            "node": "Auswertung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten aufbereiten": {
      "main": [
        [
          {
            "node": "Datei exportieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "11c2f445-81c0-4c67-9ded-05ab43c98f07",
  "meta": {
    "instanceId": "16c73b0c588f266fed094b5dba2f9526d3e50d09452354a371a70c3a4b4687a9"
  },
  "id": "do4hJjxVlCPdokX7",
  "tags": []
}