n8n/workflows/jobsuche/jobsuche-scrum-master - arbeitsagentur.json
{
  "name": "Jobsuche Scrum Master Köln/Bonn",
  "nodes": [
    {
      "parameters": {
        "url": "https://rest.arbeitsagentur.de/jobboerse/jobsuche-service/pc/v4/jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "was",
              "value": "Scrum Master"
            },
            {
              "name": "wo",
              "value": "Köln"
            },
            {
              "name": "umkreis",
              "value": "50"
            },
            {
              "name": "angebotsart",
              "value": "1"
            },
            {
              "name": "aktualitaet",
              "value": "100"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "size",
              "value": "50"
            },
            {
              "name": "pav",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "jobboerse-jobsuche"
            },
            {
              "name": "User-Agent",
              "value": "Jobsuche/2.9.2 (de.arbeitsagentur.jobboerse; build:1077; iOS 15.1.0) Alamofire/5.4.4"
            }
          ]
        },
        "options": {}
      },
      "id": "a04494b5-9c37-416d-94b8-5306c8717714",
      "name": "Arbeitsagentur API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -10432,
        8016
      ]
    },
    {
      "parameters": {
        "jsCode": "function esc(str) {\n  return String(str || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\n\nconst jobs = $input.first().json.stellenangebote || [];\n\n// Timestamps ohne Zeitzone als lokale Zeit (CET/CEST) parsen\nfunction parseTimestamp(ts) {\n  if (!ts) return null;\n  if (/Z$|[+-]\\d{2}:\\d{2}$/.test(ts)) return new Date(ts);\n  const offset = new Date().getTimezoneOffset(); // -60 fuer CET, -120 fuer CEST\n  const sign = offset <= 0 ? '+' : '-';\n  const h = String(Math.floor(Math.abs(offset) / 60)).padStart(2, '0');\n  const m = String(Math.abs(offset) % 60).padStart(2, '0');\n  return new Date(ts + sign + h + ':' + m);\n}\n\n// Nur Jobs der letzten 15 Minuten + 10 Sekunden\nconst cutoff = new Date(Date.now() - 910 * 1000);\nconst recentJobs = jobs.filter(job => {\n  if (!job.modifikationsTimestamp) return false;\n  return parseTimestamp(job.modifikationsTimestamp) >= cutoff;\n});\n\n// Bereits gesendete Job-IDs laden (persistent über Runs)\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.sentIds) staticData.sentIds = {};\n\n// Alte Einträge aufräumen (älter als 7 Tage)\nconst sevenDaysAgo = Date.now() - 7 * 24 * 60 * 60 * 1000;\nfor (const id of Object.keys(staticData.sentIds)) {\n  if (staticData.sentIds[id] < sevenDaysAgo) delete staticData.sentIds[id];\n}\n\n// Nur Jobs, die noch nicht gesendet wurden\nconst newJobs = recentJobs.filter(job => {\n  const id = job.refnr;\n  if (!id) return false;\n  return !staticData.sentIds[id];\n});\n\nif (newJobs.length === 0) {\n  return [{ json: { hasJobs: false, telegramText: '', jobCount: 0 } }];\n}\n\n// Neue IDs als gesendet markieren\nfor (const job of newJobs) {\n  staticData.sentIds[job.refnr] = Date.now();\n}\n\nlet text = '';\nnewJobs.forEach((job, i) => {\n  const titel = esc(job.titel);\n  const arbeitgeber = esc(job.arbeitgeber);\n  const ort = esc(job.arbeitsort?.ort || job.arbeitsort?.plz || 'k.A.');\n  const refnr = job.refnr || '';\n  const jobUrl = job.externeUrl ? job.externeUrl : `https://www.arbeitsagentur.de/jobsuche/jobdetail/${refnr}`;\n  const veroeffentlicht = job.aktuelleVeroeffentlichungsdatum\n    ? new Date(job.aktuelleVeroeffentlichungsdatum).toLocaleDateString('de-DE')\n    : 'k.A.';\n  const modified = job.modifikationsTimestamp\n    ? new Date(job.modifikationsTimestamp).toLocaleString('de-DE')\n    : 'k.A.';\n  const arbeitszeit = Array.isArray(job.arbeitszeit)\n    ? esc(job.arbeitszeit.join(', '))\n    : esc(job.arbeitszeit || 'k.A.');\n\n  text += `<b>${i + 1}. ${titel}</b>\\n`;\n  text += `Arbeitgeber: ${arbeitgeber}\\n`;\n  text += `Ort: ${ort}\\n`;\n  text += `Arbeitszeit: ${arbeitszeit}\\n`;\n  text += `Veroeffentlicht: ${veroeffentlicht}\\n`;\n  text += `Aktualisiert: ${modified}\\n`;\n  text += `<a href='${jobUrl}'>Zur Stelle</a>\\n\\n`;\n});\n\nreturn [{ json: { hasJobs: true, telegramText: text, jobCount: newJobs.length } }];"
      },
      "id": "fb4e879f-4399-454d-9602-fd7bbf678d5c",
      "name": "Nachricht formatieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10224,
        8016
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-jobs",
              "leftValue": "={{ $json.hasJobs }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d5580d9c-af42-45cd-839e-86e36b57d5dc",
      "name": "Jobs vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -10000,
        8016
      ]
    },
    {
      "parameters": {
        "chatId": "7461331112",
        "text": "=<b>{{ $json.jobCount }} Scrum Master Job(s)</b> - Raum Köln/Bonn\n\n{{ $json.telegramText }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "99815fdc-ef28-4af6-9b23-42ac5d53d73b",
      "name": "Telegram senden",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -9776,
        7888
      ],
      "webhookId": "3556a937-13ae-44d6-a4b7-5c52ace6354c",
      "credentials": {
        "telegramApi": {
          "id": "rklKtRaqUVtTpYYC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "b2ba268d-e621-49b6-82af-7031f085c4ab",
      "name": "Keine Jobs (Ende)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -9776,
        8128
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "465b5f33-1ba4-48c3-98bc-dcc44155382a",
      "name": "Alle 15 Minuten",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -10656,
        8016
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Arbeitsagentur API": {
      "main": [
        [
          {
            "node": "Nachricht formatieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nachricht formatieren": {
      "main": [
        [
          {
            "node": "Jobs vorhanden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jobs vorhanden?": {
      "main": [
        [
          {
            "node": "Telegram senden",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Keine Jobs (Ende)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alle 15 Minuten": {
      "main": [
        [
          {
            "node": "Arbeitsagentur API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9afc7653-328c-48de-b960-48a3f511394c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64094ca7a5a36732f288d31f7506b6a12e6d968330cffbf858779324b78b092f"
  },
  "id": "WXCVcvmy2pW3sz9R",
  "tags": []
}