n8n/workflows/preisvergleich/wochenangebote_essen.json
{
  "name": "Supermarkt Preisvergleich",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Wöchentlicher Start",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "var data = [\n  [\"Hackfleisch\",\"fleisch\"],\n  [\"Haehnchenbrust\",\"fleisch\"],\n  [\"Haehnchenfilet\",\"fleisch\"],\n  [\"Schweinefilet\",\"fleisch\"],\n  [\"Rinderfilet\",\"fleisch\"],\n  [\"Gefluegel\",\"fleisch\"],\n  [\"Lammfleisch\",\"fleisch\"],\n  [\"Kalbfleisch\",\"fleisch\"],\n  [\"Rinderhack\",\"fleisch\"],\n  [\"gemischtes Hack\",\"fleisch\"],\n  [\"Lammhack\",\"fleisch\"],\n  [\"Putenhack\",\"fleisch\"],\n  [\"Schweinehack\",\"fleisch\"],\n  [\"Kabeljau\",\"fisch\"],\n  [\"Rotbarsch\",\"fisch\"],\n  [\"Forelle\",\"fisch\"],\n  [\"Heilbutt\",\"fisch\"],\n  [\"Dorsch\",\"fisch\"],\n  [\"Fischfilet\",\"fisch\"],\n  [\"Garnelen\",\"fisch\"],\n  [\"Shrimps\",\"fisch\"],\n  [\"Riesengarnelen\",\"fisch\"],\n  [\"Calamari\",\"fisch\"],\n  [\"Tintenfisch\",\"fisch\"],\n  [\"Muscheln\",\"fisch\"],\n  [\"Jakobsmuscheln\",\"fisch\"],\n  [\"Meeresfruechte\",\"fisch\"],\n  [\"Cherrytomate\",\"gemuese\"],\n  [\"Cherrytomaten\",\"gemuese\"],\n  [\"Cherry Tomaten\",\"gemuese\"],\n  [\"Rispentomaten\",\"gemuese\"],\n  [\"Mini-Rispentomaten\",\"gemuese\"],\n  [\"Strauchtomaten\",\"gemuese\"],\n  [\"Cocktailtomaten\",\"gemuese\"],\n  [\"Romatomaten\",\"gemuese\"],\n  [\"Salatgurke\",\"gemuese\"],\n  [\"Salatgurken\",\"gemuese\"],\n  [\"Minigurke\",\"gemuese\"],\n  [\"Snackgurke\",\"gemuese\"],\n  [\"Schlangengurke\",\"gemuese\"],\n  [\"Paprika\",\"gemuese\"],\n  [\"Paprika rot\",\"gemuese\"],\n  [\"Paprika gelb\",\"gemuese\"],\n  [\"Paprika gruen\",\"gemuese\"],\n  [\"Zucchini\",\"gemuese\"],\n  [\"Aubergine\",\"gemuese\"],\n  [\"Peperoni\",\"gemuese\"],\n  [\"Spitzpaprika\",\"gemuese\"],\n  [\"Kartoffeln\",\"gemuese\"],\n  [\"Suesskartoffel\",\"gemuese\"],\n  [\"Drillinge\",\"gemuese\"],\n  [\"Salatkartoffeln\",\"gemuese\"],\n  [\"Fruehkartoffeln\",\"gemuese\"],\n  [\"Backkartoffel\",\"gemuese\"],\n  [\"Mozzarella\",\"kaese\"],\n  [\"Bio Mozzarella\",\"kaese\"],\n  [\"Gouda\",\"kaese\"],\n  [\"Camembert\",\"kaese\"],\n  [\"Frischkaese\",\"kaese\"],\n  [\"Halloumi\",\"kaese\"],\n  [\"Brie\",\"kaese\"],\n  [\"Parmigiano\",\"kaese\"],\n  [\"Parmesan\",\"kaese\"],\n  [\"Emmentaler\",\"kaese\"],\n  [\"Edamer\",\"kaese\"],\n  [\"Ricotta\",\"kaese\"],\n  [\"Feta\",\"kaese\"],\n  [\"Schnittkaese\",\"kaese\"],\n  [\"Huettenkaese\",\"kaese\"],\n  [\"Koerniger Frischkaese\",\"kaese\"],\n  [\"Doppelrahmfrischkaese\",\"kaese\"],\n  [\"Kraeuterfrischkaese\",\"kaese\"],\n  [\"Bacon\",\"wurst\"],\n  [\"Fruehstuecksspeck\",\"wurst\"],\n  [\"Salami\",\"wurst\"],\n  [\"Schinken\",\"wurst\"],\n  [\"Serrano\",\"wurst\"],\n  [\"Aufschnitt\",\"wurst\"],\n  [\"Putenbrust\",\"wurst\"],\n  [\"Haehnchenaufschnitt\",\"wurst\"],\n  [\"Leberwurst\",\"wurst\"],\n  [\"Bratwurst\",\"wurst\"],\n  [\"Wiener Wuerstchen\",\"wurst\"],\n  [\"Fleischwurst\",\"wurst\"],\n  [\"Joghurt\",\"milch\"],\n  [\"Sahnejoghurt\",\"milch\"],\n  [\"Naturjoghurt\",\"milch\"],\n  [\"Fruchtjoghurt\",\"milch\"],\n  [\"Skyr\",\"milch\"],\n  [\"Schmand\",\"milch\"],\n  [\"Schlagsahne\",\"milch\"],\n  [\"Sauerrahm\",\"milch\"],\n  [\"Creme fraiche\",\"milch\"],\n  [\"Quark\",\"milch\"],\n  [\"Magerquark\",\"milch\"],\n  [\"Speisequark\",\"milch\"],\n  [\"Vollmilch\",\"milch\"],\n  [\"Frischmilch\",\"milch\"],\n  [\"H-Milch\",\"milch\"],\n  [\"Weidemilch\",\"milch\"],\n  [\"Landmilch\",\"milch\"],\n  [\"Butter\",\"milch\"],\n  [\"Bio Butter\",\"milch\"],\n  [\"Suessrahmbutter\",\"milch\"],\n  [\"Sauerrahmbutter\",\"milch\"],\n  [\"Margarine\",\"milch\"],\n  [\"Kokosfett\",\"milch\"],\n  [\"Kerrygold\",\"milch\"],\n  [\"Pflanzenoel\",\"milch\"],\n  [\"Olivenoel\",\"gewuerze\"],\n  [\"Rapsoel\",\"gewuerze\"],\n  [\"Sonnenblumenoel\",\"gewuerze\"],\n  [\"Frittieroel\",\"gewuerze\"],\n  [\"Leinoel\",\"gewuerze\"],\n  [\"Balsamico\",\"gewuerze\"],\n  [\"Weissweinessig\",\"gewuerze\"],\n  [\"Apfelessig\",\"gewuerze\"],\n  [\"Meersalz\",\"gewuerze\"],\n  [\"Curry\",\"gewuerze\"],\n  [\"Paprikapulver\",\"gewuerze\"],\n  [\"Oregano\",\"gewuerze\"],\n  [\"Elstar\",\"obst\"],\n  [\"Braeburn\",\"obst\"],\n  [\"Gala\",\"obst\"],\n  [\"Jonagold\",\"obst\"],\n  [\"Boskoop\",\"obst\"],\n  [\"Conference\",\"obst\"],\n  [\"Williams\",\"obst\"],\n  [\"Birne\",\"obst\"],\n  [\"Banane\",\"obst\"],\n  [\"Erdbeere\",\"obst\"],\n  [\"Weintraube\",\"obst\"],\n  [\"Kiwi\",\"obst\"],\n  [\"Aprikose\",\"obst\"],\n  [\"Pfirsich\",\"obst\"],\n  [\"Nektarine\",\"obst\"],\n  [\"Melone\",\"obst\"],\n  [\"Wassermelone\",\"obst\"],\n  [\"Mango\",\"obst\"],\n  [\"Ketchup\",\"saucen\"],\n  [\"Passata\",\"saucen\"],\n  [\"Polpa\",\"saucen\"],\n  [\"Sojasauce\",\"saucen\"],\n  [\"Worcestershire\",\"saucen\"],\n  [\"Mayonnaise\",\"saucen\"],\n  [\"Senf\",\"saucen\"],\n  [\"Tomatenmark\",\"saucen\"],\n  [\"Tomatenkonzentrat\",\"saucen\"],\n  [\"Ajvar\",\"saucen\"],\n  [\"Pesto\",\"saucen\"],\n  [\"Tomatensauce\",\"saucen\"],\n  [\"Haferflocken\",\"fruehstueck\"],\n  [\"Granola\",\"fruehstueck\"],\n  [\"Cornflakes\",\"fruehstueck\"],\n  [\"Porridge\",\"fruehstueck\"],\n  [\"Cerealien\",\"fruehstueck\"],\n  [\"Muesli\",\"fruehstueck\"],\n  [\"Knuspermuesli\",\"fruehstueck\"],\n  [\"Fruehstuecksflocken\",\"fruehstueck\"],\n  [\"Spueltabs\",\"haushalt\"],\n  [\"Geschirrspuelmittel\",\"haushalt\"],\n  [\"Waschmittel\",\"haushalt\"],\n  [\"Muellbeutel\",\"haushalt\"],\n  [\"Reiniger\",\"haushalt\"],\n  [\"Allzweckreiniger\",\"haushalt\"],\n  [\"Spuelmittel\",\"haushalt\"],\n  [\"Toastbrot\",\"backwaren\"],\n  [\"Broetchen\",\"backwaren\"],\n  [\"Baguette\",\"backwaren\"],\n  [\"Laugenbrezeln\",\"backwaren\"],\n  [\"Dinkelbroetchen\",\"backwaren\"],\n  [\"Vollkorntoast\",\"backwaren\"],\n  [\"Koernerbroetchen\",\"backwaren\"],\n  [\"Brot\",\"backwaren\"],\n  [\"Doener\",\"fertiggericht\"],\n  [\"Falafel\",\"fertiggericht\"],\n  [\"Dueruem\",\"fertiggericht\"],\n  [\"Gyros\",\"fertiggericht\"],\n  [\"Pizza\",\"fertiggericht\"],\n  [\"Wrap\",\"fertiggericht\"],\n  [\"Frikassee\",\"fertiggericht\"],\n  [\"Tortellini\",\"fertiggericht\"],\n  [\"Schupfnudeln\",\"fertiggericht\"],\n  [\"Lasagne\",\"fertiggericht\"],\n  [\"Ravioli\",\"fertiggericht\"],\n  [\"Gnocchi\",\"fertiggericht\"],\n  [\"Tiefkuehlgericht\",\"fertiggericht\"],\n  [\"Chicken Burger\",\"fertiggericht\"],\n  [\"Veggie Burger\",\"fertiggericht\"],\n  [\"Fischburger\",\"fertiggericht\"],\n  [\"Hamburger\",\"fertiggericht\"],\n  [\"Cheeseburger\",\"fertiggericht\"],\n  [\"Pulled Pork Burger\",\"fertiggericht\"],\n  [\"Weizenmehl\",\"grundnahrung\"],\n  [\"Dinkelmehl\",\"grundnahrung\"],\n  [\"Roggenmehl\",\"grundnahrung\"],\n  [\"Pizzamehl\",\"grundnahrung\"],\n  [\"Jasminreis\",\"grundnahrung\"],\n  [\"Basmati\",\"grundnahrung\"],\n  [\"Vollkornreis\",\"grundnahrung\"],\n  [\"Milchreis\",\"grundnahrung\"],\n  [\"Spaghetti\",\"grundnahrung\"],\n  [\"Penne\",\"grundnahrung\"],\n  [\"Fusilli\",\"grundnahrung\"],\n  [\"Tagliatelle\",\"grundnahrung\"],\n  [\"Vollkornnudeln\",\"grundnahrung\"],\n  [\"Eier\",\"grundnahrung\"],\n  [\"Kaffee\",\"kaffee\"],\n  [\"Espresso\",\"kaffee\"],\n  [\"Filterkaffee\",\"kaffee\"],\n  [\"Kaffeebohnen\",\"kaffee\"],\n  [\"Instantkaffee\",\"kaffee\"],\n  [\"Lungo\",\"kaffee\"],\n  [\"Kaffeepad\",\"kaffee\"],\n  [\"Tofu\",\"vegan\"],\n  [\"Tempeh\",\"vegan\"],\n  [\"Veggie Nuggets\",\"vegan\"],\n  [\"Seitan\",\"vegan\"],\n  [\"Veganer Aufschnitt\",\"vegan\"],\n  [\"Veganer Kaese\",\"vegan\"],\n  [\"Haferbrot\",\"vegan\"]\n];\nreturn data.map(function(d) {\n  return {json: {name: d[0], kategorie: d[1], einheit: \"stk\", menge: 1}};\n});"
      },
      "id": "code-produktliste",
      "name": "Produktliste",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://mobile-api.rewe.de/api/v3/all-offers?marketCode=1940164",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (iPhone; CPU iPhone OS 17_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-Language",
              "value": "de-DE,de;q=0.9"
            },
            {
              "name": "Referer",
              "value": "https://www.rewe.de/"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "rewe-angebote",
      "name": "REWE Angebote laden",
      "disabled": true,
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        480,
        300
      ],
      "continueOnFail": true,
      "notes": "Marktcode 1940164 aus der URL: rewe.de/angebote/.../1940164/... Lädt alle aktuellen Angebote auf einmal."
    },
    {
      "parameters": {
        "jsCode": "const angebote = $input.all().map(i => i.json).filter(i => i.laden);\n\nconst produktMap = {};\nfor (const a of angebote) {\n  if (!produktMap[a.produkt]) {\n    produktMap[a.produkt] = {\n      name: a.produkt,\n      kategorie: a.kategorie,\n      einheit: a.einheit,\n      menge: a.menge,\n      preise: []\n    };\n  }\n  produktMap[a.produkt].preise.push(a);\n}\n\nconst ergebnisse = [];\nfor (const p of Object.values(produktMap)) {\n  const mitPreis = p.preise.filter(pr => pr.preis !== null);\n  if (mitPreis.length === 0) continue;\n\n  const guenstigster = Math.min(...mitPreis.map(pr => pr.paketpreis ?? pr.preis));\n  const schwelle = guenstigster * 1.20;\n\n  const zugewiesen = mitPreis\n    .filter(pr => (pr.paketpreis ?? pr.preis) <= schwelle)\n    .map(pr => ({\n      laden: pr.laden,\n      preis: pr.preis,\n      paketpreis: pr.paketpreis,\n      effektivPreis: pr.paketpreis ?? pr.preis,\n      angebot: pr.istAngebot,\n      istGünstigster: (pr.paketpreis ?? pr.preis) === guenstigster,\n      comparisonDisplay: pr.comparisonDisplay ?? null,\n      paketpreisDisplay: pr.paketpreisDisplay ?? null,\n      vergleichseinheit: pr.vergleichseinheit ?? null,\n      sellingSize: pr.sellingSize ?? null,\n      angebotTitel: pr.angebotTitel ?? null\n    }));\n\n  ergebnisse.push({ ...p, günstigsterPreis: guenstigster, zugewiesen });\n}\n\nreturn ergebnisse.map(e => ({ json: e }));"
      },
      "id": "preise-zusammenfuehren",
      "name": "Preise zusammenführen & vergleichen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Einkaufslisten pro Laden erstellen\nconst alle = $input.all();\n\nconst lädenMap = {\n  'REWE Oedekoven': [],\n  'EDEKA Schwindt': [],\n  'Aldi Süd': []\n};\n\n// Normalisierung der Ladennamen\nfunction normalisiereLaden(name) {\n  const n = (name || '').toLowerCase();\n  if (n.includes('rewe')) return 'REWE Oedekoven';\n  if (n.includes('edeka')) return 'EDEKA Schwindt';\n  if (n.includes('aldi')) return 'Aldi Süd';\n  return null;\n}\n\nfor (const item of alle) {\n  const p = item.json;\n  if (!p.zugewiesen || p.zugewiesen.length === 0) continue;\n\n  for (const zuweisung of p.zugewiesen) {\n    const laden = normalisiereLaden(zuweisung.laden);\n    if (laden && lädenMap[laden] !== undefined) {\n      lädenMap[laden].push({\n        produkt: p.name,\n        kategorie: p.kategorie,\n        menge: p.menge,\n        einheit: p.einheit,\n        preis: zuweisung.effektivPreis,\n        istAngebot: zuweisung.angebot,\n        istGünstigster: zuweisung.istGünstigster,\n        comparisonDisplay: zuweisung.comparisonDisplay ?? null,\n        paketpreisDisplay: zuweisung.paketpreisDisplay ?? null,\n        sellingSize: zuweisung.sellingSize ?? null,\n        angebotTitel: zuweisung.angebotTitel ?? null\n      });\n    }\n  }\n}\n\n// Output: ein Objekt pro Laden\nreturn Object.entries(lädenMap).map(([laden, produkte]) => ({\n  json: {\n    laden,\n    anzahlProdukte: produkte.length,\n    gesamtGeschätzt: produkte.reduce((s, p) => s + (p.preis || 0), 0).toFixed(2),\n    produkte: produkte.sort((a, b) => a.kategorie.localeCompare(b.kategorie))\n  }\n}));"
      },
      "id": "einkaufslisten-erstellen",
      "name": "Einkaufslisten pro Laden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Plaintext Einkaufslisten mit Stichpunkten generieren\nconst läden = $input.all();\nconst datum = new Date().toLocaleDateString('de-DE', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' });\n\nlet text = `EINKAUFSLISTEN – ${datum}\\n`;\ntext += `${'='.repeat(37)}\\n\\n`;\n\nfor (const item of läden) {\n  const { laden, produkte, gesamtGeschätzt, anzahlProdukte } = item.json;\n\n  text += `${laden.toUpperCase()}\\n`;\n  text += `${'-'.repeat(laden.length)}\\n`;\n\n  if (produkte.length === 0) {\n    text += `  (keine Produkte diese Woche)\\n`;\n  } else {\n    // Nach Kategorie gruppieren\n    const nachKategorie = {};\n    for (const p of produkte) {\n      if (!nachKategorie[p.kategorie]) nachKategorie[p.kategorie] = [];\n      nachKategorie[p.kategorie].push(p);\n    }\n\n    for (const [kat, prods] of Object.entries(nachKategorie)) {\n      text += `\\n  [${kat.toUpperCase()}]\\n`;\n      for (const p of prods) {\n        const info = (p.sellingSize && p.paketpreisDisplay)\n          ? ` (${p.sellingSize} - ${p.paketpreisDisplay.trim()})`\n          : p.sellingSize ? ` (${p.sellingSize})` : '';\n        const preisText = p.comparisonDisplay\n          ? p.comparisonDisplay.trim()\n          : p.preis ? `${Number(p.preis).toFixed(2)} €` : 'Preis unbekannt';\n        text += `  • ${p.produkt}${info} – ${preisText}\\n`;\n      }\n    }\n\n  }\n\n  text += `\\n`;\n}\n\ntext += `${'='.repeat(37)}\\n`;\ntext += `Preise pro kg/L\\n`;\n\nreturn [{ json: { text, filename: 'einkaufslisten_' + new Date().toISOString().slice(0,10) + '.txt' } }];"
      },
      "id": "html-generieren",
      "name": "Plaintext Einkaufslisten generieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "7461331112",
        "text": "={{ $input.first().json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-benachrichtigung",
      "name": "Telegram Benachrichtigung",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2360,
        500
      ],
      "notes": "Optional: Telegram Bot Token + Chat ID als n8n-Variablen hinterlegen."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.zugewiesen.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "filter-ohne-preis",
      "name": "Nur Produkte mit Preisdaten",
      "type": "n8n-nodes-base.filter",
      "position": [
        1640,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// REWE Angebote filtern – passendes Angebot pro Produkt finden\nconst produktliste = $('Produktliste').all().map(p => p.json);\nconst reweResponse = $input.first();\n\nlet angebote = [];\ntry {\n  const body = reweResponse.json;\n  angebote = body.offers\n    || body.data?.offers\n    || (body.categories || []).flatMap(c => c.offers || [])\n    || [];\n} catch(e) {\n  angebote = [];\n}\n\nconst ergebnisse = [];\n\nfunction normalize(s) {\n    return s.toLowerCase()\n      .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue')\n      .replace(/Ä/g, 'ae').replace(/Ö/g, 'oe').replace(/Ü/g, 'ue')\n      .replace(/ß/g, 'ss').replace(/[()\\-\\/]/g, ' ');\n  }\n  for (const produkt of produktliste) {\n  const suchwoerter = normalize(produkt.name).split(' ').filter(w => w.length > 2);\n\n  const treffer = angebote.filter(a => {\n    const titel = normalize(a.title || a.name || '');\n    return suchwoerter.some(w => titel.includes(w));\n  });\n\n  for (const t of treffer) {\n    ergebnisse.push({\n      produkt: produkt.name,\n      kategorie: produkt.kategorie,\n      einheit: produkt.einheit,\n      menge: produkt.menge,\n      laden: 'REWE Oedekoven',\n      angebotTitel: t.title || t.name,\n      preis: t.price?.value ?? t.regularPrice ?? null,\n      angebotPreis: t.offerPrice?.value ?? t.discountedPrice ?? null,\n      gueltigBis: t.validUntil || t.endDate || null,\n      istAngebot: true\n    });\n  }\n\n  if (treffer.length === 0) {\n    ergebnisse.push({\n      produkt: produkt.name,\n      kategorie: produkt.kategorie,\n      einheit: produkt.einheit,\n      menge: produkt.menge,\n      laden: 'REWE Oedekoven',\n      angebotTitel: null,\n      preis: null,\n      angebotPreis: null,\n      gueltigBis: null,\n      istAngebot: false\n    });\n  }\n}\n\nreturn ergebnisse.map(e => ({ json: e }));"
      },
      "id": "rewe-filtern",
      "name": "REWE Angebote filtern",
      "type": "n8n-nodes-base.code",
      "position": [
        720,
        300
      ],
      "continueOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://www.edeka.de/maerkte/073519/angebote/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "de-DE,de;q=0.9"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "edeka-scrape",
      "name": "EDEKA Angebote laden",
      "disabled": true,
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        480,
        500
      ],
      "continueOnFail": true,
      "notes": "Markt-ID 073519 = EDEKA Schwindt, Hauptstr. 283, Alfter-Witterschlick. Direkt aus der URL."
    },
    {
      "parameters": {
        "jsCode": "// EDEKA HTML parsen und Angebote extrahieren\nconst produktliste = $('Produktliste').all().map(p => p.json);\nconst html = $input.first().json.data || $input.first().json.body || '';\n\n// Angebote aus HTML extrahieren\n// EDEKA-Struktur: h2/h3 mit Produktname, dann Preis-Div, dann Beschreibungstext\nconst angebote = [];\n\n// Regex für Angebot-Blöcke: Titel + Preis + Beschreibung\nconst angebotsBlocks = html.matchAll(\n  /###?\\s*Angebot:\\s*([^\\n]+)\\n[\\s\\S]*?(?:\\*\\*Gültig ab ([^*]+)\\*\\*)?\\s*[\\s\\S]*?(?:\\*\\*[-\\d]+\\s*%\\*\\*)?\\s*([\\d]+)\\.\\s*([\\d]+)\\s*([\\s\\S]*?)(?=###?\\s*Angebot:|$)/gi\n);\n\nfor (const match of angebotsBlocks) {\n  const name = match[1]?.trim() || '';\n  const gueltigAb = match[2]?.trim() || '';\n  const euro = parseInt(match[3] || '0');\n  const cent = parseInt(match[4] || '0');\n  const beschreibung = match[5]?.replace(/\\n+/g, ' ').trim().slice(0, 200) || '';\n\n  // Grundpreis extrahieren (z.B. \"1kg = € 3,73\")\n  const grundpreisMatch = beschreibung.match(/1kg\\s*=\\s*[€€]\\s*([\\d,]+)/);\n  const grundpreis = grundpreisMatch\n    ? parseFloat(grundpreisMatch[1].replace(',', '.'))\n    : null;\n\n  if (name && (euro > 0 || cent > 0)) {\n    angebote.push({\n      titel: name,\n      preis: euro + cent / 100,\n      grundpreis,\n      beschreibung: beschreibung.slice(0, 150),\n      gueltigAb,\n      laden: 'EDEKA Schwindt'\n    });\n  }\n}\n\n// Produkte mit Angeboten matchen\nconst ergebnisse = [];\n\nfunction normalize(s) {\n    return s.toLowerCase()\n      .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue')\n      .replace(/Ä/g, 'ae').replace(/Ö/g, 'oe').replace(/Ü/g, 'ue')\n      .replace(/ß/g, 'ss').replace(/[()\\-\\/]/g, ' ');\n  }\n  for (const produkt of produktliste) {\n  const suchwoerter = normalize(produkt.name).split(' ').filter(w => w.length > 2);\n\n  const treffer = angebote.filter(a => {\n    const titel = normalize(a.titel);\n    return suchwoerter.some(w => titel.includes(w));\n  });\n\n  for (const t of treffer) {\n    ergebnisse.push({\n      produkt: produkt.name,\n      kategorie: produkt.kategorie,\n      einheit: produkt.einheit,\n      menge: produkt.menge,\n      laden: 'EDEKA Schwindt',\n      angebotTitel: t.titel,\n      preis: t.preis,\n      grundpreis: t.grundpreis,\n      angebotPreis: t.preis,\n      beschreibung: t.beschreibung,\n      gueltigAb: t.gueltigAb,\n      istAngebot: true\n    });\n  }\n\n  if (treffer.length === 0) {\n    ergebnisse.push({\n      produkt: produkt.name,\n      kategorie: produkt.kategorie,\n      einheit: produkt.einheit,\n      menge: produkt.menge,\n      laden: 'EDEKA Schwindt',\n      angebotTitel: null,\n      preis: null,\n      grundpreis: null,\n      angebotPreis: null,\n      beschreibung: null,\n      gueltigAb: null,\n      istAngebot: false\n    });\n  }\n}\n\nreturn ergebnisse.map(e => ({ json: e }));"
      },
      "id": "edeka-filtern",
      "name": "EDEKA Angebote parsen & filtern",
      "type": "n8n-nodes-base.code",
      "position": [
        720,
        500
      ],
      "continueOnFail": true,
      "notes": "Parsed das EDEKA-HTML. Extrahiert Produktname, Aktionspreis und Grundpreis (€/kg). Gültig ab-Datum wird mitgeführt.",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-edeka-aldi",
      "name": "Merge EDEKA & Aldi",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        960,
        600
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-angebote",
      "name": "Alle Angebote mergen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1160,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const produktliste = $('Produktliste').all().map(p => p.json);\n\nconst BASE_URL = 'https://api.aldi-sued.de/v3/product-search';\nconst BASE_QS = { currency: 'EUR', serviceType: 'walk-in', categoryKey: '1588161426582123', servicePoint: 'B441', limit: 60 };\n\nconst [seite1, seite2] = await Promise.all([\n  this.helpers.httpRequest({ method: 'GET', url: BASE_URL, qs: { ...BASE_QS, offset: 0 } }),\n  this.helpers.httpRequest({ method: 'GET', url: BASE_URL, qs: { ...BASE_QS, offset: 60 } })\n]);\n\nconst alleAngebote = [\n  ...(seite1?.data || []),\n  ...(seite2?.data || [])\n];\n\nconst ergebnisse = [];\n\nfunction normalize(s) {\n  return s.toLowerCase()\n    .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue')\n    .replace(/Ä/g, 'ae').replace(/Ö/g, 'oe').replace(/Ü/g, 'ue')\n    .replace(/ß/g, 'ss').replace(/[-()\\\/]/g, ' ');\n}\n\nfunction levenshtein(a, b) {\n  const m = a.length, n = b.length;\n  const dp = Array.from({length: m + 1}, (_, i) =>\n    Array.from({length: n + 1}, (_, j) => i === 0 ? j : j === 0 ? i : 0)\n  );\n  for (let i = 1; i <= m; i++)\n    for (let j = 1; j <= n; j++)\n      dp[i][j] = a[i-1] === b[j-1]\n        ? dp[i-1][j-1]\n        : 1 + Math.min(dp[i-1][j], dp[i][j-1], dp[i-1][j-1]);\n  return dp[m][n];\n}\n\nfunction fuzzyMatch(suchwort, text) {\n  const woerter = text.split(' ').filter(w => w.length > 0);\n  const schwelle = Math.max(1, Math.floor(suchwort.length * 0.20));\n  return woerter.some(w => levenshtein(suchwort, w) <= schwelle || w.includes(suchwort));\n}\n\nfor (const produkt of produktliste) {\n  const STOPWOERTER = new Set(['mini', 'maxi', 'mega', 'bio', 'neue', 'frisch', 'extra', 'plus', 'super', 'klein', 'gross', 'light']);\n  const suchwoerter = normalize(produkt.name).split(' ').filter(w => w.length > 3 && !STOPWOERTER.has(w));\n\n  const treffer = alleAngebote.filter(a => {\n    const titel = normalize((a.name || '').split(',')[0]);\n    const marke = normalize(a.brandName || '');\n    return suchwoerter.some(w => fuzzyMatch(w, titel) || fuzzyMatch(w, marke));\n  });\n\n  const besterTreffer = treffer.length === 0 ? [] : [treffer.reduce((best, t) => {\n    const preis = (t.price?.amountRelevant ?? Infinity);\n    const bestPreis = (best.price?.amountRelevant ?? Infinity);\n    return preis < bestPreis ? t : best;\n  })];\n\n  for (const t of besterTreffer) {\n    const compRaw = t.price?.comparisonDisplay || '';\n    const compMatch = compRaw.match(/([\\d,]+)\\s*[€$]/);\n    const preisProEinheit = compMatch ? parseFloat(compMatch[1].replace(',', '.')) : null;\n    const einheitMatch = compRaw.match(/\\/\\s*(\\d+\\s*(?:kg|l|ml|g|stk|st))/i);\n    const vergleichseinheit = einheitMatch ? einheitMatch[1].trim() : null;\n    const paketpreisCent = t.price?.amountRelevant ?? null;\n    const paketpreisEuro = paketpreisCent !== null ? paketpreisCent / 100 : null;\n\n    ergebnisse.push({\n      produkt: produkt.name, kategorie: produkt.kategorie,\n      einheit: produkt.einheit, menge: produkt.menge,\n      laden: 'Aldi Süd',\n      angebotTitel: `${t.brandName ? t.brandName + ' ' : ''}${t.name}`,\n      preis: preisProEinheit, vergleichseinheit, comparisonDisplay: compRaw,\n      paketpreis: paketpreisEuro, paketpreisDisplay: t.price?.amountRelevantDisplay || null,\n      sellingSize: t.sellingSize || null, istAngebot: true\n    });\n  }\n\n  if (treffer.length === 0) {\n    ergebnisse.push({\n      produkt: produkt.name, kategorie: produkt.kategorie,\n      einheit: produkt.einheit, menge: produkt.menge,\n      laden: 'Aldi Süd',\n      angebotTitel: null, preis: null, vergleichseinheit: null,\n      comparisonDisplay: null, paketpreis: null, paketpreisDisplay: null,\n      sellingSize: null, istAngebot: false\n    });\n  }\n}\n\nreturn ergebnisse.filter(e => e.istAngebot).map(e => ({ json: e }));"
      },
      "id": "aldi-filtern",
      "name": "Aldi Angebote laden & filtern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        700
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Wöchentlicher Start": {
      "main": [
        [
          {
            "node": "Produktliste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preise zusammenführen & vergleichen": {
      "main": [
        [
          {
            "node": "Nur Produkte mit Preisdaten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nur Produkte mit Preisdaten": {
      "main": [
        [
          {
            "node": "Einkaufslisten pro Laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Einkaufslisten pro Laden": {
      "main": [
        [
          {
            "node": "Plaintext Einkaufslisten generieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REWE Angebote laden": {
      "main": [
        [
          {
            "node": "REWE Angebote filtern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REWE Angebote filtern": {
      "main": [
        [
          {
            "node": "Alle Angebote mergen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plaintext Einkaufslisten generieren": {
      "main": [
        [
          {
            "node": "Telegram Benachrichtigung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EDEKA Angebote laden": {
      "main": [
        [
          {
            "node": "EDEKA Angebote parsen & filtern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EDEKA Angebote parsen & filtern": {
      "main": [
        [
          {
            "node": "Merge EDEKA & Aldi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge EDEKA & Aldi": {
      "main": [
        [
          {
            "node": "Alle Angebote mergen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Alle Angebote mergen": {
      "main": [
        [
          {
            "node": "Preise zusammenführen & vergleichen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produktliste": {
      "main": [
        [
          {
            "node": "REWE Angebote laden",
            "type": "main",
            "index": 0
          },
          {
            "node": "EDEKA Angebote laden",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aldi Angebote laden & filtern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aldi Angebote laden & filtern": {
      "main": [
        [
          {
            "node": "Merge EDEKA & Aldi",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    "einkauf",
    "preisvergleich",
    "haushalt"
  ]
}